<ng-container *ngIf="column.datatype==='string'">
    <div class="inputgroup">
        <input tabindex="1" type="text" [(ngModel)]="filterValue" [attr.placeholder]="column.text"
            (keyup)="keyUpSearch(column)" type="text" class="input-control"
            aria-label="Text input with dropdown button">
        <!--<i class="fa fa-filter" aria-hidden="true" (click)="showToolTip = !showToolTip"></i>-->
        <span style=" cursor: pointer;" tabindex="1" (keyup.enter)="onDataFilterIconClick($event)" (click)="onDataFilterIconClick($event)"
            class="datatable-filter-icon">
            <amexio-c-icon key="datagrid_filter"></amexio-c-icon>
        </span>
        <span *ngIf="showToolTip" class="dropdown" style="width: 250px; right:0">
            <ul class="dropdown-list" *ngFor="let opt of stringFilterArray; let i = index">
                <ng-container *ngIf="opt.type===column.datatype">
                    <li #listId id={{i}} tabindex="1" (keyup.enter)="selectedOption(column,opt)"
                        (keyup.arrowup)="onArrowUpList(listId.id, column.datatype)"
                        (keyup.arrowdown)="onArrowdownList(listId.id, column.datatype)" role="option"
                        class="list-items">
                        <div (click)="selectedOption(column,opt)">
                            {{opt.key}}&nbsp;
                            <i [class]="opt.checkedStatus" aria-hidden="true"></i>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </span>
    </div>
</ng-container>

<ng-container *ngIf="column.datatype==='number'">
    <div class="inputgroup">
        <input tabindex="1" type="text" [(ngModel)]="filterValue" [attr.placeholder]="column.text"
            (keyup)="keyUpSearch(column)" type="number" class="input-control"
            aria-label="Text input with dropdown button">
        <!--<i class="fa fa-filter" aria-hidden="true" (click)="showToolTip = !showToolTip"></i>-->
        <span  style=" cursor: pointer;" tabindex="1" (keyup.enter)="onDataFilterIconClick($event)" (click)="onDataFilterIconClick($event)"
            class="datatable-filter-icon">
            <amexio-c-icon key="datagrid_filter"></amexio-c-icon>
        </span>
        <span *ngIf="showToolTip" class="dropdown" style="width: 250px; right:0">
            <ul class="dropdown-list" *ngFor="let opt of numberFilterArray; let i = index">
                <ng-container *ngIf="opt.type===column.datatype">
                    <li #listId id={{i}} tabindex="1" (keyup.enter)="selectedOption(column,opt)"
                        (keyup.arrowup)="onArrowUpList(listId.id, column.datatype)"
                        (keyup.arrowdown)="onArrowdownList(listId.id, column.datatype)" role="option"
                        class="list-items">
                        <div (click)="selectedOption(column,opt)">
                            {{opt.key}}&nbsp;
                            <i [class]="opt.checkedStatus" aria-hidden="true"></i>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </span>
    </div>
</ng-container>