<div class="inputgroup">

  <label [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
    {{fieldlabel}}
  </label>


  <div class="tag-input">
    <div class="tag" *ngFor="let item of onSelections">
      {{item[key]}}
      <span class="closebtn" (click)="removePill(item)">&times;</span>
    </div>

    <input type="text" class="input-control"
           [ngClass]="{'input-control-error' : inp.invalid && (inp.dirty || inp.touched),'input-control-success' : inp.valid && (inp.dirty || inp.touched)}"
           (focus)="onFocus()"
           (keyup)="onKeyUp($event)"
           [attr.placeholder]="placeholder"
           [attr.disabled]="disabled ? true: null"
           [required]="allowblank ? true: null"
           #inp/>

  </div>


  <span  [ngClass]="{'dropdown-up' : posixUp, 'dropdown' : !posixUp}" [ngStyle]="{'display': showToolTip ? 'block' : 'none'}" #tagDropRef>
    <ul class="dropdown-list">
      <li class="list-items" [ngClass]="{'list-items-active':item['active']}"
          *ngFor="let item of filteredResult"
          (click)="setValue(item,inp)"><div>{{item[displayfield]}}</div></li>
    </ul>
  </span>

</div>


<span *ngIf="iconfeedback && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)"
      class="input-control-feedback">
        <span *ngIf="inp.invalid && (inp.dirty || inp.touched)">&#9888;</span>
        <span *ngIf="inp.valid && (inp.dirty || inp.touched)"> &#10004;</span>

</span>

<span *ngIf="showToolTip && enablepopover" class="tooltiptext">
        <div [innerHTML]="helpInfoMsg"></div>
</span>
