<amexio-row>
  <amexio-column size="12">
    <!--block is true for showing step box  -->
    <p><strong>Step box</strong></p>
    <!--Step-box with fontawesome icons-->
    <amexio-steps [icon]="true" (onClick)="stepBlockClick($event)">
      <amexio-step-block [label]="'User'" [active]="true" [icon]="'fa fa-user'" ></amexio-step-block>
      <amexio-step-block [label]="'Address'" [active]="false" [icon]="'fa fa-address-card'"></amexio-step-block>
      <amexio-step-block [label]="'Shop'" [active]="false" [icon]="'fa fa-shopping-cart'"></amexio-step-block>
      <amexio-step-block [label]="'Payment'" [active]="false" [icon]="'fa fa-cc-visa'"></amexio-step-block>
    </amexio-steps>
  </amexio-column>
</amexio-row>
<amexio-row>
  <amexio-column size="12">
    <!--block is true for showing step box  -->
    <p><strong>Step box with clickabel</strong></p>
    <!--Step box with icon & clickable<-->
    <amexio-steps [block]="true" [icon]="true" (onClick)="stepBlockClick($event)">
      <amexio-step-block [label]="'User'" [active]="user" [icon]="'fa fa-user'"></amexio-step-block>
      <amexio-step-block [label]="'Shop'" [active]="shop" [icon]="'fa fa-address-card'"></amexio-step-block>
      <amexio-step-block [label]="'Payment'" [active]="payment" [icon]="'fa fa-shopping-cart'"></amexio-step-block>
      <amexio-step-block [label]="'Confirmation'" [active]="confirmation" [icon]="'fa fa-cc-visa'"></amexio-step-block>
    </amexio-steps>
  </amexio-column>
</amexio-row>
