$calendarBorderColor : $borderColor;

$calendarHeaderBGColor: $componentHeaderBGColor;
$calendarHeaderColor: $componentHeaderFontColor;

$calendarActiveColor : $componentHoverFontColor;
$calendarActiveBGColor : $componentHoverBGColor;

$calendarInActiveColor : $componentDisabledFontColor;

$calendarActiveColor1 : $componentActiveBGColor;