
  






.rich-text-editor{
  margin: 10px;
  flex: 1;
  padding: unset;
  border-radius: unset;
  
}

  
  // .rich-text-editor {
  //   flex-grow: 1;
  //   border: 1px solid lightgray;
  //   overflow-x: hidden;
  //  }

   .rich-first-div-reverse {
     flex-direction: column-reverse;
     resize: both;
    
     overflow-x: hidden;
     position: relative;
     display: flex;
     
     border: 0px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    
   }
 
  .rich-first-div { 
    border-radius: unset;
    border: 1px solid lightgray;
    resize: both;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
   
  }
  .rich-editor-buttons {
    width: 98%;
  padding: unset;
  margin: 10px;
  border: unset;
  box-shadow: unset;
  border-bottom: none;
    text-align: start;
  }
  .rich-button {
    width: auto;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
    padding: 0px !important;
    box-shadow: none;
  }
 
  .rich-button .button-small {
    padding: 3px !important;
  }
  
  .rich-button .button-small span {
    padding: 0px !important;
  }

  .hidden-input {
    position: absolute;
    width: 1px;
    left: -10000px;
    top: auto;
    height: 1px;
    overflow: hidden;
  }
  .heading-dropdown {
    width: auto;
    padding: .375rem 0;
    background: white;
    line-height: 2;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--componentFontColor);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .heading-dropdown:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    cursor: pointer;
    color: black;
  }


.rich-text-editor::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //background-color: #F5F5F5;
}

.rich-text-editor::-webkit-scrollbar
{
  width: 6px;
  //background-color: #F5F5F5;
}

.rich-text-editor::-webkit-scrollbar-thumb
{
  //background-color: $themeBGColor;
}

.rich-seperator {
 
  margin-right: 16px;
}
.rich-right-space {
  margin-right: 5px;
}
.rich-editor-buttons amexio-layout-columns amexio-layout-item {
  padding: 0px 5px !important;
}