<div (window:resize)="onResize()">
    <div #header class="datatable">
        <div class="datatable-header">
            <ng-container *ngFor="let cols of columns;let i = index">
                <ng-container *ngIf="cols.datatype=='string'">
                    <div class="datatable-col" [ngClass]="{'header' : i == 0}" [style.width.%]="cols.width">
                        <ng-container *ngIf="cols.headerTemplate">
                            <ng-template [ngTemplateOutlet]="cols.headerTemplate" [ngTemplateOutletContext]="{column:cols ,index: i}"></ng-template>
                        </ng-container>
                        <ng-container *ngIf="!cols.headerTemplate">
                            {{cols.text}}
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="cols.datatype=='number'">
                    <ng-container *ngIf="cols.headerTemplate">
                        <ng-template [ngTemplateOutlet]="cols.headerTemplate" [ngTemplateOutletContext]="{column:cols ,index: i}"></ng-template>
                    </ng-container>
                    <ng-container *ngIf="!cols.headerTemplate">
                        <span class="float-right">
                            <div class="datatable-col" [style.width.%]="cols.width" [ngClass]="{'header' : i == 0}"> {{cols.text}}</div>
                        </span>
                    </ng-container>

                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="datatable-height" [style.height.px]="height">
        <div class="datatable">
            <div style="height: 300px;" *ngIf="mask">
                <div class="spinner"></div>
            </div>
            <ng-container *ngIf="!mask">
                <div class="datatable-row" (click)="toogle(row,i)" *ngFor="let row of viewRows;let i=index" (click)="setSelectedRow(row, $event)">
                    <ng-container *ngFor="let cols of columns;let colIndex = index">
                        <ng-container *ngIf="cols.datatype=='string' && !cols?.bodyTemplate">
                            <div class="datatable-col" [attr.data-label]="cols.text" [style.width.%]="cols.width">
                                <ng-container *ngIf="colIndex == 0">
                                    <span [ngStyle]="{'padding-left':(20*row.level)+'px'}">
                                        <ng-container *ngIf="!row.expanded && row.children">
                                            <amexio-data-icon key="tree_collapse"></amexio-data-icon>
                                        </ng-container>
                                        <ng-container *ngIf="row.expanded && row.children">
                                            <amexio-data-icon key="tree_expand"></amexio-data-icon>
                                        </ng-container>
                                        <ng-container *ngIf="row[cols.dataindex]!= null && row[cols.dataindex]!= '' ;else elseBlock">
                                            {{row[cols.dataindex]}}
                                        </ng-container>
                                        <ng-template #elseBlock>
                                            &nbsp;
                                        </ng-template>
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="colIndex > 0">
                                    <ng-container *ngIf="row[cols.dataindex]!= null && row[cols.dataindex]!= '' ;else elseBlock">
                                        {{row[cols.dataindex]}}
                                    </ng-container>
                                    <ng-template #elseBlock>
                                        &nbsp;
                                    </ng-template>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="cols.datatype=='number' && !cols?.bodyTemplate">
                            <div class="datatable-col" [attr.data-label]="cols.text" [style.width.%]="cols.width">
                                <ng-container *ngIf="colIndex == 0">
                                    <span [ngStyle]="{'padding-left':(20*row.level)+'px'}">
                                        <ng-container *ngIf="!row.expanded && row.children">
                                            <amexio-data-icon key="tree_collapse"></amexio-data-icon>
                                        </ng-container>
                                        <ng-container *ngIf="row.expanded && row.children">
                                            <amexio-data-icon key="tree_expand"></amexio-data-icon>
                                        </ng-container>
                                        <span class="float-right">
                                            <ng-container *ngIf="row[cols.dataindex]!= null;else elseBlock">
                                                {{row[cols.dataindex]}}
                                            </ng-container>
                                            <ng-template #elseBlock>
                                                &nbsp;
                                            </ng-template>
                                        </span>
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="colIndex > 0">
                                    <span class="float-right">
                                        <ng-container *ngIf="row[cols.dataindex]!= null;else elseBlock">
                                            {{row[cols.dataindex]}}
                                        </ng-container>
                                        <ng-template #elseBlock>
                                            &nbsp;
                                        </ng-template>
                                    </span>
                                </ng-container>
                            </div>


                        </ng-container>

                        <ng-container *ngIf="cols.bodyTemplate">

                            <div class="datatable-col" [attr.data-label]="cols.text" [style.width.%]="cols.width">
                                <ng-container *ngIf="colIndex == 0">
                                    <span [ngStyle]="{'padding-left':(20*row.level)+'px'}">
                                        <ng-container *ngIf="!row.expanded && row.children">
                                            <amexio-data-icon key="tree_collapse"></amexio-data-icon>
                                        </ng-container>
                                        <ng-container *ngIf="row.expanded && row.children">
                                            <amexio-data-icon key="tree_expand"></amexio-data-icon>
                                        </ng-container>
                                        <ng-template [ngTemplateOutlet]="cols.bodyTemplate" [ngTemplateOutletContext]="{ $implicit: { text : row[cols.dataindex] }, row: row }"></ng-template>

                                    </span>
                                </ng-container>

                                <ng-container *ngIf="colIndex > 0">
                                    <ng-template [ngTemplateOutlet]="cols.bodyTemplate" [ngTemplateOutletContext]="{ $implicit: { text : row[cols.dataindex] }, row: row }"></ng-template>
                                </ng-container>



                            </div>
                        </ng-container>



                    </ng-container>


                </div>
            </ng-container>

        </div>
    </div>
</div>