.amexio-tab-list {
    position:absolute;
    left:0px;
    top:0px;
    margin-left:12px;
    margin-top:0px;
}

.amexio-tabpane-list li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.amexio-tabpane-wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height: 50px;
}

.amexio-tabpane-scroller {
    text-align:center;
    cursor:pointer;
    padding-top:15px;
    vertical-align: top;
}

.amexio-tabpane-scroller-right{
    float:right;
}

.amexio-tabpane-scroller-left {
    float:left;
}
.amexio-tabpane-hide-span{
    display: none;
}
.amexio-tabpane-display-span{
    display: block;
}
.amexio-tabpane-closeicon-position{
    vertical-align: top;
    cursor: pointer;
}