<li *ngFor="let node of filteredOptions" style="padding:5px" (mousedown)="onItemSelect({ item: node, event: $event})">
  <b class="dropdowntreelabel">
    <amexio-display-field [data]="node" [data-index]="displayfield"></amexio-display-field>
  </b>

  <ul aria-labelledby="fieldlabel" aria-haspopup="listbox" class="dropdown-list" style="max-height: unset;">
    <span *ngFor="let item of node[childArrayKey]">

      <li role="option" tabindex="1" style="padding:5px 5px 5px 13px" id="{{item.index}}"
        (mousedown)="onItemSelect({item: item, event: $event})">

        <ng-container *ngIf="bodyTemplate">
          <ng-template [ngTemplateOutlet]="bodyTemplate"
            [ngTemplateOutletContext]="{ $implicit: { text : row }, row: item }">
          </ng-template>
        </ng-container>

        <ng-container *ngIf="!bodyTemplate">
          <span [ngClass]="{'list-items-selected':item.selected, 'list-item-hover1': item.childflag}">
            <amexio-display-field [data]="item" [data-index]="displayfield"></amexio-display-field>
          </span>
        </ng-container>

        <div *ngIf="enablecheckbox && multiselect" style="float : left" class="input-box checkbox">
          <span>{{item?.checked ? '&#10004;': ''}}</span>
        </div>
        <span *ngIf="!enablecheckbox" style="float : right">
          {{item?.checked ? '&#10004;': ''}}
        </span>

        <multi-child-dropdown [data]="item[childArrayKey]" (onChildRecordSelect)="onItemSelect($event)"
          [display-label]="displayfield"></multi-child-dropdown>
      </li>
    </span>
  </ul>
</li>