<div style="  display:block;
position:fixed;
z-index: 999; 
bottom: 0px;
width: 100%;" [class.minimize-window-bg]="minimizeButton"
    [ngStyle]="{ 'padding': minimizeButton ? '10px  0px 10px 0px': '0px'}">

    <ng-container *ngIf="minimizeButton">
        <span *ngFor="let item of localData">
            <amexio-button [icon]=item.amexioHeader.first.minimizeIcon [label]="item.textName" [type]="'theme-color'"
                [tooltip]="item.textName" (onClick)="minimizeBtnClick(item)">
            </amexio-button>
        </span>
    </ng-container>
</div>