<div #id class="root-window model-fade" [ngStyle]="{'display' : show ? 'block' : 'none'}">
        <div *ngIf="show" class="modal-window-lg" [@animation]="{value: 'visible', params: {transitionParams: transitionOptions}}"
        [ngClass]="{'modal-window-max': isFullWindow,'modal-window-min': !isFullWindow}" (contextmenu)="loadContextMenu({event:$event,ref:id})"
        [ngStyle]="{'height': bodyHeight ? '100%':'auto'}">
        <div class="modal-window-content" [ngClass]="styleClass" [style.height]="bodyHeight+'%'">
            <header [ngClass]="{ 'window-material-design-header':materialDesign,'modal-window-header':!materialDesign}"
                *ngIf="header">
                <div class="modal-window-table">
                    <div class="tablerow">
                        <div class="tablecol">
                            <ng-content select="amexio-header"></ng-content>
                            <ng-content select="amexio-window-header"></ng-content>
                        </div>
                        <div class="tablecol float-right">
                            <ng-container *ngIf="(!isFullWindow && maximize)">
                                <amexio-pane-icon [key]="'window_maximize'" (onClick)="sizeChange()"></amexio-pane-icon>
                                &nbsp;
                            </ng-container>
                            <ng-container *ngIf="(isFullWindow && maximize)">
                                <amexio-pane-icon [key]="'window_restore'" (click)="sizeChange()"></amexio-pane-icon>
                                &nbsp;
                            </ng-container>
                            <ng-container *ngIf="closable">
                                <amexio-pane-icon [key]="'window_close'" (onClick)="onCloseClick()"></amexio-pane-icon>
                                &nbsp;
                            </ng-container>
                        </div>
                    </div>
                </div>
            </header>
            <div class="modal-window-middle">
                <ng-content select="amexio-body"></ng-content>
            </div>
            <footer *ngIf="footer" class="modal-window-footer" [ngClass]="{'window-material-design-footer':materialDesign ,
             'modal-window-footer':!materialDesign,
             'modal-window-footer-max': isFullWindow && maximize,'flex-start':(footeralign =='left'),
             'flex-end':(footeralign=='right'),'flex-center':(footeralign=='center')}">
                <div [ngClass]="{'footer-right-align': (isFullWindow && maximize)}">
                    <ng-content select="amexio-action"></ng-content>
                </div>
            </footer>
        </div>
    
    </div>
</div>



<ng-container *ngIf="flag">
    <base-contextmenu style=" z-index: 5; position: absolute;" [base-context-menu]="contextmenu" [mouse-location-top]="mouseLocation.top"
        [mouse-location-left]="mouseLocation.left" [is-FlagShow]="flag" [right-click-data]="nodeRightClick"
        (onRightClick)="rightClickDataEmit($event)" [position-up]="posixUp">
    </base-contextmenu>
</ng-container>