
<div #id *ngIf="show" class="alfahim-root-window"  [style.justify-content]="horizontalposition">
    <div class="alfahim-root-window-content"
         (contextmenu)="loadContextMenu({event:$event,ref:id})"
         [style.justify-content]="verticalposition"
         [ngStyle]="maximumWindowStyle"
         [ngClass]="{'content-max-height': (maximize && isFullWindow)}"
         [@animation]="{value: 'visible', params: {transitionParams: transitionOptions}}"
         [style.width]="width">
      <ng-content></ng-content>
    </div>
  </div>
  
  <ng-container *ngIf="flag">
    <base-contextmenu style=" z-index: 5; position: absolute;" [base-context-menu]="contextmenu" [mouse-location-top]="mouseLocation.top"
                      [mouse-location-left]="mouseLocation.left" [is-FlagShow]="flag" [right-click-data]="nodeRightClick"
                      (onRightClick)="rightClickDataEmit($event)" [position-up]="posixUp">
    </base-contextmenu>
  </ng-container>