<div
[attr.aria-checked]="value ? true : null" 
 attr.aria-labelledby="{{componentId}}"
[attr.aria-disabled]="disabled ? true : null" 
 tabindex="0" class="inputgroup form-group" >
    <label  class="input-box-container" >{{fieldlabel}}
        <input 
        id="{{componentId}}" type="checkbox"
        [ngClass]="{'checkbox-disable' : disabled}" 
        [attr.checked]="value ? true: null"
        (input)="onInput()" (click)="onClick()" 
        [attr.disabled] = "disabled ? true: null"
        [required]="required" >
        <span class="input-box-checkbox-label"
      ></span>
      </label>
  </div>


<!-- <div class="inputgroup form-group" >
    <label class="input-box-container" >{{fieldlabel}}
        <input type="checkbox"  [ngClass]="{'checkbox-disable' : disabled}" 
        [attr.checked]="value ? true: null" 
        (input)="onInput()" (click)="onClick()" [attr.disabled] = "disabled ? true: null" [required]="required">
        <span class="input-box-checkbox-label"></span>
      </label>
</div> -->
