sudo: required
dist: trusty

#install google chrome, using addons
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
  sonarcloud:
    organization: "deepali-arvind-github" # the key of the org you chose at step #3
    token:
      secure: 081e2012239f75d61242a6d1d6605f0ee29dc019 # encrypted value of your token   
 
language: node_js
node_js:
  - "8"

before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install --global gulp --save
  - gem install sass
  - git fetch --unshallow

            
script: 
  - gulp test
  - sonar-scanner
  - cd src/styles/ && sh sasstocss.sh
  - rm -rf css/*.map
  - git add css 
  - git push --force --quiet "https://deepali-arvind:${TOKEN_REPO}@github.com/${REPO}.git" HEAD:v5.4
  - cd ../../ && pwd && gulp build
  - cd dist && npm pack
  - mv amexio-ng-extensions-*.tgz amexio-ng-extensions.tgz
  
after_success: 
  - cd ../
  - ls -la
  - git clone https://github.com/meta-magic/amexio-ios.git -b v5.4-dec
  - cd amexio-ios
  - mkdir themes
  - cp -rf ../dist/amexio-ng-extensions.tgz .
  - cp -rf ../src/styles/css/*  themes/
  - tar -czvf themes.tar.gz  themes/*
  - git add amexio-ng-extensions.tgz  themes.tar.gz
  - git commit -m "date"
  - git push --force --quiet "https://deepali-arvind:${GITHUB_TOKEN}@github.com/${GITHUB_REPO}.git" HEAD:v5.4-dec 
  - gulp coveralls
  - codecov

cache:
  yarn: true
  
