<div class="rich-first-div" [style.height.%]="areaHeight" [style.width.%]="areaWidth">
  <ng-container *ngIf="displayDiv">
    <div class="rich-editor-buttons">
      <span *ngFor="let item of editableTextArray">
        <amexio-button [type]="'theme-backgroundcolor'" [ngClass]="{'rich-vertical-seperator': item.seperator }"
        class="rich-button" [tooltip]="item.title" [icon]="item.icon"
          [size]="'small'" (onClick)="onIconClick(item.event)">
        </amexio-button>
      </span>
      <amexio-button style="margin-right: 10px;" [type]="'theme-backgroundcolor'" class="rich-button" [tooltip]="'HTML Code'" [icon]="'fa fa-code'"
        [size]="'small'" (onClick)="onHtmlCodeClick()">
      </amexio-button>

      <amexio-button [type]="'theme-backgroundcolor'" class="rich-button" [color]="'burlywood'" [tooltip]="'Fore Color'"
        [icon]="'fa fa-font'" [size]="'small'" (onClick)="onColorBtnClick()">
      </amexio-button>

      <amexio-button style="margin-right: 10px;" [type]="'theme-color'" class="rich-button" 
        [tooltip]="'Background Color'" [icon]="'fa fa-font'" [size]="'small'" (onClick)="onBgColorClick()">
      </amexio-button>


      <input class="hidden-input" type="color" #favColorId (change)="foreColorClick()">
      <input class="hidden-input" type="color" #backColorId (change)="backgroundColorClick()">

      <span>
        <select #headerId (change)="selectHeaderClick()" class="heading-dropdown" required>
          <option value="" disabled selected>Header</option>
          <option [(value)]="item.headerName" *ngFor="let item of headingData">
            {{item.headerName}}
          </option>
        </select>
      </span>
      &nbsp;&nbsp;
      <span>
        <select #fontFamily (change)="fontFamilySelectionClick()" class="heading-dropdown" required>
          <option value="" disabled selected>Font Family</option>
          <option [(value)]="item.familyType" *ngFor="let item of fontFamilyData">
            {{item.familyType}}
          </option>
        </select>
      </span>
    </div>
  </ng-container>



  <div #richEditableId class="rich-text-editor" contenteditable="true" [style.height.%]="textAreaHeight">


  </div>
  <ng-container *ngIf="!displayDiv">

    <div class="rich-editor-buttons">
      <span *ngFor="let item of editableTextArray">
        <amexio-button [type]="'theme-backgroundcolor'" [ngClass]="{'rich-vertical-seperator': item.seperator }"
        class="rich-button" [tooltip]="item.title" [icon]="item.icon"
          [size]="'small'" (onClick)="onIconClick(item.event)">
        </amexio-button>
      </span>
      <amexio-button style="margin-right: 10px;" [type]="'theme-backgroundcolor'" class="rich-button" [tooltip]="'HTML Code'" [icon]="'fa fa-code'"
        [size]="'small'" (onClick)="onHtmlCodeClick()">
      </amexio-button>

      <amexio-button [type]="'theme-backgroundcolor'" class="rich-button" [color]="'burlywood'" [tooltip]="'Fore Color'"
        [icon]="'fa fa-font'" [size]="'small'" (onClick)="onColorBtnClick()">
      </amexio-button>

      <amexio-button style="margin-right: 10px;" [type]="'theme-color'" class="rich-button" 
        [tooltip]="'Background Color'" [icon]="'fa fa-font'" [size]="'small'" (onClick)="onBgColorClick()">
      </amexio-button>


      <input class="hidden-input" type="color" #favColorId (change)="foreColorClick()">
      <input class="hidden-input" type="color" #backColorId (change)="backgroundColorClick()">

      <span>
        <select #headerId (change)="selectHeaderClick()" class="heading-dropdown" required>
          <option value="" disabled selected>Header</option>
          <option [(value)]="item.headerName" *ngFor="let item of headingData">
            {{item.headerName}}
          </option>
        </select>
      </span>
      &nbsp;&nbsp;
      <span>
        <select #fontFamily (change)="fontFamilySelectionClick()" class="heading-dropdown" required>
          <option value="" disabled selected>Font Family</option>
          <option [(value)]="item.familyType" *ngFor="let item of fontFamilyData">
            {{item.familyType}}
          </option>
        </select>
      </span>
    </div>
  </ng-container>
</div>