 
 
 
 
 <div id="parentdiv" role="menu" [attr.aria-expanded]="togglefloatinggroup"
 tabindex="-1" [attr.aria-pressed]="ispressed">
   <amexio-floating-button 
       (onClick)="onFloatingButtonClick($event)"
       [vertical-position]="verticalposition" 
       [horizontal-position]="horizontalposition"
       [icon]="icon" 
       [type]="type" 
       [disabled]="disabled"
       [size]="size"
       [relative]="relative"
       [position-top]="top"
       [position-bottom]="bottom"
       [position-left]="left" 
       [position-right]="right">
   </amexio-floating-button>
</div>


<div 

   class="floatinggroup" 
   *ngIf="togglefloatinggroup"
   tabindex="-1"
   [ngStyle]="{'top':floatinggroupyposition, 'left':floatinggroupxposition}">

   <div #ref attr.id="{{node.index}}" role="button" attr.aria-label="{{node.label}}" role="options"
    class="floatinggroupitems" style= "text-align:center;"

       tabindex="1" *ngFor="let node of data" (keyup.enter)="onButtonClick(node,$event)" (keyup.arrowdown)="arrowDown(ref,node)"
       (keyup.arrowup)="arrowUp(ref,node)">
       <div *ngIf="node.icon" role="tooltip"  [ngClass]="node.typeclass" (click)="onButtonClick(node,$event)">
           <amexio-c-icon [customclass]="node.icon">
           </amexio-c-icon>
       </div>
   </div>
</div> 