
<div class="listbox">

  <div class="header">

    <div class="table" style="width:100%;">
      <div class="tablerow">
        <ng-container *ngIf="enablecheckbox">
          <div class="tablecol" style="width: 5%;">
            <div class="inputgroup" style="float: left">
              <div class="input-box">
                <div *ngIf="!selectAll" (click)="selectAllRecord()" class="checkbox default"></div>
                <div *ngIf="selectAll" (click)="selectAllRecord()" class="checkbox active">&#10004;</div>
              </div>&nbsp;
            </div>
          </div>
        </ng-container>

        <div class="tablecol title">
          {{header}}
        </div>
        <div class="tablecol float-right"  *ngIf="(filter == true)">
          <input type="text" [(ngModel)]="filterText"  [placeholder]="searchplaceholder" (keyup)="filterData()"  class="search "/>
        </div>
      </div>

    </div>
  <!--
    <ng-container *ngIf="enablecheckbox">
      <div class="inputgroup" style="float: left">
        <div class="input-box">
          <div *ngIf="!selectAll" (click)="selectAllRecord()" class="checkbox default"></div>
          <div *ngIf="selectAll" (click)="selectAllRecord()" class="checkbox active">&#10004;</div>
        </div>&nbsp;
      </div>
    </ng-container>
    <div class="title">{{header}}</div>
    <div class="float-right" *ngIf="(filter == true)">
      <input type="text" [(ngModel)]="filterText"  [placeholder]="searchplaceholder" (keyup)="filterData()"  class="search "/>
    </div>-->

  </div>

  <div class="listbox-height" [style.height.px]="height">
    <ul class="list">
      <li class="list-items" *ngFor="let row of viewData let rowno = index ">
        <!--
        <div class="datatable">
          <div class="datatable-row">
            <div class="datatable-col" *ngIf="enablecheckbox" style="width: 5%;">
              <div class="inputgroup" >
                <div class="input-box">
                  <div (click)="selectedCheckBox(row)" [class]="row.isSelected ?'checkbox active':'checkbox default'">
                    {{row.isSelected ? '&#10004;' : ''}}
                  </div>
                </div>
              </div>&nbsp;
            </div>
            <div class="datatable-col"  (click)="onClick(row)">
              <ng-container *ngIf="!bodyTemplate"> {{row[display-field]}}</ng-container>
              <ng-template *ngIf="bodyTemplate" [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{ row: row }"></ng-template>
            </div>
          </div>
        </div>-->


        <div (click)="onClick(row)">
          <ng-container *ngIf="enablecheckbox">
            <div class="inputgroup" style="float: left; height: 100%;background-color: red;">
              <div class="input-box">
                <div (click)="selectedCheckBox(row)" [class]="row.isSelected ?'checkbox active':'checkbox default'">
                  {{row.isSelected ? '&#10004;' : ''}}
                </div>
              </div>
            </div>&nbsp;
          </ng-container>
          <ng-container *ngIf="!bodyTemplate"> {{row[displayfield]}}</ng-container>
          <ng-template *ngIf="bodyTemplate" [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{ row: row }"></ng-template>
        </div>

      </li>
    </ul>
  </div>
</div>
