.amexio-badge {
    box-shadow : 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    text-transform : uppercase;
    cursor:pointer;
    z-index: 100;
}

.amexio-badge-color {
    background : $badgeBGColor;
    color : $badgeColor;
}