 

$btnGrpBorderColor:black;
$btnGrpBorderSize : 1px;
$btnBadgeColor:$componentHeaderBGColor;
$btnBadgeColorBG:$componentActiveBGColor;

$primaryBGHoverColor: $componentHoverBGColor;
$primaryFontHoverColor: $componentHoverFontColor;
// $secondaryBGHoverColor: $secondaryBGHover;
$dangerBGHoverColor: $amexioColorRedDark;
$successBGHoverColor: $amexioColorGreenDark;
$warningBGHoverColor: $amexioColorYellowDark;