.custom-p-text {
    width: auto;
    display: inline-block;
  }
  .custom-p-label {
    display: inline !important;
  }
  .custom-p-newline {
    display: block;
  }
  .custom-p-inline {
    display: inline;
  }
  