.datedropdown{
  background: $datetimepickerBGColor;

  .dropdownlist{
    color: $datetimepickerDaysColor;
  }
  li:hover {
    color: $datetimeHoverColor;
               //background: $datetimepickertopbarBGColor;
              background: $datetimeHoverBG;

    
    width:30px;
  }
  .active {
    background: $datetimepickertopbarBGColor;
    color: $datetimepickerActiveColor;
  }
  li {
    color:$datetimepickerDaysColor;
  }

  // li:focus {
   
  // }
}

.datetimepicker{
  background: $datetimepickerBGColor;

  .datetimepickertopbar {
    background: $datetimepickertopbarBGColor;

    ul {
    }

    ul li {
      color:$datetimepickerTopBarColor;
    }
  }

  .days {
    background: $datetimepickerDaysBGColor;

    li {
      color:$datetimepickerDaysColor;
    }

    li:hover {
      color: $datetimepickertopbarBGColor;
    }

    li:focus {
      outline: none;    
      background: $datetimeFocusBG !important;
      color: $datetimeFocusColor !important; 
      // border-radius: 135px;
      // padding: 5px;
    }
    .active {
      background: $datetimepickertopbarBGColor;
      color: $datetimepickerActiveColor;
    }

    .currentMonth{
      font-weight:bold;
    }
  }
}

.datetimepicker1{
  background: $datetimepickerBGColor;

  .datetimepickertopbar {
    background: $datetimepickertopbarBGColor;

    ul {
    }

    ul li {
      color:$datetimepickerTopBarColor;
    }
  }

  .days {
    background: $datetimepickerDaysBGColor;

    li {
      color:$datetimepickerDaysColor;
    }

    li:hover {
      color: $datetimepickertopbarBGColor;
    }

    li:focus {
      outline: none;    
      background: $datetimeFocusBG !important;
      color: $datetimeFocusColor !important; 
      // border-radius: 135px;
      // padding: 5px;
    }
    .active {
      background: $datetimepickertopbarBGColor;
      color: $datetimepickerActiveColor;
    }

    .currentMonth{
      font-weight:bold;
    }
  }
}

.datetimepicker-up{
  bottom: 100%;
}


.datetimepicker:disabled{

  background-color: $componentDisabledBGColor;
  color: $componentDisabledFontColor;
}


@media screen and (max-width: 600px) {
  .datetimepicker .days .date-today{
    padding-top: 1%;
    padding-left: 36%;
  }
}


.dropspan2{
 // border-color:$datetimepickerBorderColor ;
 border-color:$datetimepickerDaysColor ;

}
.datedropbtn{
  background-color:$primaryBGColor;
  color:$primaryColor;
}

.change4{
  background-color:$componentActiveBGColor ;
}

.day:focus{
  outline: none;   
  border-radius: 135px;
  padding: 5px; 
  background: $datetimeFocusBG !important;
  color: $datetimeFocusColor !important;
}