
$dropdownMenuFontSize : 100%;
$dropdownMenuFontWeight : 400;

$dropdownMenuBorderColor : $borderColor;
$dropdownMenuBGColor : $componentBGColor;
$dropdownMenuFontColor : $componentFontColor;

$dropdownMenuHeaderBGColor : $componentHeaderBGColor;
$dropdownMenuHeaderFontColor: $componentHeaderFontColor;

$dropdownMenuHoverColor : $componentHoverFontColor;
$dropdownMenuHoverBGColor : $componentHoverBGColor;








