
.dropdown-menu {
  background-color: $dropdownMenuHeaderBGColor;
  color: $dropdownMenuHeaderFontColor;
}
.dropdown-menu-content {
  background-color: $dropdownMenuBGColor !important ;
 box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.dropdown-menu-content .dropdowndivider{
  border-bottom: solid 1px $dropdownMenuBorderColor;
}

.nav-dropdown-content .dropdowndivider{
  border-bottom: solid 1px $dropdownMenuBorderColor;
}

.dropdown-menu-content a:hover {
  background-color:  $dropdownMenuHoverBGColor;
  color : $dropdownMenuHoverColor;
}

.dropdown-menu-content a {
  color: $componentFontColor;
}