.floatinggroupitems:focus {
    border: 3px solid $floatingHoverColor !important;
    outline: none;
}

.floatingbutton-circle:focus {
    border: 3px solid $floatingHoverColor !important;
    outline: none;
}