
$formBackground : none;
$formBGColor: $componentBGColor;
$formColor: $componentFontColor;

$formHeaderBGColor: $componentHeaderBGColor;
$formHeaderColor: $componentHeaderFontColor;
$formTooltipBG : $componentHoverBGColor;
$formTooltipColor : $componentHoverFontColor;
$formFooterBGColor: $componentBGColor;
$formFooterColor: $componentFooterFontColor;
$formBorderColor: $borderColor;

$formBorderSize:$borderSize;
$formBorderShadow : rgba(0,0,0,0.14);
$formHeaderFontSize : 20px;
$formHeaderFontWeight : 300;
$formBodyFontSize : 14px;
$formBodyFontWeight : 400;
$formBodyScrollBGColor : $scrollBGColor;
$formBodyScrollThumbColor : $scrollThumbColor;

