
$horizontalnodeColor: $componentActiveBGColor;
$horizontalTreeviewColor: $componentActiveFontColor;
$horizontalnodeGutter: 100px;
$horizontalnodeBorderRadius: 10px;
$horizontalnodeEntryMinHeight: 60px;

$horizontalnodeLabelWidth: 150px;
$horizontalnodeLabelHeight: 30px;
$horizontalnodeLabelBorderRadius: 5px;

$horizontaltreeviewLabelHoverColor:$componentHoverFontColor;
$horizontaltreeviewLabelHoverBGColor:$componentHoverBGColor;
