
.horizontaltreeview-node-label {

  background-color: $horizontalnodeColor;
  color: $horizontalTreeviewColor;
}

.horizontaltreeview-node-label:hover{
  // border-color:  darken($horizontalnodeColor,10%);
  color: $horizontaltreeviewLabelHoverColor;
  background-color: $horizontaltreeviewLabelHoverBGColor;
}