
$itemselectorActionBGColor : $componentHeaderBGColor ;
$itemselectorActionColor : $componentHeaderFontColor;
$itemselectorActionDisableBGColor : $componentDisabledBGColor;
$itemselectorListActiveBGColor : $componentActiveBGColor;
$itemselectorListHoverBGColor : $componentHoverBGColor;
$itemselectorListActiveColor : $componentActiveFontColor;
$itemselectorListHoverColor : $componentHoverFontColor;
$itemselectorListHoverFontColor : $componentHoverFontColor;

$itemselectorFontWeight : 400 ;

