
$listScrollBGColor : $componentHeaderBGColor;
$listScrollThumbBGColor : $scrollThumbColor;
$listBoxFontSize:100%;
$listBoxFontWeight : 400;
$listBoxListHoverBGColor : $componentHoverBGColor;
$listBoxBGColorOdd : none;
$listBoxListHoverFontColor : $componentHoverFontColor;
$listBoxListActiveBGColor :$componentActiveBGColor;

$listBoxBGColor : $componentBGColor;
$listBoxColor : rgba(0,0,0,0.87);
$listTitleFontSize : 18px;
$listTitleAFontSize : 16px;

$listBorderColor : $borderColor;
$listBorderSize :$borderSize;
