
.listbox-height::-webkit-scrollbar-track
{
  background-color:$scrollBGColor;
}

.listbox-height::-webkit-scrollbar
{
  background-color:$scrollBGColor;
}

.listbox-height::-webkit-scrollbar-thumb
{
  background-color: $scrollThumbColor;
}


.listbox .list .list-items{
  .datatable-row:nth-child(odd){
    background: $listBoxBGColorOdd;
  }
}

.listbox .list .list-items:hover{
  background-color: $listBoxListHoverBGColor;
  color: $listBoxListHoverFontColor;
}

.listbox .list{
  background-color: $listBoxBGColor;

  .title {
    color: $listBoxColor;
    
    a {
      color: $listBoxColor !important;
    }
  }
}
.list-items-click { 
  background-color: $listBoxListActiveBGColor;
}