
$menubarBGColor :$componentBGColor;
$menubarColor : $componentFontColor;
$menuHoverColor: $componentFontColor;
$menuHoverBGColor : $componentHoverBGColor;
$subMenuCotentBGColor : $componentBGColor;
$subMenuCotentColor : $componentFontColor;
$menuborderColor:$borderColor;
$menuborderSize:1px;
$menuHoverFontColor : $componentHoverFontColor;
$menuHoverBGColor: $componentActiveBGColor;

$menuBGColor : none;
$menuHeaderFontWeight : bold;
