


.circularProgress {
    background-color:$progressCeBGColor ;
  }

  /* FOR RADIAL */
  
  .radial {
    background-color: $progressCeBGColor;
  }
  
  /*  FOR RING */
  .ring {
    background-color: $progressCeBGColor;
  }
  
  
  