
/* Create a custom checkbox */
.input-box-radiobox-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: $radioBorderSize solid $radioBorderColor;
  border-radius: 50%;
}


/* Create the input-box-container-label/indicator (hidden when not checked) */
.input-box-radiobox-label:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the input-box-container-label when checked */
.input-box-container input:checked ~ .input-box-radiobox-label:after {
  display: block;
}

/* Style the input-box-container-label/indicator */
.input-box-container .input-box-radiobox-label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
