
.rating {
  cursor: pointer;
  outline: none;
  padding: .375rem .375rem;
}
.rating.readonly {
  cursor: default;
}
.rating.disabled {
  cursor: not-allowed;
}
.rating i{
  font-style: normal;
}
.star-icon {
  color: $ratingBorderColor;
  //font-size: 2em;
  position: relative;
  border-color: $ratingBorderSize solid $ratingBorderColor;
}
.star-icon:before {
 // color: $ratingActiveColor;
  content: attr(data-icon) " ";
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
}
.rating.disabled .star-icon:before {
  //color: #ECECEC;
  text-shadow: none;
}
.star-icon.half10:before {
  width: 10%;
}
.star-icon.half20:before {
  width: 20%;
}
.star-icon.half30:before {
  width: 30%;
}
.star-icon.half40:before {
  width: 40%;
}
.star-icon.half50:before {
  width: 50%;
}
.star-icon.half60:before {
  width: 60%;
}
.star-icon.half70:before {
  width: 70%;
}
.star-icon.half80:before {
  width: 80%;
}
.star-icon.half90:before {
  width: 90%;
}
.star-icon.half100:before {
  width: 100%;
}
@-moz-document url-prefix() { /* Firefox Hack */
  .star-icon {
    //font-size: 50px;
    line-height: 34px;
  }
}