/* You can add global styles to this file, and also import other style files */

.roundEdgeCommonCss {
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce{
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce amexio-header-ce .creative-header-div{
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce button{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-header-ce {
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-header-ce button{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-header-ce div .creative-header {
    border-radius: 10px 10px 0px 0px
}

.roundEdgeCommonCss amexio-action-ce div .creative-footer {
    border-radius: 0px 0px 10px 10px;
}

.roundEdgeCommonCss amexio-action-ce div .creative-footer button{
    border-radius: 10px;
}

.roundEdgeCommonCss .box-content{
    border-radius: 10px;  
}

.roundEdgeCommonCss .box-content button{
    border-radius: 10px;  
}

.roundEdgeCommonCss .panel-panel{
    border-radius: 0px 0px 10px 10px
}

.roundEdgeCommonCss .panel-accordion{
    border-radius: 10px 10px 0px 0px
}

.roundEdgeCommonCss .panel-without-header {
    border-radius: 10px;   
}

.roundEdgeCommonCss .card-header{
    border-radius: 10px 10px 0px 0px;
}

.cardBorderClass {
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container {
    border-radius: 10px;
}

.roundEdgeCommonCss .card-footer button{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-accordion-tab button {
    border-radius: 10px;
}

.roundEdgeCommonCss .activebgcolortab{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .dialogue-content {
    border-radius: 10px;
}

.roundEdgeCommonCss .dialogue-content header{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .dialogue-content footer{
    border-radius: 0px 0px 10px 10px;
}

.roundEdgeCommonCss .floatingpanel-header{
    border-radius: 10px 10px 0px 0px
}

.roundEdgeCommonCss .card-container-body{
    border-radius: 10px;

}

.roundEdgeCommonCss .modal-window-header{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .modal-window-footer{
    border-radius: 0px 0px 10px 10px;
}
.roundEdgeCommonCss .modal-window-footer button{
    border-radius: 10px;
}

.roundEdgeCommonCss .amexio-badge{
    border-radius: 10px;
}

.roundEdgeCommonCss .datetimepickertopbar{
    border-radius: 10px 10px 0px 0px; 
}

.roundEdgeCommonCss .datetimepickertopbar div .days{
    border-radius: 10px; 
}

.roundEdgeCommonCss .datetimepicker1{
    border-radius: 10px;
}

.roundEdgeCommonCss .notification{
    border-radius: 10px;
}


/* Class: progress */
.roundEdgeCommonCss .progress .success{   
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss .progress{   
    border-radius: 10px;
}

.roundEdgeCommonCss .progress .warning{   
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss .progress .danger{   
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss .progress .stripped {
    border-radius: 10px;
}

/* class: pageginator-pages */
.roundEdgeCommonCss .paginator-pages .paginator-page{
    border-radius: 10px;
}


.roundEdgeCommonCss .timeline-item .timeline-panel-float-right{
    border-radius: 10px;
}

.roundEdgeCommonCss .timeline-item .timeline-panel-float-left{
    border-radius: 10px;
}


.roundEdgeCommonCss .listbox{
    border-radius: 10px;
}

.roundEdgeCommonCss .header{
    border-radius: 10px;
}
/* listbox */
.roundEdgeCommonCss .listbox .header{
    border-radius: 10px 10ox 0px 0px;
}

/* breadcrum-rightshift-css */
.roundEdgeCommonCss .breadcrumb-group:hover{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-dockbar-item .dockbar-active-content{
    border-radius: 0px 10px 10px 0px;
}

.roundEdgeCommonCss .dropdown-menu {
    border-radius: 10px;
}

.roundEdgeCommonCss .menu-content{
    border-radius: 10px;
}

.roundEdgeCommonCss .datapoints{
    border-radius: 10px;
}

.roundEdgeCommonCss .datePickerContainer{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .weekdaycomponent{
    border-radius: 10px;
}

.roundEdgeCommonCss .weekdaycomponent .datetimepicker1{
    border-radius: 10px;
}

.roundEdgeCommonCss .amexio-root-window-content-ce div{
    border-radius: 10px;
}

.roundEdgeCommonCss color-palette .color-palette{
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss color-slider .color-slider{
    border-radius: 0px 10px 10px 0px;
}

.roundEdgeCommonCss .main-content{
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce-color{
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce-main{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-action-ce div{
    border-radius: 10px;
}

.classicCommonCss {
    border-radius: 0px !important;
}

.classicCommonCss .card-container-ce{
    border-radius: 0px !important;
}

.classicCommonCss .card-container-ce amexio-header-ce .creative-header-div{
    border-radius: 0px !important;
}

.classicCommonCss .card-container-ce button{
    border-radius: 0px !important;
}

.classicCommonCss amexio-header-ce {
    border-radius: 0px !important;
}

.classicCommonCss amexio-header-ce button{
    border-radius: 0px !important;
}

.classicCommonCss amexio-header-ce div .creative-header {
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss amexio-action-ce div .creative-footer {
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss amexio-action-ce div .creative-footer button{
    border-radius: 0px !important;
}

.classicCommonCss .box-content{
    border-radius: 0px !important;  
}

.classicCommonCss .box-content button{
    border-radius: 0px !important;  
}

.classicCommonCss .panel-panel{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .panel-accordion{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .panel-without-header {
    border-radius: 0px !important;

}

.classicCommonCss .card-header{
    border-radius: 0px 10px 0px 0px !important;
}

.cardBorderClass {
    border-radius: 0px !important;

}

.classicCommonCss .card-container {
    border-radius: 0px !important;

}

.classicCommonCss .card-footer button{
    border-radius: 0px !important;

}

.classicCommonCss amexio-accordion-tab button {
    border-radius: 0px !important;

}

.classicCommonCss .activebgcolortab{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .dialogue-content {
    border-radius: 0px !important;

}

.classicCommonCss .dialogue-content header{
    border-radius: 0px !important;

}

.classicCommonCss .floatingpanel-header{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .card-container-body{
    border-radius: 0px !important;
}

.classicCommonCss .modal-window-header{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .modal-window-footer{
    border-radius: 0px 0px 0px 0px !important;
}
.classicCommonCss .modal-window-footer button{
    border-radius: 0px !important;
}

.classicCommonCss .amexio-badge{
    border-radius: 0px !important;
}

.classicCommonCss .datetimepickertopbar{
    border-radius: 0px 0px 0px 0px !important; 
}

.classicCommonCss .datetimepickertopbar div .days{
    border-radius: 0px !important;

}

.classicCommonCss .datetimepicker1{
    border-radius: 0px !important;

}

.classicCommonCss .notification{
    border-radius: 0px !important;

}


/* Class: progress */
.classicCommonCss .progress .success{   
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .progress{   
    border-radius: 0px !important;

}

.classicCommonCss .progress .warning{   
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .progress .danger{   
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .progress .stripped {
    border-radius: 0px !important;

}

/* class: pageginator-pages */
.classicCommonCss .paginator-pages .paginator-page{
    border-radius: 0px !important;

}


.classicCommonCss .timeline-item .timeline-panel-float-right{
    border-radius: 0px !important;

}

.classicCommonCss .timeline-item .timeline-panel-float-left{
    border-radius: 0px !important;
}


.classicCommonCss .listbox{
    border-radius: 0px !important;

}

.classicCommonCss .header{
    border-radius: 0px !important;

}
/* listbox */
.classicCommonCss .listbox .header{
    border-radius: 0px 0px 0px 0px !important;
}

/* breadcrum-rightshift-css */
.classicCommonCss .breadcrumb-group:hover{
    border-radius: 0px !important;

}

.classicCommonCss amexio-dockbar-item .dockbar-active-content{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .dropdown-menu {
    border-radius: 0px !important;

}

.classicCommonCss .menu-content{
    border-radius: 0px !important;

}

.classicCommonCss .datapoints{
    border-radius: 0px !important;

}

.classicCommonCss .datePickerContainer{
    border-radius: 0px 0px 0px 0px !important;
}

.classicCommonCss .weekdaycomponent{
    border-radius: 0px !important;

}

.classicCommonCss .weekdaycomponent .datetimepicker1{
    border-radius: 0px !important;

}

.classicCommonCss .amexio-root-window-content-ce div{
    border-radius: 0px !important;

}

.classicCommonCss color-palette .color-palette{
    border-radius: 10px 0px 0px 10px;
}

.classicCommonCss color-slider .color-slider{
    border-radius: 0px 10px 10px 0px;
}

.classicCommonCss .main-content{
    border-radius: 0px !important;
}

.classicCommonCss .card-container-ce-color{
    border-radius: 0px !important;
}

.classicCommonCss .card-container-ce-main{
    border-radius: 10px;
}

.classicCommonCss amexio-action-ce div{
    border-radius: 10px;
}

.roundEdgeCommonCss .datatable-header .datatable-col:nth-child(1) {
    border-radius: 10px 0px 0px 0px!important;
  }

  .roundEdgeCommonCss .datatable-header .datatable-col:last-child{
    border-radius: 0px 10px 0px 0px!important;
  }
  
  .roundEdgeCommonCss .datatable{
      border-radius: 10px !important;
  }

  .classicCommonCss .datatable-header .datatable-col:nth-child(1) {
    border-radius: 0px 0px 0px 0px!important;
  }

  .classicCommonCss .datatable-header .datatable-col:last-child{
    border-radius: 0px 0px 0px 0px!important;
  }
  
  .classicCommonCss .datatable{
      border-radius: 0px !important;
  }