

.flex-row{
  flex-direction: row; box-sizing: border-box; display: flex;
  flex-wrap: wrap;
}

.flex-col{
  flex: 1 1 100%;
  box-sizing: border-box;
  padding:5px;
  flex-wrap: wrap;

}

.flex-col-1{
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.flex-col-2{
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.flex-col-3{
  flex: 0 0 25%;
  max-width: 25%;
}

.flex-col-4{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.flex-col-5{
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.flex-col-6{
  flex: 0 0 50%;
  max-width: 50%;
}

.flex-col-7{
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.flex-col-8{
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.flex-col-9{
  flex: 0 0 75%;
  max-width: 75%;
}

.flex-col-10{
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.flex-col-11{
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.flex-col-12{
  flex: 0 0 100%;
  max-width: 100%;
}


.flex-col-2pt5{
  flex: 0 0 20.8333325%;
  max-width: 20.8333325%;
}

.flex-col-9pt5{
  flex: 0 0 79.1666635%;
  max-width: 79.1666635%;
}
