
$tabFontSize : 17px;

$tabBorderSize: $borderSize;
$tabBorderColor : $borderColor;
$tabColor : $componentFontColor;
$tabBGColor : $componentBGColor;
$tabActiveBorder : $themePrimaryColor;
$tabActiveBGColor : $componentActiveBGColor;
$tabActiveBorderSize : 3px;
$tabActiveColor : $componentActiveFontColor;

$tabScrollBGColor : $scrollBGColor;
$tabDisabledBG :$componentDisabledBGColor;
$tabDisabledColor : $componentDisabledFontColor;


$tabScrollBGColor : $scrollBGColor;
$tabScrollThumbColor : $scrollThumbColor;

$tabFocusBGColor: $componentHoverBGColor;
$tabFocusColor: $componentHoverFontColor;