
.taskbar {
        display:flex;
        position: fixed;
        z-index: 999;
        bottom: 0px;
        left: 0px;
        padding: 10px  0px 10px 4px;
        width: 100%;
    }



.taskbar-item-display-fixed {
        background: rgba(128,127,127,.6);
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 700;
        padding-top: 15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0;
        left: 0;
      }
      
      .taskbar-item-display-relative {
        display: block;
        position: fixed;
        bottom: 60px;
      }