<button #button class="button" role="button" tabindex="1" [attr.aria-pressed]="ispressed" [ngStyle]="{'cursor': disabled ? 'not-allowed':'pointer','background-color':bgcolor,'color':color,'box-shadow':bgBorderColor}" ng-disabled="disabled ? true: null"
    [attr.title]="tooltip" [ngClass]="{'button-default': size=='default'
        || size ==null,
        'button-small': size=='small',
        'button-large' : size=='large',
        'button-block': block==true ,
        'button-primary' : (type == 'primary' || type == 'theme-color') && disabled == false,
        'button-secondary' : type == 'secondary' || type == 'theme-backgroundcolor' && disabled == false,
        'button-success' : type == 'success' || type == 'green' && disabled == false,
        'button-danger' : type=='danger' || type == 'red' && disabled == false,
        'button-warning' : type=='warning' || type == 'yellow' && disabled == false,
        'button-transparent' : type=='transparent' && disabled == false,
        'disabled' : (type =='transparent' && disabled) || (type == 'secondary' || type == 'theme-backgroundcolor') && disabled,
        'button-primary-disabled' : (type == 'primary' || type == 'theme-color') && disabled,
        'button-success-disabled' : (type == 'success' || type == 'green') && disabled,
        'button-danger-disabled' : (type == 'danger' || type == 'red') && disabled,
        'button-warning-disabled' : (type == 'warning' || type == 'yellow') && disabled}" (click)="buttonClick($event)">
        <span class="button-text">
          <span style="padding-right: 5px;" *ngIf="icon">
            <amexio-c-icon [customclass]="icon" [label]="label">
            </amexio-c-icon>
          </span>
          <span style="padding-right: 5px;" *ngIf="loading">
            <amexio-c-icon key="button-loading-icon" [label]="label"></amexio-c-icon>
          </span>
          <ng-container *ngIf="!icon">{{label}}</ng-container>

          <ng-container *ngIf="badge">
            <span [ngClass]="badgeCssClass" >{{badge}}</span>
         </ng-container>
      </span>


</button>