<button class="button"
        [attr.disabled] = "disabled ? true: null"
        [ngClass]="{'button-default': size=='default' || size ==null,'button-small': size=='small','button-large' : size=='large','button-primary' : type == 'primary','button-success' : type == 'success',' button-danger' : type=='danger','button-warning' : type=='warning','disabled' : disabled}"
        (click)="onClick.emit($event)">
  <span class="button-text"><i class="{{icon}}" style="padding-right: 5px; " aria-hidden="true"></i>{{label}}</span>
</button>
