<button class="button" [ngStyle]="{'cursor': disabled ? 'not-allowed':'pointer'}"
        [attr.disabled] = "disabled ? true: null"
        [ngClass]="{'button-default': size=='default'
        || size ==null,
        'button-small': size=='small',
        'button-large' : size=='large',
        'button-primary' : type == 'primary',
        'button-secondary' : type == 'secondary',
        'button-success' : type == 'success',
        'button-danger' : type=='danger',
        'button-warning' : type=='warning',
        'disabled' : disabled }"
        (click)="buttonClick($event)">
        <span class="button-text">
          <!--<i class="{{icon}}" style="padding-right: 5px; " aria-hidden="true"></i>-->
          <span style="padding-right: 5px;" *ngIf="icon">
            <amexio-form-icon [customclass]="icon" >
            </amexio-form-icon>
          </span>
           <span style="padding-right: 5px;" *ngIf="loading">
            <amexio-form-icon key="button-loading-icon"></amexio-form-icon>
          </span>
          {{label}}
        </span>
</button>
