<div class="spinner-sm" [ngClass]="positionSpinnerClass">

        <div #loadindicator [ngStyle]="{'display': show ? 'block': 'none'}"
         [style.color]='color' [style.font-size]='size'
                [ngClass]="{
        'rectangle-bounces' :type == 'rectanglebounce',
        'rings' :type == 'ring',
        'half-circles' :type == 'halfcircle',
        'fading-circles' :type == 'fadingcircle',
        'ball-spins' :type == 'ballspin',
        'fire-spins' :type == 'firespin',
        'three-bounces' :type == 'threebounce',
        'spinner-rounds' :type == 'spinnerround'}
        ">
        </div>
</div>