<!-- Amexio Rich Text Area with source code -->

<ng-container *ngIf="enableSourceCode">
    <amexio-tab-view [closable]="false" (onClick)="onTabSourceCode()">
        <amexio-tab class="rich-active-tab" title="Editable Area" [active]="true" [height]="richHeight">
            <editable-text [ediatable-height]="richHeight"
            [rich-text-content-main]="richTextContent"
             [ediatable-toolbar-position]="toolbarPosition"
                (onSourceCodeClick)="emitSourceCode($event)">
            </editable-text>
        </amexio-tab>
        <amexio-tab title="HTML Source Code " [disabled]="false" [height]="richHeight">
            <amexio-card [header]="true" [show]="'true'">
                <amexio-header>
                    Amexio Rich Text Area
                </amexio-header>
                <amexio-body style="display: block">
                    {{printTabSource | json}}
                </amexio-body>
            </amexio-card>
        </amexio-tab>
    </amexio-tab-view>

</ng-container>


<!--  Amexio Rich Text Area -->
<ng-container *ngIf="!enableSourceCode">
    <editable-text [ediatable-toolbar-position]="toolbarPosition" 
    [rich-text-content-main]="richTextContent"
    (onSourceCodeClick)="emitSourceCode($event)">

    </editable-text>
</ng-container>