table, tr, td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/* .horizontaltreeview {
    position: relative;
    overflow: auto;
  } */

  /* .horizontaltreeview::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
} */


/* .horizontaltreeview::-webkit-scrollbar-track
{
  background-color: var(--componentBGColor);
  margin: 50px 0;

}

.horizontaltreeview::-webkit-scrollbar
{
  background-color: var(--componentBGColor);
}

.horizontaltreeview::-webkit-scrollbar-thumb
{
    background-color: var(--componentDisabledBGColor);
}

.ui-treenode-content:hover {
  background-color: var(--componentHoverBGColor);
  color: var(--componentHoverFontColor);
  
  } */

