<div class="inputgroup">

  <label [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
    {{fieldlabel}}
  </label>

  <input type="hidden"
         [ngModel]="value"
         (ngModelChange)="onChange($event)"
         #inp="ngModel"
  />

  <input type="text" class="input-control"
         [value]="getDisplayText()"
         [ngClass]="{'input-control-error' : inp.invalid && (inp.dirty || inp.touched),'input-control-success' : inp.valid && (inp.dirty || inp.touched)}"
         (blur)="onblur()"
         (click)="onDropDownClick($event)"
         (focus)="onFocus()"
         (input)="onInput()"
         [attr.placeholder]="placeholder"
         [attr.disabled]="disabled ? true: null"
         [required]="allowblank ? true: null" (keyup)="onDropDownSearchKeyUp($event)"/>


  <span class="drodown-caret-down">
        <!--<i class="fa fa-chevron-down" aria-hidden="true"></i>-->
    <amexio-form-icon key="dropdown_caret"></amexio-form-icon>
  </span>

  <span *ngIf="showToolTip" class="dropdown">
        <ul class="dropdown-list">
<!--
          <li class="list-items" *ngIf="search">
            <input type="text" class="input-control" placeholder="search" (keyup)="onDropDownSearchKeyUp($event)"/>
          </li>
-->
          <li class="list-items" *ngFor="let item of filteredOptions" (click)="onItemSelect(item)">
            <span>{{item[displayfield]}}</span>
            <span style="float : right">{{item?.checked ? '&#10004;': ''}}</span>
          </li>
           <ng-template *ngIf="filteredOptions.length < 1">
             <li class="list-items">No Options</li>
           </ng-template>
        </ul>
      </span>

</div>


<span *ngIf="iconfeedback && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)"
      class="input-control-feedback">
        <span *ngIf="inp.invalid && (inp.dirty || inp.touched)">&#9888;</span>
        <span *ngIf="inp.valid && (inp.dirty || inp.touched)"> &#10004;</span>

      </span>

<span *ngIf="showToolTip && enablepopover" class="tooltiptext">
        <div [innerHTML]="helpInfoMsg"></div>
</span>

