<div class="inputgroup form-group" #rootDiv>

    <label *ngIf="haslabel" [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
      {{fieldlabel}}
    </label>

    <input type="hidden"
           [ngModel]="value"
           required
           (ngModelChange)="onChange($event)"
           #inp="ngModel"
    />
    <input type="text" class="input-control"
           [value]="getDisplayText()"
           [ngClass]="{'input-control-error' : inp.invalid && (inp.dirty || inp.touched),'input-control-success' : inp.valid && (inp.dirty || inp.touched)}"
           (blur)="onblur($event)"
           (click)="onDropDownClick($event)"
           (focus)="onFocus(rootDiv)"
           (input)="onInput(inp)"
           [attr.placeholder]="placeholder"
           [readonly]="readonly ? true : null"
           [attr.disabled]="disabled ? true: null"
           [required]="allowblank ? true: null" (keyup)="onDropDownSearchKeyUp($event)" (keydown)="navigateKey($event)"/>
  
  
    <span class="drodown-caret-down" (click)="onIconClick()">
      <amexio-form-icon key="dropdown_caret" *ngIf="!maskloader" ></amexio-form-icon>
      <em class="fa fa-spinner fa-spin" *ngIf="maskloader"></em>
    </span>
  
    <span #dropdownitems class="dropdown" [ngClass]="{'dropdown-up' : posixUp}" [ngStyle]="{'display': showToolTip ? 'block' : 'none'}">
          <ul class="dropdown-list">
  
            <li class="list-items" [ngClass]="{'list-items-selected':item.selected}" *ngFor="let item of filteredOptions" (click)="onItemSelect(item)">
              <ng-container *ngIf="bodyTemplate">
                <ng-template [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{ $implicit: { text : row }, row: item }">
                  </ng-template>
                </ng-container>
              <ng-container *ngIf="!bodyTemplate">
                <span>{{item[displayfield]}}</span>
              </ng-container>            <span style="float : right">{{item?.checked ? '&#10004;': ''}}</span>
            </li>
             <ng-template *ngIf="filteredOptions && (filteredOptions.length < 1)">
               <li class="list-items">No Options</li>
             </ng-template>
          </ul>
        </span>
    <span class="inputfieldbar"></span>
  </div>
  
  
  <span *ngIf="iconfeedback && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)"
        class="input-control-feedback">
          <span *ngIf="inp.invalid && (inp.dirty || inp.touched)">&#9888;</span>
          <span *ngIf="inp.valid && (inp.dirty || inp.touched)"> &#10004;</span>
  
  </span>
  
  <span *ngIf="showToolTip && enablepopover" class="tooltiptext">
          <div [innerHTML]="helpInfoMsg"></div>
  </span>
