<div class="inputgroup" #rootDiv (keyup.esc)="closeOnEScape($event)">

    <label id="fieldlabel" for="input" *ngIf="haslabel" [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
    {{fieldlabel}}
  </label>

    <input type="hidden" [ngModel]="value" (ngModelChange)="onChange($event)" #inp="ngModel" />
    <input id="{{componentId}}" tabindex="1" aria-autocomplete="list" role="combobox" [attr.aria-expanded]="showToolTip" [attr.aria-activedescendant]="" type="text" class="input-control" [value]="displayValue" [ngClass]="{'input-control-error' : inp.invalid && !displayValue && (inp.dirty || inp.touched),
         'input-control-success' : inp.valid && displayValue && (inp.dirty || inp.touched)}" (input)="onInput(inp)" (blur)="onblur($event)" (focus)="onFocus(rootDiv)" (click)=" onDropDownClick($event)" [attr.placeholder]="placeholder" [readonly]="readonly ? true : null"
        [attr.disabled]="disabled ? true: null" [required]="!allowblank" (keyup.end)="focusToLast($event)" (keyup)="onDropDownSearchKeyUp($event)" (keyup.enter)="closeOnEScape($event)" (keydown)="navigateKey($event)" />

    <span class="drodown-caret-down" role="listbox" [attr.aria-expanded]="showToolTip" (click)="onIconClick()">
    <amexio-c-icon key="dropdown_caret" *ngIf="!maskloader"></amexio-c-icon>
    <em class="fa fa-spinner fa-spin" *ngIf="maskloader"></em>
  </span>

    <span #dropdownitems class="dropdown" [ngClass]="{'dropdown-up' : posixUp}" [ngStyle]="dropdownstyle">
    <ul aria-labelledby="fieldlabel" aria-haspopup="listbox" class="dropdown-list">

      <li role="option" tabindex="1" class="list-items" [ngClass]="{'list-items-selected':item.selected}" *ngFor="let item of filteredOptions"
        id="{{item.index}}" (mousedown)="onItemSelect(item)" (click)="onItemSelect(item)">
        <ng-container *ngIf="bodyTemplate">
          <ng-template [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{ $implicit: { text : row }, row: item }">
          </ng-template>
        </ng-container>
        <ng-container *ngIf="!bodyTemplate">
          <span>
            <amexio-display-field [data]="item" [data-index]="displayfield"></amexio-display-field>
          </span>

    </ng-container>
    <span style="float : right">{{item?.checked ? '&#10004;': ''}}</span>
    </li>
    
    <ng-template *ngIf="filteredOptions && (filteredOptions.length < 1)">
        <li class="list-items">No Options</li>
    </ng-template>
    </ul>
    <ng-content></ng-content>
    </span>
    <span class="inputfieldbar"></span>
</div>
<span *ngIf="showToolTip && enablepopover" class="tooltiptext">
  <div [innerHTML]="helpInfoMsg"></div>
</span>

<span *ngIf="iconfeedback && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)" class="input-control-feedback">
  <span *ngIf="inp.invalid && (inp.dirty || inp.touched)">&#9888;</span>
<span *ngIf="inp.valid && (inp.dirty || inp.touched)"> &#10004;</span>

</span>