<div class="flex-row">
    <div class="flex-col flex-col-12">
        <div style="display: flex;" class="flex-start">
            <label role="text" style="outline: none; cursor: text;" class="label-content medium-bold">
                More Details: &nbsp;
            </label>
            <amexio-toggle (onChange)="onChange($event)" [size]="'small'" [type]="1" shape="square"> </amexio-toggle>
        </div>
    </div>
</div>
<div class="flex-row" *ngFor="let row of data">
    <div [class]="'flex-col  flex-col-'+(12/row.length)" *ngFor="let col of row">
        <div class="card-container">
            <header class="card-header flex-start" style="justify-content: space-between; padding: 10px;"
                [ngStyle]="{'background-color':col.navBarBGColor, 'color':col.navBarFontColor}">
                <label role="text" style="outline: none; cursor: text;" class="label-content medium-bold">
                    {{col.themeName}}
                </label>
                <amexio-button *ngIf="testmode" [icon]="'fa fa-check'" [type]="'transparent'" (onClick)="themeChange(col)"></amexio-button>
            </header>
            <div *ngIf="isMoreDetails" class="card-body cardbody">
                <img [attr.alt]="col.themeName" [attr.src]="'assets/images/theme-icons/'+col.themeImageFile"
                    class="img-fluid" />
                <br />
                <label role="text" style="outline: none; cursor: text;" class="label-content small-bold">
                    Version: {{col.version}}
                </label>
                <br />
                <label role="text" style="outline: none; cursor: text;" class="label-content small-bold">
                    Style: {{col.style}}
                </label>

            </div>
            <footer class="card-footer flex-center">
                <div *ngFor="let color of col.themes"
                    style="display: block; height: 50px; width:100%;  margin: 0px 5px;"
                    [ngStyle]="{'background-color': color}"></div>
            </footer>
        </div>
    </div>
    <div>