<ng-container>
    <amexio-floating-button *ngIf="!relative" style="position: fixed; right: 10px; bottom: 25px;" (onClick)="togglePanel()" [relative]="true"
        [icon]="'fa fa-ellipsis-v'" [type]="'red'">
    </amexio-floating-button>
</ng-container>
<div style="display: block; position: relative; width: 100%;">
    <ng-container>
        <amexio-button *ngIf="closeable" [label]="'Theme Selector'" [type]="'theme-color'" [tooltip]="'Theme Selector'" (onClick)="togglePanel()">
        </amexio-button>
    </ng-container>


    <amexio-card-ce *ngIf="show" [ngStyle]="themeStyle()">
        <amexio-header-ce [align]="'space-between'" [border-bottom]="true">
            <div style="width:100%;">
                <div class="flex-inline flex-spacebetween">
                    <amexio-label [word-wrap]="false" style="width:90%" [size]="'medium-bold'">
                        Material Design Themes {{toggle}}
                    </amexio-label>

                    <amexio-image *ngIf="closeable" style="display: block; cursor: pointer;" [icon-class]="'fa fa-times ng-star-inserted'" (onClick)="togglePanel()">
                    </amexio-image>

                </div>
                <br />
                <div style="display: inline-flex;">
                    <amexio-label [size]="'small'">
                        More Details: &nbsp;
                    </amexio-label>
                    <amexio-toggle (onChange)="onChange($event)" [size]="'small'" [type]="1" shape="square">
                    </amexio-toggle>
                </div>
            </div>
        </amexio-header-ce>
        <amexio-body-ce style="overflow: auto;display: block;" [ngStyle]="{'height': (closeable)?'400px' : '100%'}">
            <div class="flex-row">
                <ng-container *ngFor="let row of data">
                    <div [class]="'flex-col'" [class]="'flex-col-'+(12/colsize)" *ngFor="let col of row">
                        <div class="card-container" style="margin: 5px;">
                            <header class="card-header flex-inline flex-spacebetween" style="padding: 10px;" [ngStyle]="{'background-color':col.navBarBGColor, 'color':col.navBarFontColor}">
                                <label role="text" style="width:90%;outline: none; cursor: text; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                    class="label-content medium-bold">
                                    {{col.themeName}}
                                </label>
                                <span *ngIf="testmode" style="cursor: pointer;" (click)="themeChange(col)">
                                    <i class="fa fa-check"></i>
                                </span>
                            </header>
                            <div *ngIf="isMoreDetails" class="card-body cardbody">
                                <img [attr.alt]="col.themeName" [attr.src]="'assets/amexiomdathemes/images/'+col.themeImageFile"
                                    class="img-fluid" />
                                <br />
                                <label role="text" style="outline: none; cursor: text;" class="label-content small-bold">
                                    Version: {{col.version}}
                                </label>
                                <br />
                                <label *ngIf="col.algorithmName" role="text" style="outline: none; cursor: text;" class="label-content small-bold">
                                    Algorithm: {{col.algorithmName}}
                                    <br />
                                </label>

                                <label *ngIf="col.releaseDate" role="text" style="outline: none; cursor: text;" class="label-content small-bold">
                                    Release: {{col.releaseDate}}
                                </label>

                            </div>
                            <footer class="card-footer flex-center" [ngStyle]="{ 'height': (closeable) ? '25px':'unset'}">
                                <div *ngFor="let color of col.themes" class="themecolorpalette" [ngStyle]="{'background-color': color,'height': (!closeable) ? '50px':'unset','margin': (!closeable) ? ' 0px 5px':'0px 2px'}">
                                </div>
                            </footer>
                        </div>
                    </div>
                </ng-container>
            </div>
        </amexio-body-ce>
    </amexio-card-ce>
</div>