<div class="tabwrapper">
  <div *ngIf="showprev" class="tabnavigation float-left" (click)="previous()">
    <amexio-pane-icon key="tab_previous"></amexio-pane-icon>
    <!--<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>-->
  </div>
  <div *ngIf="shownext" class="tabnavigation float-right" (click)="next()">
    <amexio-pane-icon key="tab_next"></amexio-pane-icon>
    <!--<i class="fa fa-angle-right  fa-2x" aria-hidden="true"></i>-->
  </div>

  <div #tab class="tab" [ngClass]="{'bottomTab':tabPosition == 'bottom'}">

    <div #tabslist class="tablistitems" [ngClass]="findTabStyleClass()">
      <!-- HEADER -->
     
      <div class="tablink" style="padding-bottom:0%" *ngIf="(this.action == true || header) && (fullPageTabs == false)">
          <div class="table">
            <div class="tablerow">   
              <div class="tablecol">
                {{header}}
              </div>
              <div class="tablecol">
                <ng-content select="amexio-tab-action"></ng-content>
              </div>
            </div>
          </div>
        </div>
      


      <div>
        <div *ngFor="let tabnode of tabCollection" class="tablink {{tabnode.amexiocolor}}" [style.width.px]="singleTabWidth" [ngClass]="findStyleClass(tabnode)"
          (click)="onTabClick(tabnode)">
          <div class="table">
            <div class="tablerow">
              <div *ngIf="tabnode.icon" class="tablecol">
                <amexio-pane-icon *ngIf="tabnode.icon" [customclass]="tabnode.icon"></amexio-pane-icon>
              </div>
              <div class="tablecol">
                {{tabnode.title}}
              </div>
              <div *ngIf="closable" class="tablecol">
                <amexio-pane-icon key="tab_close" (onClick)="closeTab(tabnode)"></amexio-pane-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabcontent" [ngStyle]="{'height.px' : height,'overflow-y' : height!= null ? 'auto' : '','min-height.px' : minHeight}" >
  <ng-content></ng-content>
  <ng-template #target></ng-template>
</div>
