
<div class="inputgroup ">

  <label [style.font-style]="fontStyle" [style.font-family]="fontFamily" [style.font-size]="fontSize">
    {{fieldLabel}}
  </label>

  <textarea type="text" class="input-control"
         [(ngModel)]="value"
         #inp="ngModel"
         [ngClass]="getValidationClasses(inp)"
         (blur)="onBlur()"
         (focus)="onFocus()"
         name="name"
         [pattern]="regEx"
         #ref
         [attr.placeholder]="placeholder"
         [attr.rows]="noOfrows"
         [attr.cols]="noOfCols"
         [attr.disabled] = "disabled ? true: null"
         [attr.required]="!allowBlank">
  </textarea>

  <span *ngIf="iconFeedBack && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)" class="input-control-feedback">
        <span *ngIf="!isValid && inp.touched"><i class="fa fa-times"></i></span>
        <span *ngIf="isValid && inp.touched"><i class="fa fa-check"></i></span>
      </span>

  <span *ngIf="showToolTip && enablePopOver" class="tooltiptext">
        <div  [innerHTML]="helpInfoMsg"></div>
  </span>

</div>
