  <amexio-label style="padding-right:5px"
  class="custom-p-label"
  *ngIf="!editContent"
  [size]="fontsize"
  [font-color]="color"
  enable-click="isEditable"
  (onClick)="onLblClick()"
  >{{ content }}
</amexio-label>
<amexio-text-input style="padding-right:5px"
  class="custom-p-text"
  *ngIf="editContent"
  name="editableText"
  [font-size] = "fontsize"
  [(ngModel)]="textcontent"
  (change)="onTxtUpdate($event)"
  (onBlur)="onTxtUpdate($event)"
>
</amexio-text-input>
 <span *ngIf="newline" [class]="'custom-p-newline'"></span>
