<div *ngIf="show" 
[ngClass]="{'amexio-root-window-ce': windowModel, 'amexio-root-window-ce-windowModel': !windowModel}"
 
class="{{roundedgeclass}}"
 [style.justify-content]="horizontalposition">

  <div  

  [ngClass]="{'content-max-height': (maximize && isFullWindow), 'amexio-root-window-content-ce': windowModel, 'amexio-root-window-content-ce-windowModel': !windowModel}"
  
  (mousedown)='onWindowPress($event)' (mousemove)='onWindowDrag($event)'

    [@animation]="{value: 'visible', params: {transitionParams: transitionOptions}}" [style.width]="width"
    [style.height]="height" [style.top.px]='y' [style.left.px]='x' [style.justify-content]="verticalposition"
    [ngStyle]="maximumWindowStyle" >
    
    
    <div
      [ngStyle]="{'background': bgimage ? 'url(' + bgimage + ') center/cover no-repeat' : null,'resize': resizable ? 'both':'','overflow':resizable ?'auto':'', 'height':(maximize && maximizeflagchanged) ? '100%' :'' }"
      [ngClass]="cclass">
      <div
        [ngStyle]="{'justify-content': (align === 'start' || align === 'end') ? 'flex-'+align:align , 'color':color, 'background': background, 'cursor': draggable ? 'all-scroll':''}">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
