
<ul>
    <li style="width: max-content" class="amexio-innerveticalnode-li" *ngFor="let node of data">
        <div class="amexiovertialtreecontent" (click)="onClick(node)" (dragover)="dragOver($event)" (drop)="dropTable({event: $event, data: node})">
            <span *ngIf="templates == null">{{node.title}}
            </span>
            <span *ngIf="templates != null">
                <ng-template [ngTemplateOutlet]="templates.treeNodeTemplate" [ngTemplateOutletContext]="{ node: node }">
                </ng-template>
            </span>
        </div>
        <!-- {{node | json}} -->
        <amexio-innerveticalnode    *ngIf="(node.children && node.children.length>0)" (onDropClick)="dropInnerTable({event:$event, data: node})" (click)="onClick(node)"
            [templates]="templates" [data]="node.children" [root]="true"></amexio-innerveticalnode>

    </li>
</ul>