<form [ngStyle]="{'display':active ? 'block':'none'}" class="form-container form-group">
    <div class="form-body formbody" tabindex="1">
        <ng-content></ng-content>
    </div>
    <footer #formFooter class="form-footer" [ngStyle]="{'justify-content': footerAlign}">
        <amexio-button *ngIf="showPreviousButton" [icon]="previousIcon" [label]="'Previous'" [type]="'theme-color'"
            [tooltip]="'Previous'" (onClick)="onPreviousClick($event)">
        </amexio-button>
        <span *ngIf="!showPreviousButton"></span>
        <amexio-button *ngIf="showNextButton" [disabled]="isNextButtonDisable" [icon]="nextIcon" [label]="nextLabel"
            [form-bind]="'validateForm'" [type]="'theme-color'" [tooltip]="'Next'" (onClick)="onNextClick($event)">
        </amexio-button>
    </footer>
</form>