

<div class="inputgroup " >
  <div *ngIf="fieldlabel">
    <label>{{fieldlabel}}</label>
  </div>

  <ng-container *ngIf="horizontal">
    <ng-container *ngFor="let row of viewData">

      <label class="input-box-container"  >{{row[displayfield]}}
        <input type="radio" *ngIf="row.selected"  [attr.name]="name" checked="checked" (click)="onClick(row)">
        <input type="radio" *ngIf="!row.selected"  [attr.name]="name" (click)="onClick(row)">
        <span class="input-box-radiobox-label"></span>
      </label>

    </ng-container>
  </ng-container>

  <ng-container *ngIf="!horizontal">
    <ng-container *ngFor="let row of viewData">
      <div>
        <label class="input-box-container">{{row[displayfield]}}
          <input type="radio" *ngIf="row.selected"  [attr.name]="name" checked="checked" (click)="onClick(row)">
          <input type="radio" *ngIf="!row.selected"  [attr.name]="name" (click)="onClick(row)">
          <span class="input-box-radiobox-label"></span>
        </label>
      </div>

    </ng-container>
  </ng-container>

</div>
