<div class="inputgroup" >
  <div *ngIf="fieldlabel">
    <label>{{fieldlabel}}</label>
  </div>
  <ng-container *ngIf="horizontal">
    <ng-container *ngFor="let rData of data">
      <label (click)="onClick(rData)" class="input-box-container" [ngClass]="{'disable-component' : rData.disabled || disabled}">{{rData[displayfield]}}
        <input type="radio" [attr.name]="name" [value]="rData[valuefield]" [attr.disabled] = "rData?.disabled ? true: null" [(ngModel)]="value" >
        <span class="input-box-radiobox-label"></span>
      </label>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!horizontal">
    <ng-container *ngFor="let rData of data">
      <div>
        <label (click)="onClick(rData)" class="input-box-container" [ngClass]="{'disable-component' : rData.disabled || disabled}">{{rData[displayfield]}}
          <input type="radio" [attr.name]="name" [value]="rData[valuefield]" [attr.disabled] = "rData?.disabled ? true: null" [(ngModel)]="value" >
          <span class="input-box-radiobox-label"></span>
        </label>
      </div>
    </ng-container>
  </ng-container>
</div>
