

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: $borderSize solid $cardBorderColor;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.card-container > * {
  padding: 10px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
  text-align:left;
}

.card-header{
  display: flex;
  padding: 20px 24px;
  background: $cardHeaderBGColor;
  border-bottom: $borderSize solid $cardBorderColor;
  font-size: 20px;
  color: $cardHeaderColor;
  font-weight: 300;
  text-transform: capitalize;
  overflow: auto;
}


.card-footer{
  display: flex;
  background-color: $cardFooterBGColor;
  color: $cardFooterColor;
  border-top: $borderSize solid $cardBorderColor;
}

