/** INPUT FORM CONTROL STYLES STARTS**/

.inputgroup {
  position: relative;
}


.inputgroup label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input-control {
  width: 100%;
  padding: .375rem 0;
  font-size: 1rem;
  line-height: 1.5;
  border: $borderSize solid $borderColor;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  border-radius: $borderRadius;
}

.input-control:focus {
  border-color: $borderColor-focus;
  outline: none;
}

.input-control-success {
  border-color:$success;
}

.input-control-error {
  border-color:$error;
}

.input-control-feedback{
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}

.input-control-feedback .success {
  color: $success;;
}

.input-control-feedback .error {
  color: $error;
}

.inputgroup .tooltiptext {
  background-color: $backgroundcolor;
  border: $borderSize solid $borderColor;
  position: absolute;
  z-index: 1;
  padding-left:5px;

}

/** INPUT FORM CONTROL STYLES ENDS**/



/**COLLAPSIBLE SEARCH STARTS **/


.search{
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  transition: all .5s;
  width: 55px;
}

.search:focus {
  width: 300px;
  background-color: #fff;
  border-color: #66CC75;
}

/**COLLAPSIBLE SEARCH ENDS **/


/**Rating **/
.amexio-rating {
  cursor: pointer;
  outline: none;
}
.amexio-rating.readonly {
  cursor: default;
}
.amexio-rating.disabled {
  cursor: not-allowed;
}
.amexio-rating i{
  font-style: normal;
}
.amexio-star-icon {
  color: #666666;
  font-size: 2em;
  position: relative;
  border-color: 1px solid black;
}
.amexio-star-icon:before {
  color: #FDE16D;
  content: attr(data-icon) " ";
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
}
.amexio-rating.disabled .amexio-star-icon:before {
  color: #ECECEC;
  text-shadow: none;
}
.amexio-star-icon.half10:before {
  width: 10%;
}
.amexio-star-icon.half20:before {
  width: 20%;
}
.amexio-star-icon.half30:before {
  width: 30%;
}
.amexio-star-icon.half40:before {
  width: 40%;
}
.amexio-star-icon.half50:before {
  width: 50%;
}
.amexio-star-icon.half60:before {
  width: 60%;
}
.amexio-star-icon.half70:before {
  width: 70%;
}
.amexio-star-icon.half80:before {
  width: 80%;
}
.amexio-star-icon.half90:before {
  width: 90%;
}
.amexio-star-icon.half100:before {
  width: 100%;
}
@-moz-document url-prefix() { /* Firefox Hack */
  .amexio-star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}
