/** INPUT FORM CONTROL STYLES STARTS**/

::placeholder {
  padding-left: 15px;
  color: $borderColor;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left: 15px;
  color: $borderColor;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding-left: 15px;
  color: $borderColor;
}

.inputgroup {
  position: relative;
}


.inputgroup label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input-control {
  width: 100%;
  padding: .375rem 0;
  font-size: 1rem;
  line-height: 1.5;
  border: $borderSize solid $borderColor;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  border-radius: $borderRadius;
}

.input-control:focus {
  border-color: $borderColor-focus;
  outline: none;
}

.input-control-success {
  border-color:$success;
}

.input-control-error {
  border-color:$error;
}

.input-control-feedback{
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}

.input-control-feedback .success {
  color: $success;;
}

.input-control-feedback .error {
  color: $error;
}

.inputgroup .tooltiptext {
  background-color: $backgroundcolor;
  border: $borderSize solid $borderColor;
  position: absolute;
  z-index: 1;
  padding-left:5px;

}

/** INPUT FORM CONTROL STYLES ENDS**/



/**COLLAPSIBLE SEARCH STARTS **/


.search{
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  transition: all .5s;
  width: 55px;
}

.search:focus {
  width: 300px;
  background-color: #fff;
  border-color: #66CC75;
}

/**COLLAPSIBLE SEARCH ENDS **/


/**Rating **/
.amexio-rating {
  cursor: pointer;
  outline: none;
}
.amexio-rating.readonly {
  cursor: default;
}
.amexio-rating.disabled {
  cursor: not-allowed;
}
.amexio-rating i{
  font-style: normal;
}
.amexio-star-icon {
  color: #666666;
  font-size: 2em;
  position: relative;
  border-color: 1px solid black;
}
.amexio-star-icon:before {
  color: #FDE16D;
  content: attr(data-icon) " ";
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 0;
}
.amexio-rating.disabled .amexio-star-icon:before {
  color: #ECECEC;
  text-shadow: none;
}
.amexio-star-icon.half10:before {
  width: 10%;
}
.amexio-star-icon.half20:before {
  width: 20%;
}
.amexio-star-icon.half30:before {
  width: 30%;
}
.amexio-star-icon.half40:before {
  width: 40%;
}
.amexio-star-icon.half50:before {
  width: 50%;
}
.amexio-star-icon.half60:before {
  width: 60%;
}
.amexio-star-icon.half70:before {
  width: 70%;
}
.amexio-star-icon.half80:before {
  width: 80%;
}
.amexio-star-icon.half90:before {
  width: 90%;
}
.amexio-star-icon.half100:before {
  width: 100%;
}
@-moz-document url-prefix() { /* Firefox Hack */
  .amexio-star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}


input[type="range"]{
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.15, #94A14E),
      color-stop(0.15, #C5C5C5)
  );
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #E9E9E9;
  border: 1px solid #CECECE;
  height: 15px;
  width: 15px;
}

/** For vertical style **/
/*input[type=range][orient=vertical]{
  writing-mode: bt-lr; !* IE *!
  -webkit-appearance: slider-vertical; !* WebKit *!
  width: 8px;
  height: 175px;
  padding: 0 5px;
}*/




/** Chip css **/
.chip {
  display: inline-block;
  padding: 0 13px;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #3498DB;
}

.closebtn {
  padding-left: 10px;
  color: #4C4C4C;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.amexio-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.chip-input{
  position: absolute;
  top: 30px;
  left: 1px;
  z-index: 2;
  display: block;
  /* width: 38px;
   height: 38px;*/
  //line-height: 38px;
  text-align: center;
}




/** new date picker **/
.date-icon{
  padding-top: 15px;
}

.currentMonth{
  font-weight:bold;
}

.notCurrentMonth{

}

.month {
  padding: 10px 25px;
  width: 91%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor:pointer;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor : pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  cursor : pointer;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  border-radius: 135px;
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
.date-today{
  padding-top: 1%;
  padding-left: 45%;
}
