.navbar-wrapper {
  position: fixed;
  margin: 0;
  right: 0;
  left: 0;
  top:0;
  z-index: 1;
  background: $menubarBGColor;
  line-height: 1.5;
  color: $menubarColor;

  .navbar-mobile-bars{
    display: none;
  }
}

.nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $menubarColor;
  padding: 0px 10px;

  .nav-item{
    display: flex;

    .menu{
      padding: 0px 10px 0px 10px;

    }
    .submenus{
      height: auto;
      max-height: 510px;
      overflow: auto;
      box-shadow: 2px 1px 1px  black;
      box-sizing: border-box;
      background: $subMenuCotentBGColor;
    }


  }
}


@media only screen and (max-width: 500px) {

  .navbar-wrapper {
    .navbar-mobile-bars{
      display: block;
      padding: 10px 10px;
    }

  }

  .nav-bar{
    flex-direction: column;

    .nav-item{
      flex-direction: column;
      padding-bottom: 10px;

      .menu{
        padding-bottom: 10px;
      }
    }
    .menu-mobile-bars{
      display: none;
      cursor: pointer;
    }
  }
}
