/* You can add global styles to this file, and also import other style files */


$color: #404c51;

$oppColor: white;

$backgroundcolor: #ECEFF1;

$borderSize : 1px;

$borderRadius : 2px;

$borderColor : #ced4da;

$borderColor-focus: #5cb3fd;

$primaryBGColor: #0275d8;

$secondaryBGColor: #ffffff;

$successBGColor : #5cb85c;

$dangerBGColor : #d9534f;

$warningBGColor : #f0ad4e;

$primaryColor: $oppColor;

$secondaryColor: $color;

$successColor : $oppColor;

$dangerColor : $oppColor;

$warningColor : $oppColor;

$success: $successBGColor;

$error : $dangerBGColor;

$hoverColor : $primaryColor;

$hoverBGColor : $primaryBGColor;


$sidenavHeaderBGColor: white;
$sidenavHeaderColor: $color;
$sidenavBGColor : white;
$sidenavColor: black;
$sidenavactive:#eee;

$tabBorderSize: $borderSize;
$tabBorderColor : $borderColor;
$tabActiveBorder : red;
$tabActiveBGColor : $borderColor;
$tabActiveBorderSize : 3px;

$menubarBGColor : #3498DB;
$menubarColor : white;
$menuHoverColor: orange;
$subMenuCotentBGColor : white;
$subMenuCotentColor : #777;

$modalBGColor: lighten(black,50%);
$cardHeaderColor: lighten($borderColor,10%);
$cardFooterColor: lighten($borderColor,10%);

$toastBGColor : $primaryBGColor;
$toastColor : $primaryColor;
/* You can add global styles to this file, and also import other style files */

.float-right {
  float: right;
}

.float-left {
  float: left;
}


$borderLayoutBorder : 1px;
$borderLayoutBorderColor : red;

$menubarBGColor : black;
$menubarColor : white;
$menuHoverColor: orange;

$subMenuCotentBGColor : white;
$subMenuCotentColor : #777;
$menuborderColor:#ced4da;
$menuborderSize:1px;

$navbarBGColor : #90A4AE;
$navbarBoxShadow:#666;
$navbarColor : white;



body {
  background: $backgroundcolor;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-weight: 400;
  color: $color;
  font-size: 1em;
  margin: 0px;
  padding: 0px;

}

@import "common.scss";

@import "input.scss";

@import "button.scss";

@import "dropdown.scss";

@import "paginator.scss";

@import "inputbox.scss";

@import "datatable.scss";

@import "treenode.scss";

@import "listbox.scss";

@import "horizontaltreeview.scss";

@import "sidenav.scss";

@import "accordion.scss";

@import "nav.scss";

@import "navbar.scss";

@import "tab.scss";

@import "steps.scss";

@import "notification.scss";

@import "cards.scss";

@import "window.scss";

@import "carousel.scss";

@import "navbar.scss";

.material-icons{
  font-size: inherit !important;
}
