<div  class="input-helper dropdown tooltiptext">
    <div *ngIf="minmsg">
        {{minmsg}}
    </div>
    <div *ngIf="maxmsg">
        {{maxmsg}}
    </div>
    <div *ngIf="errormsg">
        {{errormsg}}
    </div>
    <div *ngIf="minerrormsg ">
        <b>Min Length:</b> {{minerrormsg}} 
    </div>
    <div *ngIf="maxerrormsg ">
        <b>Max Length: </b> {{maxerrormsg}} 
    </div>
    <div *ngIf="minerrormsgno ">
        <b>Min Value:</b> {{minerrormsgno}} 
    </div>
    <div *ngIf="maxerrormsgno ">
        <b>Max Value: </b> {{maxerrormsgno}} 
    </div>
</div>