.amexio-rating {
    cursor: pointer;
    outline: none;
}
.amexio-rating.readonly {
    cursor: default;
}
.amexio-rating.disabled {
    cursor: not-allowed;
}
.amexio-rating i{
    font-style: normal;
}
.amexio-star-icon {
    color: #666666;
    font-size: 2em;
    position: relative;
    border-color: 1px solid black;
}
.amexio-star-icon:before {
    color: #FDE16D;
    content: attr(data-icon) " ";
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 0;
}
.amexio-rating.disabled .amexio-star-icon:before {
    color: #ECECEC;
    text-shadow: none;
}
.amexio-star-icon.half10:before {
    width: 10%;
}
.amexio-star-icon.half20:before {
    width: 20%;
}
.amexio-star-icon.half30:before {
    width: 30%;
}
.amexio-star-icon.half40:before {
    width: 40%;
}
.amexio-star-icon.half50:before {
    width: 50%;
}
.amexio-star-icon.half60:before {
    width: 60%;
}
.amexio-star-icon.half70:before {
    width: 70%;
}
.amexio-star-icon.half80:before {
    width: 80%;
}
.amexio-star-icon.half90:before {
    width: 90%;
}
.amexio-star-icon.half100:before {
    width: 100%;
}
@-moz-document url-prefix() { /* Firefox Hack */
    .amexio-star-icon {
        font-size: 50px;
        line-height: 34px;
    }
}