<!--Col 2-->
<amexio-row>
  <amexio-column size="2">
    COL 2
  </amexio-column>
  <amexio-column size="2">
    COL 2
  </amexio-column>
  <amexio-column size="2">
    COL 2
  </amexio-column>
  <amexio-column size="2">
    COL 2
  </amexio-column>
  <amexio-column size="2">
    COL 2
  </amexio-column>
  <amexio-column size="2">
    COL 2
  </amexio-column>
</amexio-row>


<!--COl 4-->

<amexio-row>
  <amexio-column size="4">
    COL 4
  </amexio-column>
  <amexio-column size="4">
    COL 4
  </amexio-column>
  <amexio-column size="4">
    COL 4
  </amexio-column>
</amexio-row>

<!--COl 6-->

<amexio-row>
  <amexio-column size="6">
    COL 6
  </amexio-column>
  <amexio-column size="6">
    COL 6
  </amexio-column>
</amexio-row>

<!--COl 12-->

<amexio-row>
  <amexio-column size="12">
    COL 12
</amexio-row>
