<div *ngIf="data == null" style="height: 300px;width: 300px;">
  <div class="spinner"></div>
</div>

<div class="treenode" *ngFor="let node of data let rowindex = index">
  <div #id class="treenode-content" (click)="onClick(node)" (keyup.enter)="onClick(node)">
    <div style="white-space:nowrap">
      <div  aria-label="Dropdown button clickable" class="tree-node-label" *ngIf="node[childarraykey] && (node[childarraykey].length>0)">
        <em class="fa" [ngClass]="{'fa-angle-down':node.expand,'fa-angle-right':!node.expand}"></em>
      </div> &nbsp;
      <div tabindex="1" id={{node.elementId}} role="treeitem" (keyup.arrowup)="onArrowUp(data,node,rowindex)"
        (keyup.arrowdown)="onArrowDown($event,data,node,rowindex)" class="tree-node-label tree-node-label-hover"
        [attr.aria-expanded]="node.expand" [ngClass]="{'tree-node-label-selected':node.isSelected ,'tree-node-label-not-selected':node.isSelected=='false'}"
        [attr.draggable]="enabledrag" (dragleave)="dragleave($event)" (drop)="drop({event:$event,data:node})"
        (dragover)="allowDrop({event:$event,data:node})" (dragstart)="onDragStart({event:$event,data:node})"
        (contextmenu)="loadContextMenu({event:$event,data:node,ref:id})">
        <div class="tree-node-label" *ngIf="enablecheckbox">
          <input type="checkbox" [checked]="'checked'?node.checked:null" (click)="emitCheckedData(node)" />
        </div>
        <div class="tree-node-label" (click)="onNodeClick(node)">
          <div class="tree-node-label" *ngIf="templates == null">
            <div class="tree-node-label" *ngIf="node.icon" [ngClass]="node.icon" aria-hidden="true" style="padding-right: 5px;">
            </div>
            <div class="tree-node-label">
              {{node[displaykey]}}
              <ng-container *ngIf="badge && node.badge">
                <span class="tree-badge">{{node.badge}}</span>
              </ng-container>
            </div>
          </div>
          <div class="tree-node-label" *ngIf="templates != null">
            <ng-template [ngTemplateOutlet]="templates.treeNodeTemplate" [ngTemplateOutletContext]="{ $implicit: { text: node.text } , icon: node.icon,node : node }">
            </ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="treenode-children" style="display: block;" *ngIf="node.expand && node[childarraykey] && (node[childarraykey].length>0)">
    <amexio-treeview [child-array-key]="childarraykey" [display-key]="displaykey" [enable-drag]="enabledrag"
      [enable-drop]="enabledrop" [data]="node[childarraykey]"  [dragData]="dragData" [parentRef]="parentRef" (onDrag)=onDragStart($event)
      (onDrop)=drop($event) (nodeClick)="onNodeClick($event)" (dragleave)="($event)" (nodeRightClick)="loadContextMenu($event)"
      [across-tree]="acrosstree" [templates]="templates"
       [global-tree-data]="globalTreeData"
       [filter-tree-flag]="filtertreeflag"
       [enable-checkbox]="enablecheckbox" [badge]="badge"
      (onTreeNodeChecked)="this.onTreeNodeCheck($event)">
    </amexio-treeview>
  </div>
</div>
<ng-container *ngIf="flag">
  <base-contextmenu [base-context-menu]="contextmenu" [mouse-location-top]="mouseLocation.top" [mouse-location-left]="mouseLocation.left"
    [is-FlagShow]="flag" [right-click-data]="rightClickNodeData" (onRightClick)="rightClickDataEmit($event)"
    [position-up]="posixUp">
  </base-contextmenu>
</ng-container>
