
<li class="treenode" *ngFor="let node of data" >
  <div class="treenode-content">
          <span class="treenode-toggler" (click)="onClick(node)" *ngIf="node.children && (node.children.length>0)">
            <span *ngIf="node.expand">&#9662;</span>
            <span *ngIf="!node.expand">&#9656;</span>
          </span>
    <span class="treenode-label" [ngClass]="{'treenode-label-active':node.active}">
            <span *ngIf="enableCheckBox">
              <input type="checkbox" [checked]="'checked'?node.checked:null" (click)="emitCheckedData(node)"/>
            </span>
            <span *ngIf="node.icon" [ngClass]="node.icon" aria-hidden="true">
            </span>
            <span (click)="onNodeClick(node)">

              <ng-container *ngIf="templates == null">
                <label >{{node.text}}</label>
              </ng-container>

              <ng-template *ngIf="templates != null"
                           [ngTemplateOutlet]="parentTmp"
                           [ngTemplateOutletContext]="{ $implicit: { text: node.text } , icon: node.icon,node : node }">
              </ng-template>
            </span>
          </span>
  </div>
  <ul class="treenode-children" style="display: block;" *ngIf="node.expand && node.children && (node.children.length>0)">
    <amexio-test-treeview [data]="node.children" (nodeClick)="onNodeClick($event)" [templates]="templates" [enableCheckBox]="enableCheckBox" (onTreeNodeChecked)="onTreeNodeCheck($event)" ></amexio-test-treeview>
  </ul>
</li>
