
/*----------------------------------------------------------------------*/
/*        ACCORDION COMPONENT         */
/*----------------------------------------------------------------------*/

.accordion {
  background-color: $accordionBGColor;
  color: $accordionColor;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-color: $borderColor;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}


.accordion .active-accordion, .accordion:hover {
  background-color: $accordionActiveBGColor;
  color: $accordionActiveColor;
}

.accordion:after {
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
}

.panel {
  padding: 0 18px;
  background-color: $accordionPanelBGColor;
  color: $accordionPanelColor;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/** Transparent Styling **/
.accordion-transparent{
  cursor: pointer;
  padding: 10px;
  width: 100%;
  background: white;
  border-color: white;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  box-shadow: none;
  border-top: 1px solid;
}

.accordion-transparent .active-accordion, .accordion-transparent:hover {

}

.accordion-transparent:after {
  color: red;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
}

.panel {
  padding: 0 18px;
  background-color: $accordionPanelBGColor;
  color: $accordionPanelColor;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
