
/*----------------------------------------------------------------------*/
/*        BORDER LAYOUT Media Q COMPONENT         */
/*----------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

  .borderlayout-container-N-E-C-W-S{
    grid-template-areas:
      'north north north north north north'
      'east east east east east east '
      'center center center center center center'
      'west west west west west west'
      'south south south south south south';
  }

  .borderlayout-container-N-E-C-S{
    grid-template-areas:
      'north north north north north north'
      'east east east east east east '
      'center center center center center center'
      'south south south south south south';
  }

  .borderlayout-container-N-C-W-S{
    grid-template-areas:
      'north north north north north north'
      'center center center center center center'
      'west west west west west west'
      'south south south south south south';
  }

  .borderlayout-container-E-C-W-S{
    display: grid;
    grid-template-areas:
      'east east east east east east '
      'center center center center center center'
      'west west west west west west'
      'south south south south south south';
  }

  .borderlayout-container-E-C-S{
    display: grid;
    grid-template-areas:
      'east east east east east east '
      'center center center center center center'
      'south south south south south south';
  }

  .borderlayout-container-C-W-S{
    display: grid;
    grid-template-areas:
      'center center center center center center'
      'west west west west west west'
      'south south south south south south';
  }
}
