
/*----------------------------------------------------------------------*/
/*        DATATABLE MediaQ COMPONENT         */
/*----------------------------------------------------------------------*/

@media screen and (max-width: 600px) {

  .datatable {
    border: 0;
  }

  .datatable .datatable-header{
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }


  .datatable .datatable-row{
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    height: auto!important;
  }

  .datatable .datatable-header .datatable-col{
    height: auto!important;
    font-weight: 500;
  }
  .datatable .datatable-col{
    border-bottom: $borderSize solid $borderColor;
    display: block;
    font-size: .8em;
    text-align: right;
    width: auto!important;
  }

  .datatable .datatable-col:before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
