
/*----------------------------------------------------------------------*/
/*        DATATABLE COMPONENT         */
/*----------------------------------------------------------------------*/

.datatabletitle{
  font-size: 1.5em;
  margin: .1em 0 .35em;
}

.datatable {
  display: table;
  border: $datatableBorderSize solid $datatableBorderColor;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.datatable-checkbox-width {
  width: 5%;
}

.datatable-height {
  overflow-y: auto;
  overflow-x: hidden;
}

.datatable-height::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.datatable-height::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.datatable-height::-webkit-scrollbar-thumb
{
  background-color: $themeBGColor;
}

.datatable .title {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}


.datatable .datatable-header{
  display: table-header-group;
  background-color: $datatableHeaderBGColor;
  text-align: left;
  color : $datatableHeaderColor;
  font-size: larger;
  cursor: pointer;
}
.datatable .datatable-col{
  vertical-align: middle;
}


.datatable .datatable-row{
  border: $datatableBorderSize solid $datatableBorderColor;
  display: table-row;
  height: 50px;
}


.datatable .datatable-row:hover{
  background-color: $datatableRowHoverBG;
  cursor: pointer;
  @mixin for_row_hover() {
    $datatableRowHover: false !default;

    @if $datatableRowHover {
      color: $datatableRowHover;
    }
  }
  @mixin for_row_bold() {
    $datatableFontBold: false !default;

    @if $datatableFontBold {
      font-weight :bold;
    }
  }
}

.datatable .datatable-row-active{
  background-color: $datatableRowActiveBG;
  @mixin for_row_active() {
    $datatableRowActive: false !default;

    @if $datatableRowActive {
      color: $datatableRowActive;
    }
  }
}

.datatable .datatable-col{
  display: table-cell;
  padding: .625em;
  text-align: left;
}

.footer{
  margin: .1em 0 .35em;
  cursor: pointer;
  text-align: center;
}

.datatable-row:nth-child(odd){
  background-color: $datatableOddRowColor;
}

.col-group {
  text-align: left!important;
}

.datatable-icon-right {
}

.text-input-width {
  width: auto;
}


