/*----------------------------------------------------------------------*/
/*        DATAPOINTS COMPONENT         */
/*----------------------------------------------------------------------*/

.datapoints{
  background: $datapointBGColor;
  color: $datapointColor;
  font-size: 125%;
  /* Border */
  border-radius: 0px;
  border: $borderSize solid $datapointBorderColor;
  padding: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  .datapoints{
    border: none;
    box-shadow: none;
  }

  .datapoints-north{
    color: $themeBGColor;
  }

  .datapoint-south{
    border-radius: 0px;
    background-color: $primaryBGColor;
    color: $primaryColor;
    padding: 5px;
    margin: 1px;
  }

  .datapoint-west{
    padding: 5px;
  }

  .datapoint-eas{
    padding: 5px;
  }


}
