@media screen and (max-width: 600px) {
  .dialogue-sm{
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60%; /* Location of the box */
    width: 100%;
    //min-height: 50%; /* Enable scroll if needed */
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .dialogue-sm{
    flex-direction: column;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60%; /* Location of the box */
    width: 80%;
    //min-height: 50%; /* Enable scroll if needed */
    padding-left: 10%;
  }
}
