
.flex-col-45pt{
  max-width: 45%;
}

.flex-col-10pt{
  max-width: 10%;
}


.item-selector-action-panel{

  .actionbar{
    display: flex; flex-direction: column;

    .actionbarinner{
      align-self: center;
      display: flex; flex-direction: column;
      justify-content: space-between;

      .action{
        background-color: $primaryBGColor;
        color: $primaryColor;
        width: 50px;
        height: 30px;
        text-align: center;
        cursor: pointer;
      }

      .actiondisable{
        background-color: lighten($primaryBGColor,50);
      }

      .movetop{  display: block; }
      .moveup{  display: block;}
      .moveleft{  display: block;}
      .moveright{  display: block;}
      .movedown{  display: block;}
      .movebottom{  display: block;}

    }


  }
}




@media only screen and (max-width: 500px) {

  .flex-col-45pt,.flex-col-10pt{
    max-width: 100%;
  }

  .item-selector-action-panel{

    .card-header{
      display: none;
    }
    .actionbar{
      flex-direction: row;

      .actionbarinner{
        max-height: 30px;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .movetop{  display: none; }
        .moveup{  display: none;}
        .moveleft{  display: block;}
        .moveright{  display: block;}
        .movedown{  display: none;}
        .movebottom{  display: none;}

        .action{
          transform: rotate(90deg);
        }
      }


    }
  }

}


.list-item-active{
  background-color: lighten($primaryBGColor,30);
}
