
/*----------------------------------------------------------------------*/
/*        ITEM SELECTOR Media-Q COMPONENT         */
/*----------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

  .flex-col-45pt,.flex-col-10pt{
    max-width: 100%;
  }

  .item-selector-action-panel{

    .card-header{
      display: none;
    }
    .actionbar{
      flex-direction: row;

      .actionbarinner{
        max-height: 30px;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .movetop{  display: none; }
        .moveup{  display: none;}
        .moveleft{  display: block;}
        .moveright{  display: block;}
        .movedown{  display: none;}
        .movebottom{  display: none;}

        .action{
          transform: rotate(90deg);
        }
      }


    }
  }

}
