
/*----------------------------------------------------------------------*/
/*        MENU COMPONENT         */
/*----------------------------------------------------------------------*/

@media only screen and (max-width: 959px) {
  .menu-content .menu-content-cols .col-menu-nodes{
    width: 100%;
  }

  .menu-content{
    width:100%;
  }
  .menubar  .menuheader .menulink {
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $borderColor;

  }
  .menubar  .menuheader .menulink a {
    //width: 100%;
  }

  .menu-content .menu-content-cols{
    width: 100%;
    padding: 0px;
  }

  .menu-content .menu-content-cols .col-menu-nodes{
    width: 100%;
  }


  .menubar .menuheader .menulink:hover {
    display: block;
    .menu-content{
      display: none;
    }
    a{
      color: $menuHoverColor;
    }
  }
}
