.flex-row{
  flex-direction: row; box-sizing: border-box; display: flex;

}

.flex-col{
  flex: 1 1 100%;
  box-sizing: border-box;
  padding:5px;

}

.flex-col-1{
  max-width: 8.333333%;
}

.flex-col-2{
  max-width: 16.666667%;
}

.flex-col-3{
  max-width: 25%;
}

.flex-col-4{
  max-width: 33.333333%;
}

.flex-col-5{
  max-width: 41.666667%;
}

.flex-col-6{
  max-width: 50%;
}

.flex-col-7{
  max-width: 58.333333%;
}

.flex-col-8{
  max-width: 66.666667%;
}

.flex-col-9{
  max-width: 75%;
}

.flex-col-10{
  max-width: 83.333333%;
}

.flex-col-11{
  max-width: 91.666667%;
}

.flex-col-12{
  max-width: 100%;
}

@media only screen and (max-width: 500px) {
  .flex-row{
    flex-direction: column;
  }
  .flex-col {

  }
  .flex-col-1,.flex-col-2,.flex-col-3,.flex-col-4,.flex-col-5,.flex-col-6,.flex-col-7,.flex-col-8,.flex-col-9,.flex-col-10,.flex-col-11,.flex-col-12{
    max-width: 100%;
  }
}
