
/*----------------------------------------------------------------------*/
/*        ROW-COLUMN MediaQ COMPONENT         */
/*----------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
  .flex-row{
    flex-direction: column;
  }
  .flex-col {

  }
  .flex-col-1,.flex-col-2,.flex-col-3,.flex-col-4,.flex-col-5,.flex-col-6,.flex-col-7,.flex-col-8,.flex-col-9,.flex-col-10,.flex-col-11,.flex-col-12{
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 500px) {

  .flex-col-2pt5,.flex-col-9pt5{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
