
.step-label-highlight {
  color: black;
  font-weight: bold;
}
.stepwizard-step p {
  margin-top: 0px;
  color: #666;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: $backgroundcolor;
  z-index: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.step-box-sqaure{
  width: 100%;
  display: table;
  table-layout: fixed;
}
.step-box-table{
  display: table-row;
}
.step-box-table-item{
  width: 2px;
  display: table-cell;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  border: 1px solid black;
  font-weight: bolder;
}

.step-box-table-item.active{
  background-color: $menubarBGColor;
}
.step-box-table-item.disbaled{
  background-color: lighten($menubarBGColor,50%);
  cursor : not-allowed;
}
