<fieldset>
  <legend class="collapsible-legend" (click)="onLegendClick()">

      <ng-container *ngIf="!collapsible">
        {{title}}
      </ng-container>

      <ng-container *ngIf="collapsible && !isActive">
        <amexio-pane-icon key="fieldset_expand"></amexio-pane-icon>{{title}}
      </ng-container>

      <ng-container *ngIf="collapsible && isActive">
        <amexio-pane-icon key="fieldset_collpase"></amexio-pane-icon>{{title}}
      </ng-container>


  </legend>
  <div class="collapsible-fieldset" [ngClass]="{'active' : isActive}">
    <ng-content></ng-content>
  </div>
</fieldset>
