/* Misc Variables */

$borderSize: 1px;
$borderSize2: 2px;
$borderSize3: 3px;
$borderRadius: 2px;
$borderRadius2: 3px;
$borderRadius3: 4px;
$scrollBGColor: $componentDisabledBGColor;
$scrollThumbColor: $componentHeaderBGColor;
$borderColor: #ced4da;
$primaryBGColor: $themeSecondaryColor;
$secondaryBGColor: $componentBGColor;
$successBGColor: #5cb85c;
// $successDisabledBGColor: lighten($successBGColor, 20);
$dangerBGColor: #d9534f;
// $dangerDisabledBGColor: lighten($dangerBGColor, 20);
$warningBGColor: #f0ad4e;
// $warningDisabledBGColor: lighten($warningBGColor, 20);
$defaultDisabledBGColor: lightgray;

// $primaryBGHover: darken($primaryBGColor, 10);
// $secondaryBGHover: darken($secondaryBGColor, 10);
// $dangerBGHover: darken($dangerBGColor, 10);
// $successBGHover: darken($successBGColor, 10);
// $warningBGHover: darken($warningBGColor, 10);

$primaryColor: $componentBGColor;
$secondaryColor:$componentFontColor;
$successColor: $componentBGColor;
$dangerColor: $componentBGColor;
$warningColor: $componentBGColor;
$success: $successBGColor;
$error: $dangerBGColor;
$focusColor: #5cb3fd;
$borderColorFocus: $focusColor;

/****************************************************************************
                    Common CSS Helper Classes
*****************************************************************************/

body {
    background: $appBackground;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    // color: $appForegroundColor;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Roboto, Trebuchet MS, Arial, Helvetica, sans-serif;
    background-image: $appBackgroundImage;
}

.helperHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.flex-inline {
   display: flex;
   flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
 }
 
.flex-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}


.flex-spacebetween {
    justify-content: space-between
}

.border-bottom {
    border-bottom: 1px solid #cccccc;
}

.border-top {
    border-top: 1px solid #cccccc;
}

.border-left {
    border-left: 1px solid #cccccc;
}

.border-right {
    border-right: 1px solid #cccccc;
}

.header {
    background-color: $componentHeaderBGColor;
    color: $componentHeaderFontColor;
    padding: 10px;
    overflow: hidden;
}

.header .title {
    float: left;
    font-size: 20px;
}

.table {
    display: table;
    padding: 5px;
}

.table .tablerow {
    display: table-row;
}

.table .tablerow .tablecol {
    display: table-cell;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.table {
    display: table;
    padding: 5px;
}

.table .tablerow {
    display: table-row;
}

.table .tablerow .tablecol {
    display: table-cell;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.vertical-table {
    display: table;
    padding: 5px;
}

.vertical-table .vertical-tablerow {
    display: table-row;
}

.vertical-table .vertical-tablerow .vertical-tablecol {
    display: table-cell;
    // vertical-align: middle;
}
.listbox .header .table .tablerow .tablecol {
    padding-right: 0px!important;
}


.disable-component {
    opacity: 0.50;
    pointer-events: none;
    cursor: not-allowed;
    // background-color: $componentDisabledBGColor;
}

.defaultcolor {
    color: $themeFontColor;
}

.verticalalign-tableft {
    // vertical-align: top !important;
    border-right: $borderSize solid $borderColor !important;
}

.verticalalign-tabright {
    // vertical-align: top !important;
    display:inline-table;
    border-left: $borderSize solid $borderColor !important;
}

.verticalalign-tabcontent {
    vertical-align: top !important;
}


/*
We set the element we are applying our loading mask to relative
*/

.loading-mask {
    position: relative;
}


/*
Because we set .loading-mask relative, we can span our ::before
element over the whole parent element
*/

.loading-mask::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
 




input:disabled {
    opacity: 0.55;
    cursor: not-allowed;
  }


/*
Spin animation for .loading-mask::after
*/

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

label {
    display: inline-block;
    // margin-top: 5px;
    max-width: 100%;
    //padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
}

a {
    color: $appTransparency;
    //text-transform: lowercase;
}

textarea {
    font-family: inherit;
}

textarea:disabled {
    opacity: 0.55;
    cursor: not-allowed;
   // background-color: $componentDisabledBGColor;
}


/*
The loading throbber is a single spinning element with three
visible borders and a border-radius of 50%.
Instead of a border we could also use a font-icon or any
image using the content attribute.
*/

.loading-mask::after {
    content: "";
    position: absolute;
    border-width: 3px;
    border-style: solid;
    border-color: transparent $themeSecondaryColor $themeSecondaryColor;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: 2s linear 0s normal none infinite running spin;
    filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}


/** **/

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: $themeSecondaryColor;
    border-bottom-color: $themeSecondaryColor;
    animation: spinner .8s ease infinite;
}

.row-disabled {
    opacity: 0.55;
}

@import "amexio.colors.scss";

// .fa-2x {
//     font-size: 2em !important;
//     margin-top: 24% !important;
// }

// .fa-3x {
//     font-size: 3em !important;
//     margin-top: 12% !important;
// }

/* You can add global styles to this file, and also import other style files */


// Change the Position of these CSS
.amexio-theme-color1{
    background-color: $themePrimaryColor !important;
    color: $themePrimaryFontColor !important;
    }
    .amexio-theme-color2{
    background-color: $themeSecondaryColor !important;
    color: $themeSecondaryFontColor !important;
    }
    .amexio-theme-color3{
        background-color: $theme3rdColor !important;
    color: $theme3rdFontColor !important;
    }
    .amexio-theme-color4{
        background-color: $theme4thColor !important;
    color: $theme4thFontColor !important;
    }
    .amexio-theme-color5{
        background-color: $theme5thColor !important;
    color: $theme5thFontColor !important;
    }
    .amexio-theme-color6{
        background-color: $theme6thColor !important;
    color: $theme6thFontColor !important;
    }
    
    
    .amexio-theme-color1-Gradient{
        background-image: $themePrimaryColorGradient !important;
    color: white !important;
    }
    .amexio-theme-color2-Gradient{
        background-image: $themeSecondaryColorGradient !important;
    color: white !important;
    }
    .amexio-theme-color3-Gradient{
        background-image: $theme3rdColorGradient !important;
    color: white !important;
    }
    .amexio-theme-color4-Gradient{
        background-image: $theme4thColorGradient !important;
    color: white !important;
    }
    .amexio-theme-color5-Gradient{
        background-image: $theme5thColorGradient !important;
    color: white !important;
    }
    .amexio-theme-color6-Gradient{
        background-image: $theme6thColorGradient!important;
    color: white !important;
    }

    .tabwapper .tab .tablistitems .tablink .table {
        padding: 0px !important;
        }