<!-- <pre><code>{{creditCardModel|json}}</code></pre> -->
<ng-container *ngIf="templateFlag">
    <div class="creditCardFormSglCol">
    <div class="imageSglCol">
        <i *ngFor="let cardimage of cardGroupData" [style.color]="cardimage.color" [attr.class]="cardimage.iconName" style="font-size:50px">
        </i>
    </div>
    <div class="ownerdetailsSglCol">
        <label *ngIf="showlabel">CARD HOLDER NAME</label>
        <div class="ownerSglCol">
            <input [ngClass]="{'input-control-success':isNameValid==true,'input-control-failure':isNameValid==false}" type="text" placeholder="CARD HOLDER NAME"
                class="input-control" [(ngModel)]="creditCardModel.owner" (keyup)="onNameClick(creditCardModel.owner)">
        </div>
    </div>

    <div class="cardNumberSglCol">
        <label *ngIf="showlabel">CARD NUMBER</label>
        <input type="text" placeholder="CARD NUMBER" maxlength="19" class="input-control" [(ngModel)]="creditCardModel.cardnumber"
            [value]="cardNumberValue" #inp="ngModel" [ngStyle]="{'border-bottom-color': validPatternCard ? 'green':'red'}" (keyup)="onInput(inp)"
        />
    </div>
    <label *ngIf="showlabel">EXP DATE</label>
    <div class="expiration-dateSglCol">
        <div class="monthSglCol">
            <select [(ngModel)]="creditCardModel.expMonth" placeholder="MM" style="padding:10px">
                <option *ngFor="let months of dateData">{{months.month}}</option>
            </select>
        </div>
        <div class="dateSglCol">
            <select [(ngModel)]="creditCardModel.expYear" yearControl="yearControl" style="padding:10px" placeholder="YY">
                <option *ngFor="let year of yearList">{{year}}</option>
            </select>
        </div>
    </div>
    <div class="cvvSglCol">
        <label *ngIf="showlabel">CVV</label>
        <input #inpcvv="ngModel" [ngClass]="{'input-control-success':isCvvValid==true,'input-control-failure':isCvvValid==false}"
            type="text" placeholder="CVV" maxlength="3" class="input-control" [(ngModel)]="creditCardModel.cvv" (keyup)="onClick(inpcvv)">
    </div>
</div>
</ng-container>

<br>
<ng-container *ngIf="!templateFlag">
<div class="creditCardForm">
    <div class="owner">
        <label *ngIf="showlabel">CARD HOLDER NAME</label>
        <input [ngClass]="{'input-control-success':isNameValid==true,'input-control-failure':isNameValid==false}" type="text" placeholder="CARD HOLDER NAME"
            class="input-control" [(ngModel)]="creditCardModel.owner" (keyup)="onNameClick(creditCardModel.owner)">
    </div>
    <div [ngClass]="{'image-label':showlabel,'image':!showlabel}">
        <i *ngFor="let cardimage of cardGroupData" [style.color]="cardimage.color" [attr.class]="cardimage.iconName" style="font-size:40px"></i>
    </div>


    <div class="cardNumber">
        <label *ngIf="showlabel">CARD NUMBER</label>
        <input type="text" placeholder="CARD NUMBER" maxlength="19" class="input-control" [(ngModel)]="creditCardModel.cardnumber"
            #inp="ngModel" [ngStyle]="{'border-bottom-color': validPatternCard ? 'green':'red'}" (keyup)="onInput(inp)" />
    </div>

    <div [ngClass]="{'expiration-date-label':showlabel,'expiration-date':!showlabel}" >
        <label *ngIf="showlabel">EXP DATE</label>
        <div class="exp-month-date-label">
            <div class="month">
                <select [(ngModel)]="creditCardModel.expMonth" style="padding:10px" placeholder="MM">
                    <option *ngFor="let months of dateData">{{months.month}}</option>
                </select>
            </div>
            <div class="date">
                <select [(ngModel)]="creditCardModel.expYear" yearControl="yearControl" style="padding:10px" placeholder="YY">
                    <option *ngFor="let year of yearList">{{year}}</option>
                </select>
            </div>
        </div>

    </div>

    <div class="cvv">
        <label *ngIf="showlabel">CVV</label>
        <input #inpcvv="ngModel" [ngClass]="{'input-control-success':isCvvValid==true,'input-control-failure':isCvvValid==false}"
            type="text" placeholder="CVV" maxlength="3" class="input-control" [(ngModel)]="creditCardModel.cvv" (keyup)="onClick(inpcvv)">
    </div>
</div>
</ng-container>