ul li{
    list-style: none;
    padding: 1px;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.amexio-sidenavbar-sidenavleft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: auto;
}

.amexio-sidenavbar-sidenavopenleft{
    position:absolute;
    top:0;
    left:0;
    font-size:30px;
    cursor:pointer
}

.amexio-sidenavbar-sidenavleft >ul >li {
    border-bottom: 1px solid #e7e7e7;
}

.amexio-sidenavbar-sidenavright {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: auto;
}

.amexio-sidenavbar-sidenavopenright{
    position:absolute;
    top:0;
    right:0;
    font-size:30px;
    cursor:pointer
}

.amexio-sidenavbar-sidenavright >ul >li {
    border-bottom: 1px solid #e7e7e7;
}

@media screen and (max-height: 450px) {
    .amexio-sidenavbar-sidenavleft {padding-top: 15px;}
}
.amexio-sidenavbar-filter{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.amexio-sidenavbar-input-width{
    width: 100%;
}
.amexio-sidenavbar-nav-link-a{
    padding-left: 10px;
    padding-right: 10px;

}
.amexio-sidenavbar-child-header{
    float: right;
}
.amexio-sidenavbar-level1-child{
    list-style: none;
    padding:0px;
}