<nav #navbar style="flex-direction: column" class="topnav {{themeCss}}" [ngStyle]="{'color': color, 'top': top, 'opacity': opacity}"
    [ngClass]="{'topnav-mobile':mobilemode, 'transparentNav':transparent}" (window:resize)="resize($event)">
    <div [style.display]="showBanner ? 'block': 'none'">
        <ng-content select="amexio-banner"></ng-content>
    </div>
    <div [ngClass]="{'flex-col': mobilemode, 'flex-inline': !mobilemode}">

        <div #navbarfixed [ngClass]="{'lhs-mobile':mobilemode}" [ngStyle]="{'flex': !title || !logo ? 'none':''}" style="padding-bottom:0.2%">
            <div class="topnav-lhs-inner" [ngClass]="{'topnav-lhs-inner-mobile':mobilemode, 'topnav-lhs-nologo': logo==''}">
                <span>

                    <span *ngIf="((sidenav && homepageType ==='1') || (mobilemode && homepageType ==='2'))" class="homepage-bar-collapse" (click)="onArrowClick($event)">
                        <amexio-image [icon-class]=" 'fa fa-bars' "></amexio-image> &nbsp;
                    </span>

                    <img alt="title " style="cursor: pointer " (click)="onNavLogoClick.emit($event) " (load)="onImageLoad() " *ngIf="logo " [attr.src]="logo "
                        class="navbar-logo ">
                    <a (click)="onNavTitleClick.emit($event)" [ngStyle]="{'color': color}">{{title}}</a>


                    <ng-container *ngIf="homepageType=='2' && !mobilemode">
                        <ng-container *ngIf="!isIconLeft">
                            <span class="collaspe-icon-style" (click)="onArrowClick($event)">
                                <amexio-image [icon-class]=" 'fa fa-chevron-right' "></amexio-image>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="isIconLeft">
                            <span class="collaspe-icon-style" (click)="onArrowClick($event)">
                                <amexio-image [icon-class]=" 'fa fa-chevron-left' "></amexio-image>
                            </span>
                        </ng-container>
                    </ng-container>

                </span>

                <span *ngIf="mobilemode && navItemPresent" class="float-right mobilebar" (click)="toggleDrawerPanel($event)">
                    <em *ngIf="!toggle" class="fa fa-caret-down fa-2x"></em>
                    <em *ngIf="toggle" class="fa fa-caret-up fa-2x"></em>
                </span>
            </div>
        </div>


    <div #navbaritems *ngIf="toggle" class="topnav-rhs" [ngClass]="{'rhs-mobile':mobilemode, 'transparentNav1':transparent && mobilemode}">
        <div class="topnavmainbar" [ngClass]="{'topnavmainbar-mobile':mobilemode}">
            <div #navbaritems1 class="topnavmainbaritems" [ngClass]="{'topnavmainbaritems-mobile':mobilemode}">
                <ng-content select="[position-left]"></ng-content>
            </div>
            <div #navbaritems2 class="topnavmainbaritems" [ngClass]="{'topnavmainbaritems-mobile':mobilemode}">
                <ng-content select="[position-center]"></ng-content>
            </div>
          <div #navbaritems3 class="topnavmainbaritems" [ngClass]="{'topnavmainbaritems-mobile':mobilemode}">
            <ng-content select="[position-right]"></ng-content>
            <amexio-nav-item  *ngFor="let node of resizeItemCollection" [type]="node.type" (onNavItemClick)="externalLink($event)"
                             [sub-menu-height-padding]="node.subMenuPadding" [title]="node.title" [mobilemode]="mobilemode"  [data]="node.data" [icon]="node.icon">
            </amexio-nav-item>

            <ng-container *ngIf="enableMoreMode && moreBucket.length > 0">
                     <span class="testClass">
                        <amexio-nav-item [sub-menu-height-padding]="moreBucket[0].subMenuPadding"
                         [type]="'menu'"
                                          [mobilemode]="mobilemode"
                                          (onNavItemClick)="externalLink($event)"
                                          [data]="moreBucket"
                                          [title]="'More'">
                      </amexio-nav-item>
                     </span>
            </ng-container>
          </div>
        </div>
    </div>
</div>
</nav>
