<ng-container *ngFor="let node of data; let i= index">
  <ng-container *ngIf="node?.separatorHeader">
    <span [style.border-top]="node?.separator ? '1px solid' : 'none'" class="separator-header" style="padding: 10px; opacity: 0.6">
      {{node?.separatorHeader}}
    </span>
  </ng-container>
  <div class="nav-dropdown-content-subnode"
    [style.border-top]="(node?.separator && !node?.separatorHeader ) ? '1px solid' : 'none'"
    [style.display]="mobilemode ? 'block' : 'inline-flex'">
    <div [ngStyle]="{'padding' : subMenuPadding + ' 0px'}" [style.padding-left.px]="mobilemode ? padding : 20">
      <span *ngIf="submenuposition == 'left' && node.submenus && !mobilemode">
        <i class="fa fa-angle-left" style="padding-bottom:5px;padding-right:5px;" aria-hidden="true"></i>
      </span>
      <span (click)="onClick(node, $event)">{{node.text}} </span>
    </div>
    <div>
      <span *ngIf="(submenuposition == 'right' && node.submenus) || ( mobilemode && node.submenus)"
        (click)="onIconClick($event)" [style.padding-right.px]="mobilemode ? 27:10"
        [style.padding-top.px]="mobilemode ? 0:5" style="float:right;">
        <i *ngIf="!isExpanded" class="fa fa-angle-down" aria-hidden="true"></i>
        <i *ngIf="isExpanded" class="fa fa-angle-up" aria-hidden="true"></i>
      </span>
    </div>
    <div *ngIf="node.submenus"
    [ngStyle]="{'display': (mobilemode && mobileToggleModel) ? 'block':null}"
      [ngClass]="{'innersubmenunodes': (submenuposition == 'right' && !mobilemode), 
                 'innersubmenunodesright':(submenuposition == 'left' && !mobilemode),
                 'innersubmenunodes-mobile': (submenuposition == 'right' && mobilemode),
                 'innersubmenunodesright-mobile':(submenuposition == 'left' && mobilemode)}">
      <amexio-nav-innermenu [sub-menu-height-padding]="subMenuPadding" [mobilemode]="mobilemode" [color]="itemcolor"
        [padding]="padding+20" [submenuposition]="submenuposition" [data]="node.submenus"
        (navLinkClick)="navItemClick($event)">
      </amexio-nav-innermenu>
    </div>
  </div>


</ng-container>