<div class="nav-dropdown">
  <a class="nav-dropbtn" style="white-space: nowrap" [ngStyle]="{'color':color}" (mouseover)="onMouseoverTitle($event)" (click)="onHeaderClick($event)">
        <span  [style.padding-left.px]="icon ? 0 : 10">
            <i *ngIf="icon" [ngClass]="icon"></i>
        </span >
    <span >{{title}}</span>

    <span >
            <i  class="dropdownicon fa fa-angle-down"  [style.margin-right.px]="mobilemode ? 10 : 20"></i>
        </span>
  </a>

  <div [ngStyle]="{'display': (mobilemode && mobileToggleModel) ? 'block':null}"
  [ngClass]="{'mobileModeNav': mobilemode , 'nav-dropdown-content':!mobilemode , 'nav-dropdown-content-mobile':mobilemode }">

    <ng-container *ngFor="let node of data">
        <ng-container *ngIf="node?.separatorHeader">
        <div [style.border-top]="node?.separator ? '1px solid' : 'none'" style="padding: 10px; opacity: 0.6; font-weight: 600" class="nav-dropdown-content-node" >{{node?.separatorHeader}}</div>
        </ng-container>
    <a  [ngStyle]="{'padding' : subMenuPadding + ' 10px'}" [style.border-top]="(node?.separator && !node?.separatorHeader) ? '1px solid' : 'none'" (mouseover)="onNodeHover(node, $event)">
                <span class="nav-dropdown-content-node" (click)="onClick(node, $event)" >
                    <i *ngIf="icon" [ngClass]="node.icon"></i>&nbsp;
                    <span>
                        <span *ngIf="position == 'left' && node.submenus && !mobilemode">
                            <i class="fa fa-angle-left" style="padding-bottom:6px; padding-right:6px;" aria-hidden="true"></i>
                        </span>
                        {{node.text}}

                         <span *ngIf="(position == 'right' && node.submenus) || ( mobilemode && node.submenus)"
                               [style.padding-right.px]="mobilemode ? 18:10"
                               style="float:right;" (click)="onIconClick($event,node)">
                           <ng-container *ngIf="!mobilemode">
                              <i class="fa fa-angle-right"  aria-hidden="true"></i>
                           </ng-container>
                             <ng-container *ngIf="mobilemode">
                            <i *ngIf="!node.isExpanded" class="fa fa-angle-down"  aria-hidden="true"></i>
                            <i *ngIf="node.isExpanded" class="fa fa-angle-up"  aria-hidden="true"></i>
                           </ng-container>


                        </span>
                    </span>
                </span>

      <span *ngIf="node.submenus && node.isExpanded" [ngClass]="{'submenunodes': (position == 'right' && !mobilemode), 'submenunodesright': (position == 'left' && !mobilemode) }" >
                    <amexio-nav-innermenu [sub-menu-height-padding]="subMenuPadding"  [mobilemode]="mobilemode" [color]="itemcolor" [submenuposition]="position" [data]="node.submenus" (navLinkClick)="navItemClick($event)">
                    </amexio-nav-innermenu>
                </span>

    </a>
    </ng-container>

    <div *ngIf="type==='menucontainer'" class="nav-menu-container">
      <a *ngFor="let node of data" (click)="onClick(node, $event)">
        <i *ngIf="icon" [ngClass]="node.icon"></i>&nbsp;{{node.text}}</a>
      <ng-content></ng-content>
    </div>
  </div>
</div>
