

<div [ngClass]="{floatingbtntooltip: tooltip}">
    <div class="floatingbutton" 
     title=""
     role="button"
     tabindex="0" 
     [attr.aria-pressed]="ispressed"
     attr.aria-describedby="{{componentId}}"
     (keyup.enter)="togglebtn($event)" 
     (keyup.space)="togglebtn($event)"

        [ngClass]="addCSSClasses()" 
        [ngStyle]="{'top':top,'bottom':bottom,'left':left,'right':right, 'background-color': bgcolorflag ? bgcolor : ''}"
         (click)="buttonClick($event)"

         
      >
      <!-- attr.color="iconcolor" -->
        <amexio-form-icon *ngIf="icon" [customclass]="icon" [faiconcolor]="iconcolor"
        >
        </amexio-form-icon>
        {{label}}

        <span id="{{componentId}}" role="tooltip" *ngIf="tooltip" class="floatingbtntooltiptext">{{tooltip}}</span>
    </div>
</div>