
<div class="btn-group">
  <ng-container *ngFor="let button of buttons">
    <button  [attr.disabled] = "button.disabled ? true: null" [ngClass]="{'button-default': button.size=='default' || button.size ==null,'button-small': button.size=='small','button-large' : button.size=='large','button-primary' : button.type == 'primary' || button.type == null,'button-success' : button.type == 'success',' button-danger' : button.type=='danger','button-warning' : button.type=='warning','disabled' : button.disabled}"><i class="{{button.icon}}" aria-hidden="true"></i>{{button.label}}</button>
  </ng-container>
</div>
