
<div class="btn-group">
  <ng-container *ngFor="let button of buttons">
    <button  [attr.disabled] = "button.disabled ? true: null" (click)="buttonGroupClick($event,button)"
    [ngClass]="{'button-default': button.size=='default' || button.size ==null,
    'button-small': button.size=='small',
    'button-large' : button.size=='large',
    'button-primary' : button.type == 'primary' || button.type == 'theme-color',
    'button-secondary' : button.type == 'secondary' || button.type == null ||button.type == 'theme-backgroundcolor' ,
    'button-success' : button.type == 'success' || button.type == 'green',
    ' button-danger' : button.type=='danger'|| button.type == 'red',
    'button-warning' : button.type=='warning' || button.type == 'yellow',
    'button-transparent' : button.type=='transparent',
    'disabled' : button.disabled}">
      <!-- <i class="{{button.icon}}" aria-hidden="true"></i> -->
      <ng-container *ngIf="button.icon!=null">
        <amexio-form-icon style="padding-right: 5px;" [customclass]="button.icon"></amexio-form-icon>
      </ng-container>

      {{button.label}}
    </button>
  </ng-container>
</div>
