


$color: #404c51;

$oppColor: white;

$backgroundcolor: #ECEFF1;

$borderSize : 1px;

$borderRadius : 2px;

$borderColor : #ced4da;

$borderColor-focus: #5cb3fd;

$primaryBGColor: #455A64;

$secondaryBGColor: #ffffff;

$successBGColor : #5cb85c;

$dangerBGColor : #d9534f;

$warningBGColor : #f0ad4e;


$primaryColor: #FFFFFF;

$secondaryColor: $color;

$successColor : $oppColor;

$dangerColor : $oppColor;

$warningColor : $oppColor;

$success: $successBGColor;

$error : $dangerBGColor;

$hoverColor : $primaryColor;

$hoverBGColor : $primaryBGColor;


$sidenavHeaderBGColor: white;
$sidenavHeaderColor: $color;
$sidenavBGColor : white;
$sidenavColor: black;
$sidenavactive:#eee;

$treeNodeActiveBGColor : $sidenavactive;
$treeNodeActiveColor : $sidenavColor;


$tabBorderSize: $borderSize;
$tabBorderColor : $borderColor;
$tabActiveBorder : red;
$tabActiveBGColor : $borderColor;
$tabActiveBorderSize : 3px;

$menubarBGColor : #3498DB;
$menubarColor : white;
$menuHoverColor: orange;
$subMenuCotentBGColor : white;
$subMenuCotentColor : #777;

$modalBGColor: lighten(black,50%);

$cardBGColor: #FFFFFF;
$cardColor: black;

$cardHeaderBGColor: #455A64;
$cardHeaderColor: #FFFFFF;
$cardFooterBGColor: #455A64;
$cardFooterColor: #FFFFFF;
$cardBorderColor: $borderColor;

$toastBGColor : $primaryBGColor;
$toastColor : $primaryColor;
/* You can add global styles to this file, and also import other style files */

.float-right {
  float: right;
}

.float-left {
  float: left;
}



$borderLayoutBorder : 0px;
$borderLayoutBorderColor : none;

$menubarBGColor : black;
$menubarColor : white;
$menuHoverColor: orange;

$subMenuCotentBGColor : white;
$subMenuCotentColor : #777;
$menuborderColor:#ced4da;
$menuborderSize:1px;

$navbarBGColor : #90A4AE;
$navbarBoxShadow:#666;
$navbarColor : white;


$datapointBGColor : #ffffff;
$datapointColor : #455A64;
$datapointBorderColor : $borderColor;

$componentBGColor: #ffffff;

$ratingBorderColor : $borderColor;
$ratingActiveColor : $primaryBGColor;


$datetimepickerBGColor : white;
$datetimepickertopbarBGColor : $primaryBGColor;
$datetimepickerActiveColor : $datetimepickerBGColor;

$fieldSetBorderSize : $borderSize;
$fieldSetBorderColor : $borderColor;

body {
  background: $backgroundcolor;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-weight: 400;
  color: $color;
  font-size: 1em;
  margin: 0px;
  padding: 0px;

}

@import "../default/common";

@import "../default/amexio.components.scss";
@import "../default/amexio.data.scss";
@import "../default/amexio.layouts.scss";
@import "../default/amexio.nav.scss";
@import "../default/amexio.panes.scss";



/*----------------------------------------------------------------------*/
/*        INPUT/LABEL/A/BUTTON/DROPDOWN COMPONENT         */
/*----------------------------------------------------------------------*/


.input-control {
  border-radius: 0px;
  line-height: 2;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid $borderColor;
  background-color: #FFFFFF;
  color: $color;
}

.input-control-success {
  border-bottom-color:$success;
}

.input-control-error {
  border-bottom-color:$error;
}


.inputgroup label {
  margin-bottom: 0rem;
}

label {
  display: inline-block;
  margin-top: 5px;
  max-width: 100%;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;

}


a {
  color: rgba(0, 0, 0, 0.87);
  text-transform: lowercase;
}


.navbar-logo-unit a{
  text-transform: capitalize;
}



button.app-button {
  border-radius: 8px;
}

.btn-group button{
  border-right: 1px solid white;

}

.drodown-caret-down{
  top: 35px;
  color: $borderColor;
}




/* ----------------------------------- */
/*        DATATABLE COMPONENT         */
/* ----------------------------------- */

.datatable .datatable-row{
  height: 50px;
}

.datatable .datatable-header .datatable-col{
  height: 50px;
  font-weight: 500;
}

.datatable .datatable-header{
  background-color: darken($backgroundcolor,5%);
  font-size: larger;
}

.datatable .datatable-col{
  vertical-align: middle;
}

.datatable .datatable-row{
  height: 50px;
}

.datatable .datatable-header .datatable-col{
  height: 50px;
  font-weight: 500;
}

.datatable .datatable-header{
  background-color: $primaryBGColor;
  font-size: larger;
  color: $primaryColor;
}

.datatable .datatable-col{
  vertical-align: middle;
}



/* ----------------------------------- */
/*        DATAPOINTS COMPONENT         */
/* ----------------------------------- */

.datapoints{
  .datapoints{
    border: none;
    box-shadow: none;
  }
}
.datapoints-north{
  font-size: 36px;
  font-weight: bold;
  color: $primaryBGColor;
}

.datapoint-south{
  /* Background */
  background-color: $primaryBGColor;
  color: $primaryColor;
  border-radius: 0px;
  font-size: 20px;
  padding: 5px;
  margin: 1px;
}

.datapoint-west{
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}


/**LIST BOX STYLE**/

.listbox .list{
  background-color: white;

  .title {
    float: left;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
    padding-top: 8px;
    a {
      font-size: 16px;
      color: rgba(0,0,0,0.54) !important;
      text-transform: lowercase;
    }
  }
}


/**SIDE NAV **/
.sidenav .activenode{
  color: #00695C;
}


/**PROFILE IMAGE**/
.image-responsive{
  max-width: 100%;
  width: 100%;
  border-top: 1px solid #1b1d22;
  border-bottom: 1px solid #1b1d22;
  margin-top: 10px;
  margin-bottom: 10px;
}


/***APP SPECIFIC STYLE****/

/* ----------------------------------- */
/*        LAYOUT COMPONENT             */
/* ----------------------------------- */



.flex-col-2pt5{
  max-width: 20.8333325%;
}

.flex-col-9pt5{
  max-width: 79.1666635%;
}

@media only screen and (max-width: 500px) {

  .flex-col-2pt5,.flex-col-9pt5{
    max-width: 100%;
  }
}

.email {
  background-color: white;
}


div.profile-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

div.profile-image a{
  text-transform: capitalize;
}
