<br />
<div class="wrapper" #tab>
    <div *ngFor="let item of imageData ;let i=index">
        <ng-container *ngIf="item.active">

            <div class="ce-caroueslslideshow" [ngStyle]="{'visibility':item.active ? 'visible':'hidden'}">
                <div class="ce-caroueslimages">
                    <img src={{item.imagepath}} style='height: 100%; width: 100%; object-fit: cover' />

                </div>
                <ng-container *ngIf="itemTemplate">
                    <div style=" position: absolute;" [style.left]="positionLeft+'%'" [style.right]="positionRight+'%'">
                        <ng-template tabindex="1" [amexioTemplateWrapper]="itemTemplate" [item]="item"></ng-template>
                    </div>

                </ng-container>
                <div class="ce-caroueslbar">
                    <div class="ce-caroueslnav">
                        <a class="ce-caroueslnav-prev">
                            <span>Previous</span>
                            <div (click)="previousClick(i)" (mouseenter)="onPreBtnHover(i)">
                                <!-- <amexio-image [path]='preImagePath'>
                                </amexio-image> -->
                                <img src="{{preImagePath}}" style='height: 100%; width: 100%; object-fit: cover; cursor:pointer' />

                            </div>
                        </a>
                        <a class="ce-caroueslnav-next">
                            <span>Next</span>
                            <div (click)="nextClick(i)" (mouseenter)="onNextBtnHover(i)">

                                <img src="{{nextImagePath}}" style='height: 100%; width: 100%; object-fit: cover; cursor:pointer' />

                            </div>
                        </a>
                    </div>

                    <div class="ce-caroueslnav-content">
                        <div class="ce-caroueslnav-content-prev">
                            <span> {{titleModel.previousTitle}}</span>
                        </div>
                        <div class="ce-caroueslnav-content-current">
                            <span>
                                {{titleModel.centerTitle}}
                            </span>
                        </div>
                        <div class="ce-caroueslnav-content-next">
                            <span> {{titleModel.nextTitle}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>