<!-- third structure starts-->
<div style="margin-top: 10px;">

    <amexio-row>
        <amexio-column [size]="3">
            <amexio-dropdown [place-holder]="'Select Timezone'" name="timezone" [data]="zoneData"
                [display-field]="'timezone'" [enable-sort]="true" [sort]="'asc'">
            </amexio-dropdown>
        </amexio-column>
        <amexio-column [size]="7" style="padding-top:15px">
            <span style=" margin-left: 15px; padding: 5px 4px; "
                [ngStyle]="{'background-color': radio.colorcode}" *ngFor="let radio of legendArr">
                <span style="padding: 5px 3px 3px; ">

                    <input style="cursor:pointer" type="radio" [(ngModel)]="radioValue" name="{{labelData[0].label}}"
                        (change)="onSelection(radio)" value="{{radio.label}}">
                </span>

                <span style="font-size:medium; margin-right: 2%" [style.color]="radio.textcolor"> {{radio.label}}</span>
            </span>
        </amexio-column>
        <amexio-column [size]="2" style="padding-top:14px">
            <span style="float: right">
                <amexio-button [label]="'Undo'" [size]="'small'" [type]="'theme-color'" (onClick)="onUndoClick()"
                    [icon]="'fa fa-undo'">
                </amexio-button>
            </span>
        </amexio-column>
    </amexio-row>

</div>
<br>
<div style="width:100%; height:100%; margin:5px; border: 1px solid  darkgrey">
    <div #datesdiv style="width: 100%; height:80%; display: -webkit-box">
        <div #datesfirstdiv style="width:15%; height:100% ; display: grid;">
            <div [style.height.px]="dateSpanHt" class="datespan1">
                <span class="datespan2">
                </span>
            </div>
            <div>
                <!-- dates arr -->
                <ul style="padding: 5px 0 !important; margin: 0; list-style: none;">
                    <li [style.height.px]="dateSpanHt" style=" padding-left:8%; text-align: left; margin-bottom: 3px; color:black;
                                                            background-color:#DCDCDC"
                        *ngFor="let item of dateArr[0].dates">
                        {{item.date | date:'EEE'}} -
                        {{item.date | date: 'd'}}/{{item.date | date: 'MM'}}/{{item.date | date: 'yy'}}

                    </li>
                </ul>
            </div>

        </div>
        <div #datesseconddiv style="width:85%">
            <span>
                <ul style="padding: 5px 0px 2px 0px !important; margin: 0; display:flex;
                                   list-style: none;">
                    <li [style.height.px]="dateSpanHt" [style.width.px]="dateSpanWt" style="text-align: center; display: inline-block; 
line-height: 20px; margin-bottom: 3px;width:46px;
background-color:#DCDCDC; 
border-left:3px solid #F6F6F6" *ngFor="let item of newTimeArr">
                        {{item | date: 'h:mm '}}
                    </li>
                </ul>
            </span>
            <!-- chk here -->
            <span *ngFor="let iterate of dateArr1; index as parentindex">
                <ul style="padding: 0px 0px 0px 0px !important; margin: 0; display:flex;
                                       list-style: none;">
                    <li [style.height.px]="dateSpanHt" [style.width.px]="dateSpanWt"
                        (click)="onTimeBlockClick(iterate, parentindex, item, childindex)" style="text-align: center; 
display: inline-block; width:46px;
line-height: 20px; margin-bottom: 3px;
background-color:#DCDCDC; 
border-left:3px solid #F6F6F6"
                        [ngStyle]="{'background-color': (item.colorflag) ? item.color : '#DCDCDC', 'cursor': (radioValue.length > 0) ?'pointer':''}"
                        *ngFor="let item of iterate.slots; index as childindex">
                    </li>
                </ul>

            </span>

        </div>
    </div>
</div>
<br>
<br>