
<div class="inputgroup ">

  <label [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
    {{fieldlabel}}
  </label>

  <input type="password" class="input-control"
         [(ngModel)]="value"
         #inp="ngModel"
         [ngClass]="getValidationClasses(inp)"
         (blur)="onblur()"
         (focus)="onFocus()"
         (input)="onInput()"
         (change)="onChangeEv()"
         name="name"
         [pattern]="regEx"
         #ref
         [attr.placeholder]="placeholder"
         [attr.maxlength]="maxlength"
         [attr.minlength]="minlength"
         [attr.disabled] = "disabled ? true: null"
         [attr.required]="!allowblank"/>

  <span *ngIf="iconfeedback && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)" class="input-control-feedback">
       <span *ngIf="!isValid && inp.touched"><i class="fa fa-times"></i></span>
        <span *ngIf="isValid && inp.touched"><i class="fa fa-check"></i></span>

      </span>

  <span *ngIf="showToolTip && enablepopover" class="tooltiptext">
        <div  [innerHTML]="helpInfoMsg"></div>
  </span>

</div>
