
<div class="vertical-table">
  <div class="vertical-tablerow">
    <div class="vertical-tablecol verticalalign-tabcontent">
      <div style="float:left" class="tabcontent">
        <ng-content></ng-content>
      </div>
    </div>

    <div style="float:right" class="vertical-tablecol verticalalign-tabright">
      <div class="verticalnavtab verticalnavtab-right">
        <ul>
          <li *ngFor="let tabnode of tabCollection">
            <div class="defaultnode" [ngClass]="{'rightactivetab':tabnode.active,'disabled-tab':tabnode.disabled }" 
            (click)="onTabClick(tabnode)">
              <span *ngIf="tabnode.icon" [ngClass]="tabnode.icon"  aria-hidden="true"></span>
              <span style="padding-left:5px">{{tabnode.title}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
