


$defaultBGColor : #F0EEE9;

$defaultColor :black;

$color: $defaultColor;

$oppColor: $defaultBGColor;


$backgroundcolor: $defaultBGColor;

$componentBGColor: $backgroundcolor;


$themeBGColor :  #C4E800;
$themeColor :  #417505;

$primaryBGColor: $themeColor;
$secondaryBGColor: #ffffff;
$successBGColor : #5cb85c;
$dangerBGColor : #d9534f;
$warningBGColor : #f0ad4e;


$primaryColor: white;
$secondaryColor: $color;
$successColor : $oppColor;
$dangerColor : $oppColor;
$warningColor : $oppColor;


$success: $successBGColor;
$error : $dangerBGColor;
$focusColor : #5cb3fd;

$hoverColor : $themeColor;
$hoverBGColor : $themeBGColor;


$borderSize : 2px;
$borderRadius : 0px;
$borderColor : $themeColor;
$borderColor-focus: $focusColor;


$navbarBGColor : $themeBGColor ;
$navbarBoxShadow: $borderColor;
$navbarColor : $themeColor;

$sidenavHeaderBGColor: $defaultBGColor;
$sidenavHeaderColor: black;
$sidenavBGColor : $defaultBGColor;
$sidenavColor: $sidenavHeaderColor;
$sidenavactive:white;
$sidenavBorderColor: darken($backgroundcolor, 20);

$menubarBGColor : #3498DB;
$menubarColor : white;
$menuHoverColor: orange;
$subMenuCotentBGColor : white;
$subMenuCotentColor : #777;

$subMenuCotentBGColor : white;
$subMenuCotentColor : #777;
$menuborderColor:#ced4da;
$menuborderSize:1px;

$treeNodeActiveBGColor : $sidenavactive;
$treeNodeActiveColor : $sidenavColor;

$tabBorderSize: $borderSize;
$tabBorderColor : $borderColor;
$tabActiveBorder : darken($themeBGColor,10);
$tabActiveBGColor : $borderColor;
$tabActiveBorderSize : 3px;

$modalBGColor: lighten(black,50%);

$cardBGColor: white;
$cardColor: $color;

$cardHeaderBGColor: none;
$cardHeaderColor: $themeColor;
$cardFooterBGColor: $themeBGColor;
$cardFooterColor: $themeColor;
$cardBorderColor: $borderColor;

$toastBGColor : $themeBGColor;
$toastColor : $themeColor;

$accordionBGColor:$cardHeaderBGColor;
$accordionColor:$cardHeaderColor;
$accordionActiveBGColor:$cardHeaderBGColor;
$accordionActiveColor:$cardHeaderColor;
$accordionPanelBGColor:$cardBGColor;
$accordionPanelColor: $cardColor;

$borderLayoutBorder : 0px;
$borderLayoutBorderColor : none;

$datapointBGColor : white;
$datapointColor : $themeColor;
$datapointBorderColor : $themeColor;

$ratingBorderColor : $borderColor;
$ratingActiveColor : $primaryBGColor;

$datetimepickerBGColor : $defaultBGColor;
$datetimepickertopbarBGColor : $primaryBGColor;
$datetimepickerActiveColor : $datetimepickerBGColor;

$fieldSetBorderSize : $borderSize;
$fieldSetBorderColor : $borderColor;

$collapsibleLegendColor : $themeColor;

@import "../default/common.scss";
@import "../default/amexio.components.scss";
@import "../default/amexio.data.scss";
@import "../default/amexio.layouts.scss";
@import "../default/amexio.nav.scss";
@import "../default/amexio.panes.scss";


body {
  font-family: 'PT-Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}



/*----------------------------------------------------------------------*/
/*        INPUT/LABEL/A/BUTTON/DROPDOWN COMPONENT         */
/*----------------------------------------------------------------------*/



.input-control {
  border-radius: $borderRadius;
  line-height: 2;
  font-size: 14px;
  border: 2px solid $themeColor;
  color: $themeColor;
}

.input-control-success {
  border-color:$success;
}

.input-control-error {
  border-color:$error;
}


.inputgroup label {
  margin-bottom: 0rem;
}

.dropdown{
  border: 2px solid $themeColor;
  border-radius: $border-radius;
  box-shadow: 0 1px 3px 0 $themeColor;
  background-color: white;
}


.datetimepicker {
  border-radius: $border-radius;
  border: $borderSize solid $themeColor;
  box-shadow: 0 1px 3px 0 $themeColor;
}

label {
  display: inline-block;
  margin-top: 5px;
  max-width: 100%;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;

}


a {
  color: $color;
  text-transform: lowercase;
}


.navbar-logo-unit a{
  text-transform: capitalize;
}



button.app-button {
  border-radius: 8px;
}

.btn-group button{
  border-right: 1px solid white;

}

.drodown-caret-down{
  top: 35px;
  color: $borderColor;
}




.datatable {
  display: table;
  border: none;
}

.datatable .datatable-row{
  height: 50px;
  border: none;
  border-bottom: 1px solid $themeColor;
}

.datatable .datatable-row:hover{
  color: $themeColor;
  background-color: lighten($themeColor,70%);
}

.datatable .datatable-row-active{
  color: $themeColor;
  background-color: lighten($themeColor,70%);
}


.datatable-row:nth-child(odd){
  background:none;
}


.datatable .datatable-col{
  vertical-align: middle;
}

.datatable .datatable-row{
  height: 50px;
}

.datatable .datatable-header .datatable-col{
  height: 50px;
  font-weight: 500;
}

.datatable .datatable-header{
  background-color: $primaryBGColor;
  font-size: larger;
  color: $primaryColor;
}

.datatable .datatable-col{
  vertical-align: middle;
}



.datapoints{
  .datapoints{
    border: none;
    box-shadow: none;
  }
  border-radius: 10px;
}
.datapoints-north{
  font-size: 36px;
  font-weight: bold;
}

.datapoint-south{
  color:$primaryColor;
  background-color: $primaryBGColor;
  border-radius: $borderRadius;
  font-size: 20px;
  padding: 5px;
  margin: 1px;
}

.datapoint-west{
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}


.listbox{
  background-image: url(/assets/images/theme/bootstrap/Header.png);
  background-repeat: repeat-x;
  padding: 0px 16px 16px 16px;
  background-color: white;

  .list{
    border: $borderSize solid $borderColor;
    .title {
      color: $themeColor !important;
    }
    .list-items{
      border-bottom: 1px solid $borderColor;
    }
    .list-items:hover{
      background-color: lighten($themeColor,70%);
    }
  }

  .header{
    background: none;
    color: $cardHeaderColor;
  }



}


.card-container {
  background-image: url(/assets/images/theme/bootstrap/Header.png);
  background-repeat: repeat-x;
  padding: 0px 16px 16px 16px;

  .card-header {
    border-radius: $borderRadius;
    font-size: 20px;
    font-weight: bold;
    border:none;
  }

  .card-body{
    border: 2px solid #417505;

  }

  .card-footer{
    border: $borderSize solid $borderColor;
    border-top:none;
  }
}


/** NAVBAR **/
.navbar-container {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  color: $themeColor;
  background-color: $themeBGColor;
  background: linear-gradient(#C4E800, #92CD00) !important;

  .navbar-logo-unit a{
    font-size: 24px;
    font-weight: bold;
  }


}

.sidenav{
  box-shadow:none;
  border-right: $borderSize solid darken($backgroundcolor,20);
}

.sidenav .activenode{
  color: $themeColor;
  background-color: white;
  border-right: $borderSize solid $themeColor;
}



.image-responsive{
  max-width: 100%;
  width: 100%;
  border-top: 1px solid #1b1d22;
  border-bottom: 1px solid #1b1d22;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-col-2pt5{
  max-width: 20.8333325%;
}

.flex-col-9pt5{
  max-width: 79.1666635%;
}

@media only screen and (max-width: 500px) {

  .flex-col-2pt5,.flex-col-9pt5{
    max-width: 100%;
  }
}

.email {
  border-radius: $borderRadius;
  background-image: url(/assets/images/theme/bootstrap/Header.png);
  background-repeat: repeat-x;
  padding: 0px 16px 16px 16px;
  border: $borderSize solid $cardBorderColor;
  background-color: $cardBGColor;
  .card-header {
    font-size: 20px;
    font-weight: bold;
    border:none;
  }
  .borderlayout-container-N-E-C-S{
    padding: 0px;
    grid-gap: 0px;
  }
  .borderlayout-E{
    border-top: $borderSize solid $cardBorderColor;
    border-left: $borderSize solid $cardBorderColor;
    border-bottom: $borderSize solid $cardBorderColor;
    padding-left: 16px;
  }
  .borderlayout-C{
    border-top: $borderSize solid $cardBorderColor;
    border-right: $borderSize solid $cardBorderColor;
    border-bottom: $borderSize solid $cardBorderColor;
    padding-right: 16px;
  }

  .listbox {
    border:none;
    background: none;
    .header{
      border-bottom: $borderSize solid $borderColor;
      border-radius: 0px;
    }

    .list{
      border: none;
    }
  }
}


div.profile-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

div.profile-image a{
  text-transform: capitalize;
  color: $defaultColor;
}
