
/*----------------------------------------------------------------------*/
/*        Royal Pineapple  -  Visual      */
/*----------------------------------------------------------------------*/

.topnav {
  background: linear-gradient(#FCF4A3, #FEE12B);
}


.topnavmainbarinneritems .nav-dropdown-content { 
  //display: none;
  background: linear-gradient(#FCF4A3, #FEE12B);
  color : $appHeaderFontColor;
}
.topnavmainbarinneritems-mobile .nav-dropdown-content{
  background: linear-gradient(#FCF4A3, #FEE12B);
  color : $appHeaderFontColor;
}

.input-control {
  background-color: #1b1d22;
  color: $themeFontColor;  
}

.listbox .list{
    background-color:  $componentBGColor;
  
    .title {
      font-size: 18px;
      color: $themeFontColor;
      a {
        font-size: 16px;
        color: $themeFontColor;
      }
    }
  }
  
  .card-container {
  
    .card-header {
      background: linear-gradient(#40434D, #000000);
    }
  }
  
  .listbox{
  
    .listbox .list .title {
      color: $themeSecondaryColor !important;
    }
 
    .list .list-items{
      background-color: $componentBGColor;
    }
  }

  .item-selector-action-panel .actionbar .actionbarinner .action {
    background-color: #40434D;
  }

  
.datatable .datatable-header{
  background-color:$themeSecondaryColor;
  color: $componentBGColor;
}