
body {
    font-family: $themeFontFamily;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    
  
  }
  
  .input-control {
    border-radius: $borderRadius3;
    line-height: 2;
    font-size: 14px;
    border: 2px solid $themeSecondaryColor;
  }
  
  .input-control-success {
    border-color:$success;
  }
  
  .input-control-error {
    border-color:$error;
  }
  
  
  .inputgroup label {
    margin-bottom: 0rem;
  }
  
  .dropdown{
    border: 1px solid $themePrimaryColor;
    border-radius: $borderRadius;
    box-shadow: 0 1px 3px 0 $themePrimaryColor;
  }
  
  
  .datetimepicker {
    border: 1px solid $themePrimaryColor;
    border-radius: $borderRadius;
    box-shadow: 0 1px 3px 0 $themePrimaryColor;
  }
  
  .navbar-container {
      width: 100%;
      vertical-align: middle;
      padding: 0px 15px;
      box-shadow: 0px 0px 2px 2px $themeFontColor;
      position: fixed;
      z-index: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .listbox{
    padding: 16px;
    .list{
      border: $borderSize solid $borderColor;
      border-radius: $borderRadius3;
      //margin: 16px;
      .title {
        float: left;
        font-size: 16px;
        font-weight: bold;
        //padding-top: 8px;
        a{
          font-weight: 300;
        }
      }
      .list-items{
        border-bottom: 1px solid $borderColor;
      }
      .list-items:hover{
      }
    }
  
    .header{
      font-weight: bold;
    }
  }
  
  
  .card-container {
    border-radius: $borderRadius3;
    padding: 16px;
    .card-header {
  
      font-size: 20px;
      font-weight: bold;
      border:none;
      border-radius:5px;
    }
  
    .card-body{
      border-radius: $borderRadius3;
    }
  
    .card-footer{
      // background: none;
      // border:none;
      // border-top:none;
    }
  }
  
  
  /** NAVBAR **/
  .navbar-container {
  
    .navbar-logo-unit a{
      font-size: 24px;
      font-weight: bold;
    }
  }
  
  .datapoints{
    border-radius: $borderRadius3;
  }