
/*----------------------------------------------------------------------*/
/*        Matrix Amber Structure        */
/*----------------------------------------------------------------------*/


.listbox .list{
  //background-color: $defaultBGColor;

  .title {
    float: left;
    //font-size: 18px;
    //color: rgb(107, 172, 128);
    //padding-top: 8px;
    a {
      //font-size: 16px;
      //color: rgb(153, 153, 153);
      text-transform: lowercase;
    }
  }
}

.card-container {
  .card-header{
    //background-color: rgba(255,191,0,0.4);
  }
}
.listbox{

  .header{
    border-bottom: $borderSize solid $borderColor;
  }

  .list .list-items{
    border-bottom: 1px solid #1b1d22;
  }
}