$isAmexio : true;
$isDatapointBorderRadius :false;
$appTransprency :black;

$themePrimaryColor: #417505;
$themeSecondaryColor : #C4E800;
$themeFontColor : black;
$themeFontFamily: 'PT-Sans', sans-serif;

$appBackground :#ECEFF1;
$appBackgroundImage : none;

$appHeaderBGColor : white;
$appHeaderFontColor : $themePrimaryColor;

$appHeaderHoverBGColor : none;
$appHeaderHoverFontColor : none;
/* Component Specific Variables */
$componentHoverBGColor : lighten($themeSecondaryColor,30%);
$componentHoverFontColor : $themeFontColor;
$componentActiveBGColor : lighten($themePrimaryColor,40%);
$componentActiveFontColor : $themeFontColor;
$componentDisabledBGColor : rgb(160, 158, 158);
$componentDisabledFontColor : $themeSecondaryColor;

$componentBGColor : white;
$componentFontColor : $themeFontColor;

$componentHeaderBGColor : $themePrimaryColor;
$componentHeaderFontColor : white;
$componentFooterBGColor : $themePrimaryColor;
$componentFooterFontColor : white;

$componentDataBGColor : none;
$componentDataFontColor : $themePrimaryColor;
/* Misc Variables */

$borderSize2 : 2px;
$borderSize3 : 3px;

$borderRadius0 : 0px;
$borderRadius3 : 5px;

$borderSize : $borderSize2;
$borderRadius : $borderRadius0;

$scrollBGColor : #f5f5f5;
$scrollThumbColor : $componentBGColor;

$borderColor : $themePrimaryColor;

$primaryBGColor: $themeSecondaryColor;
$secondaryBGColor: #ffffff;
$successBGColor : #5cb85c;
$dangerBGColor : #d9534f;
$warningBGColor : #f0ad4e;

$primaryColor: white;
$secondaryColor:$componentFontColor;
$successColor : white;
$dangerColor : white;
$warningColor : white;

$success: $successBGColor;
$error : $dangerBGColor;
$focusColor : #5cb3fd;
$borderColorFocus: $focusColor;
// $isAmexio : true;
// //$themeBGImage : url('/assets/images/theme/bootstrap/Header.png');
// $themeBGImage : none;
// $defaultBGColor : #F0EEE9;

// $defaultColor :black;

// $color: $defaultColor;

// $oppColor: $defaultBGColor;

// $aColorTransprency :  $color;

// $backgroundcolor: $defaultBGColor;

// $componentBGColor: $backgroundcolor;


// $themeBGColor :  #C4E800;
// $themeColor :  #417505;

// $primaryBGColor: $themeColor;
// $secondaryBGColor: #ffffff;
// $successBGColor : #5cb85c;
// $dangerBGColor : #d9534f;
// $warningBGColor : #f0ad4e;


// $primaryColor: white;
// $secondaryColor: $color;
// $successColor : $oppColor;
// $dangerColor : $oppColor;
// $warningColor : $oppColor;


// $success: $successBGColor;
// $error : $dangerBGColor;
// $focusColor : #5cb3fd;

// $hoverColor : $themeColor;
// $hoverBGColor : $themeBGColor;


// $borderSize : 2px;
// $borderRadius : 0px;
// $borderColor : $themeColor;
// $borderColor-focus: $focusColor;

/*
$navbarBGColor : $themeBGColor ;
$navbarBoxShadow: $borderColor;
$navbarColor : $themeColor;
$navbarBackground: linear-gradient(#C4E800, #92CD00) !important;;

$sidenavHeaderBGColor: $defaultBGColor;
$sidenavHeaderColor: $defaultColor;
$sidenavBGColor : $defaultBGColor;
$sidenavColor: $sidenavHeaderColor;
$sidenavactive:white;
$sidenavactiveColor: $themeColor;
$sidenavBorderColor: darken($backgroundcolor, 20);

$sidenavBGHoverColor: $defaultBGColor;
$sidenavHoverColor: $defaultColor;

$menubarBGColor : $defaultBGColor;
$menubarColor : $color;
$menuHoverColor: blue;
$subMenuCotentBGColor : $defaultBGColor;
$subMenuCotentColor : $color;

$menuborderColor:darken($backgroundcolor, 20);;
$menuborderSize:1px;

$treeNodeActiveBGColor : $themeBGColor;
$treeNodeActiveColor : $defaultColor;

$tabBorderSize: $borderSize;
$tabBorderColor : $borderColor;
$tabColor : $sidenavHeaderColor;
$tabBGColor : $sidenavHeaderBGColor;
$tabActiveBorder : darken($themeBGColor,10);
$tabActiveBGColor : $borderColor;
$tabActiveBorderSize : 3px;
$tabActiveColor : $primaryColor;


$modalBGColor: lighten(black,50%);

$cardBGColor: white;
$cardColor: $color;

$cardHeaderBGColor: none;
$cardHeaderColor: $themeColor;
$cardFooterBGColor: $themeBGColor;
$cardFooterColor: $themeColor;
$cardBorderColor: $borderColor;

$toastBGColor : $themeBGColor;
$toastColor : $themeColor;

$accordionBGColor:$cardHeaderBGColor;
$accordionColor:$cardHeaderColor;
$accordionActiveBGColor:$cardHeaderBGColor;
$accordionActiveColor:$cardHeaderColor;
$accordionPanelBGColor:$cardBGColor;
$accordionPanelColor: $cardColor;

$dockBarBGColor: $themeBGColor;
$dockBarColor: $themeColor;
$dockBarContentBGColor : $cardBGColor;
$dockBarSize: $tabBorderSize;
$dockBarActiveBorderColor: $tabActiveBorder;
$dockBarActiveBorderSize: $tabActiveBorderSize;
$dockBarActiveColor:$dockBarBGColor;
$dockBarActiveBGColor:$dockBarColor;

$borderLayoutBorder : 0px;
$borderLayoutBorderColor : none;

$datapointBGColor : white;
$datapointColor : $themeColor;
$datapointBorderColor : $themeColor;

$ratingBorderColor : $borderColor;
$ratingActiveColor : $primaryBGColor;

$datetimepickerBGColor : $defaultBGColor;
$datetimepickertopbarBGColor : $primaryBGColor;
$datetimepickerActiveColor : $datetimepickerBGColor;

$fieldSetBorderSize : $borderSize;
$fieldSetBorderColor : $borderColor;

$collapsibleLegendColor : $themeColor;

$stepsActiveBGColor : $borderColor;//green
$stepsColor : $themeColor;
$stepsBGColor : $backgroundcolor;
$stepsLabelHighlight : darken($defaultColor, 30);
$stepsBorderColor:$borderColor;
$stepsDisabled : lighten($menubarColor,50%);
$stepsInActiveBGColor:$hoverBGColor;

$datatableRowActiveBG : lighten($themeColor,50%);
$datatableRowHoverBG : lighten($themeColor,30);
$datatableRowHover : $themeColor!important;
$datatableRowActive : $themeColor; 
$datatableBorderSize : 1px;
$datatableBorderColor : $themeColor;
$datatableHeaderColor :$primaryColor;
$datatableHeaderBGColor : $primaryBGColor;
$datatableOddRowColor : none;
$datatableFontBold : "true";
$datatableRowHover : none;
$datatableRowActive : none;
$datapointsColor : $themeBGColor;
$datapointsBGColorS : $primaryBGColor;
$datapointsColorS : $primaryColor;
$isDatapointBorderRadius : false;*/