$appTransprency :#00C4FF;

$themePrimaryColor: #F3C22A;
$themeSecondaryColor : #02468D;
$themeFontColor : white;
$themeFontFamily: 'Quicksand', sans-serif;

$appBackground :  rgba(0, 43, 87, 0.7);
$appBackgroundImage : url('/assets/images/theme/bootstrap/Pyramid-bg.png');

$appHeaderBGColor : rgba(0, 43, 87, 0.7);
$appHeaderFontColor : $themePrimaryColor;

$appHeaderHoverBGColor : none;
$appHeaderHoverFontColor : none;
/* Component Specific Variables */
$componentHoverBGColor : lighten($themeSecondaryColor,20%);
$componentHoverFontColor : $appHeaderBGColor;
$componentActiveBGColor : lighten($themeSecondaryColor,30%);
$componentActiveFontColor : $appHeaderBGColor;
$componentDisabledBGColor : rgb(160, 158, 158);
$componentDisabledFontColor : $themeSecondaryColor;

$componentBGColor : rgba(0, 43, 87, 0.7);
$componentFontColor : #1FBCD2;

$componentHeaderBGColor : none;
$componentHeaderFontColor : $themePrimaryColor;
$componentFooterBGColor :none;
$componentFooterFontColor : $themePrimaryColor;

$componentDataBGColor : $themePrimaryColor;
$componentDataFontColor : $appHeaderFontColor;

/* Misc Variables */
$borderSize1 : 1px;
$borderSize2 : 2px;
$borderSize3 : 3px;


$borderRadius2 : 3px;
$borderRadius3 : 5px;

$borderSize : $borderSize1;
$borderRadius : $borderRadius3;

$scrollBGColor : #f5f5f5;
$scrollThumbColor : $componentBGColor;

$borderColor :$themePrimaryColor;

$primaryBGColor : $themeSecondaryColor;
$secondaryBGColor: #ffffff;
$successBGColor : #5cb85c;
$dangerBGColor : #d9534f;
$warningBGColor : #f0ad4e;

$primaryColor:$themePrimaryColor;
$secondaryColor : $themePrimaryColor;
$successColor : white;
$dangerColor : white;
$warningColor : white;

$success: $successBGColor;
$error : $dangerBGColor;
$focusColor : #5cb3fd;
$borderColorFocus: $focusColor;
