$isAmexio : true;
$isDatapointBorderRadius :false;
$appTransprency :#E84C1A;

$themePrimaryColor: #E84C1A;
$themeSecondaryColor : #70196F;
$themeFontColor : #70196F;
$themeFontFamily: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;

$appBackground :#ECEFF1;
$appBackgroundImage : url('/assets/images/theme/bootstrap/polygon_bg.jpg');

$appHeaderBGColor : white;
$appHeaderFontColor : $themePrimaryColor;

$appHeaderHoverBGColor : none;
$appHeaderHoverFontColor : none;
/* Component Specific Variables */
$componentHoverBGColor : lighten($themeSecondaryColor,50%);
$componentHoverFontColor : $themeFontColor;
$componentActiveBGColor : lighten($themePrimaryColor,50%);
$componentActiveFontColor : $themeFontColor;
$componentDisabledBGColor : rgb(160, 158, 158);
$componentDisabledFontColor : $themeSecondaryColor;

$componentBGColor : white;
$componentFontColor : $themeFontColor;

$componentHeaderBGColor : $themeSecondaryColor;
$componentHeaderFontColor : white;
$componentFooterBGColor :$themeSecondaryColor;
$componentFooterFontColor : white;

$componentDataBGColor : none;
$componentDataFontColor : $themePrimaryColor;

/* Misc Variables */
$borderSize2 : 2px;
$borderSize3 : 3px;


$borderRadius2 : 3px;
$borderRadius3 : 5px;

$borderSize : $borderSize3;
$borderRadius : $borderRadius3;

$scrollBGColor : #f5f5f5;
$scrollThumbColor : $componentBGColor;

$borderColor : $themeSecondaryColor;

$primaryBGColor: $themeSecondaryColor;
$secondaryBGColor: #ffffff;
$successBGColor : #5cb85c;
$dangerBGColor : #d9534f;
$warningBGColor : #f0ad4e;

$primaryColor: white;
$secondaryColor:$componentFontColor;
$successColor : white;
$dangerColor : white;
$warningColor : white;

$success: $successBGColor;
$error : $dangerBGColor;
$focusColor : #5cb3fd;
$borderColorFocus: $focusColor;


// $defaultBGColor : white;
// $defaultColor : #70196F;
// $backgroundcolor: $defaultBGColor;
// $componentBGColor: $backgroundcolor;

// $themeBGColor :  $defaultBGColor;
// $themeColor :    $defaultColor;

// $primaryBGColor: $themeColor;
// $secondaryBGColor: #ffffff;
// $successBGColor : #5cb85c;
// $dangerBGColor : #d9534f;
// $warningBGColor : #f0ad4e;


// $primaryColor: $themeBGColor;
// $secondaryColor: $color;
// $successColor : $oppColor;
// $dangerColor : $oppColor;
// $warningColor : $oppColor;


// $success: $successBGColor;
// $error : $dangerBGColor;
// $focusColor : #5cb3fd;

// $hoverColor : $themeBGColor;
// $hoverBGColor : $themeColor;


// $borderSize : 3px;
// $borderRadius : 0 px;
// $borderColor : $defaultColor;
// $borderColor-focus: $focusColor;

/*
$navbarBGColor : $themeBGColor ;
$navbarBoxShadow: $borderColor;
$navbarColor : $themeColor;
$navbarBackground : $navbarBGColor;


$sidenavHeaderBGColor: none;
$sidenavHeaderColor: $defaultColor;
$sidenavBGColor : rgba(255, 255, 255, 0.8);
$sidenavColor: $defaultColor;
$sidenavactive:$defaultColor;
$sidenavactiveColor: $defaultBGColor;
$sidenavBorderColor: $themeColor;
$sidenavBGHoverColor: $defaultColor;
$sidenavHoverColor: $defaultBGColor;

$menubarBGColor : $defaultBGColor;
$menubarColor : $color;
$menuHoverColor: blue;
$subMenuCotentBGColor : $defaultBGColor;
$subMenuCotentColor : $color;

$menuborderColor: $themeColor;
$menuborderSize:1px;

$treeNodeActiveBGColor : $sidenavactive;
$treeNodeActiveColor : $defaultBGColor;

$tabBorderSize: $borderSize;
$tabBorderColor : lighten($themeColor,30);
$tabColor : $sidenavHeaderColor;
$tabBGColor : $sidenavHeaderBGColor;
$tabActiveBorder : $themeColor;
$tabActiveBGColor : $themeColor;
$tabActiveBorderSize : 3px;
$tabActiveColor : $primaryColor;

$modalBGColor: lighten(black,50%);

$cardBGColor: none;
$cardColor: $color;

$cardHeaderBGColor: none;
$cardHeaderColor: $themeColor;
$cardFooterBGColor: $themeBGColor;
$cardFooterColor: $themeColor;
$cardBorderColor: $borderColor;

$toastBGColor : $themeBGColor;
$toastColor : $themeColor;

$accordionBGColor:$cardHeaderBGColor;
$accordionColor:$cardHeaderColor;
$accordionActiveBGColor:$cardHeaderBGColor;
$accordionActiveColor:$cardHeaderColor;
$accordionPanelBGColor:$cardBGColor;
$accordionPanelColor: $accordionColor;

$dockBarBGColor: $defaultColor;
$dockBarColor: white;
$dockBarContentBGColor : $cardBGColor;
$dockBarSize: $tabBorderSize;
$dockBarActiveBorderColor: $tabActiveBorder;
$dockBarActiveBorderSize: $tabActiveBorderSize;
$dockBarActiveColor:$dockBarBGColor;
$dockBarActiveBGColor:$dockBarColor;

$borderLayoutBorder : 0px;
$borderLayoutBorderColor : none;

$datapointBGColor : $defaultBGColor;
$datapointColor : #E84C1A;
$datapointBorderColor : $cardBorderColor;

$ratingBorderColor : $borderColor;
$ratingActiveColor : $primaryBGColor;

$datetimepickerBGColor : $defaultBGColor;
$datetimepickertopbarBGColor : $primaryBGColor;
$datetimepickerActiveColor : $datetimepickerBGColor;

$fieldSetBorderSize : $borderSize;
$fieldSetBorderColor : $borderColor;


$stepsActiveBGColor : $borderColor;
$stepsColor : $themeColor;
$stepsBGColor : lighten($borderColor,50%);
$stepsLabelHighlight : darken($defaultColor, 30);
$stepsBorderColor:$borderColor;
$stepsDisabled : lighten($menubarColor,50%);
$stepsInActiveBGColor:$hoverBGColor;

$datatableRowActiveBG : lighten($datapointColor,50);
$datatableRowHoverBG : lighten($themeColor,50);
$datatableRowHover : $themeColor;
$datatableRowActive : $datapointColor;
$datatableBorderSize : 2px;
$datatableBorderColor : #666666;
$datatableHeaderColor : $primaryColor;
$datatableHeaderBGColor : $primaryBGColor;
$datatableOddRowColor : lighten($themeColor,70);
$datatableFontBold : "true";
$isDatapointBorderRadius : true;
$datapointsColor : $themeBGColor;
$datapointsBGColorS : $primaryBGColor;
$datapointsColorS : $primaryColor;
*/
