body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
}

/*----------------------------------------------------------------------*/
/*        Honey Prussian -Visual                                     */
/*----------------------------------------------------------------------*/



// .input-control {
//   border-radius: $borderRadius;
//   line-height: 2;
//   font-size: 14px;
//   border: 2px solid $themeColor;
//   color: $themeColor;
// }

// .input-control-success {
//   border-color:$success;
// }

// .input-control-error {
//   border-color:$error;
// }


// .inputgroup label {
//   margin-bottom: 0rem;
// }

.dropdown{
  // border: 2px solid $themeColor;
  // border-radius: $border-radius;
  // box-shadow: 0 1px 3px 0 $themeColor;
  // background-color: white;
}


// .datetimepicker {
//   border-radius: $border-radius;
//   border: $borderSize solid $themeColor;
//   box-shadow: 0 1px 3px 0 $themeColor;
// }

// label {
//   display: inline-block;
//   margin-top: 5px;
//   max-width: 100%;
//   //padding: 0 12px;
//   font-size: 14px;
//   font-weight: 500;

// }
.listbox{
  .list{
      .title {
      font-size: 16px;    
      color: $componentFontColor !important;
    }
    .list-items{
      background:$componentBGColor;
      color: $componentFontColor !important;
    }
    
    .list-items:hover{
      background-color: $componentHoverBGColor;
    }
  }

  .header{
    background-color: $componentHeaderBGColor;
    color: $themeSecondaryColor;
  }
}

.listbox .list .title a {
  color: $componentFontColor !important;
}

.card-container {
  color : white;
  .card-header {
    font-size: 20px;
    color : $themePrimaryColor;
    background-color: $componentHeaderBGColor;
  }

  .card-body{
  }

  .card-footer{
    background: $componentFooterBGColor;
    
  }
}

// /** NAVBAR **/
 .navbar-container {
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
   color:$componentBGColor;
   background-color: $appBackground;
   background-image:linear-gradient(to right, #FFFFFF, #FEFEFE, rgba(1, 114, 184, 0.8), rgba(0, 33, 76, 0.7));

  .navbar-logo-unit a{
    font-size: 24px;
    font-weight: bold;
    color: $themeSecondaryColor;
  }
}
.navbar-container{
  color : white;
}

.sidenav{
  background-image: linear-gradient(to bottom, #FFFFFF, #0EAFD5, #4AD4BD); 
  color : $themeSecondaryColor!important;
}

.sidenav .headernode{
  background-color: $componentHeaderBGColor !important;
  color : $themeSecondaryColor!important;
}

.datapoints .datapoint-south {
  color : $componentBGColor;
  background-color: $themePrimaryColor;
}
