
/*----------------------------------------------------------------------*/
/*        Matrix Maya Visual        */
/*----------------------------------------------------------------------*/


.listbox .list{
   
  .title {
    //float: left;
    font-size: 18px;
    color:$themeSecondaryColor;
    //padding-top: 8px;
    a {
      font-size: 16px;
      color: $themeFontColor!important;
      //text-transform: lowercase;
    }
  }
}

.listbox .header{
  background-color: $themeSecondaryColor;
  color:$componentBGColor;
}

.card-container {
  .card-header{
    background-color: $componentHeaderBGColor;     
  }
}

.listbox{  
  .listbox .list .title {
    color:$themeSecondaryColor !important;
  }
  
}

.sidenav .activenode {
   color: $themeSecondaryColor;
}


.datapoints .datapoint-south {
background-color: $themeSecondaryColor;
color: $componentBGColor;
}

.defaultcolor{
  color: $themeSecondaryColor;
}

.datatable .datatable-header {
  background-color: $componentHeaderFontColor;
  color: $componentBGColor;
}

.star-icon:before {
color: $themeSecondaryColor;
}
.input-control {
background-color: $componentHeaderBGColor;
}
.itemselector-list-active {
color: $themeSecondaryColor;
}