/*----------------------------------------------------------------------*/
/*        Byzantine (Grape) Navy -Visual         */
/*----------------------------------------------------------------------*/

a {
  color: $themeSecondaryColor;
}

.toggle-slider:before {
  background-color: $themeSecondaryColor;
}

.listbox {

  background: rgba(255, 255, 255, 0.6);
  .list{

    background: rgba(255, 255, 255, 0.6);

    .title {
      font-size: 18px;
      color: $themePrimaryColor;

      a {
        font-size: 16px;
        color: $themeSecondaryColor;
      }
    }
  }
}

.card-container {
  background:  none;
  .card-header {
    font-size: 20px;
    background:none;
    color:$componentHeaderBGColor;
  }
  .card-body{
    background:rgba(255, 255, 255, 0.6);
  }
  
}


.listbox{

  .listbox .list .title {
    color: $themeSecondaryColor !important;
  }

  .header{
    background: none;
    color: $themeSecondaryColor !important;
  }

  .list{
    background: none;
  }
}

.topnav {
  background-color: $componentBGColor;
  .topnav .navbar-logo-unit a {
    color: $themeSecondaryColor;
  }
}

.datapoints .datapoint-south {
  background-color: $themeSecondaryColor;
  color: $componentBGColor;
}
