body {  
  letter-spacing: 0.3px;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
}

/*----------------------------------------------------------------------*/
/*        Honey Prussian -Structure                                     */
/*----------------------------------------------------------------------*/


// .input-control {
//   border-radius: $borderRadius;
//   line-height: 2;
//   font-size: 14px;
//   border: 2px solid $themeSecondaryColor;
//   color: $themeSecondaryColor;
// }

// .input-control-success {
//   border-color:$success;
// }

// .input-control-error {
//   border-color:$error;
// }


// .inputgroup label {
//   margin-bottom: 0rem;
// }

.dropdown{
  border: 2px solid $themeSecondaryColor;
  border-radius: $borderRadius;
  box-shadow: 0 1px 3px 0 $themeSecondaryColor;
  //background-color: white;
}


// .datetimepicker {
//   border-radius: $border-radius;
//   border: $borderSize solid $themeSecondaryColor;
//   box-shadow: 0 1px 3px 0 $themeSecondaryColor;
// }

// label {
//   display: inline-block;
//   margin-top: 5px;
//   max-width: 100%;
//   //padding: 0 12px;
//   font-size: 14px;
//   font-weight: 500;

// }

.listbox{

  .list{
    border: 1px solid white;
    .title {
      float: left;
      //font-size: 16px;
      font-weight: bold;
      //padding-top: 8px;
      //color: #1FBCD2 !important;
    }
    .list-items{
      border-bottom: 1px solid $themeSecondaryColor;
    }
    .list-items:hover{
      //background-color: lighten($themeSecondaryColor,70%);
    }
  }

}


.listbox{

  .list{
    border: 1px solid white;
    .title {
      float: left;
      //font-size: 16px;
      font-weight: bold;
      //padding-top: 8px;
      //color: #1FBCD2 !important;
    }
    .list-items{
      border-bottom: 1px solid $themeSecondaryColor;
      //background-color: $defaultBGColor;
    }
    .list-items:hover{
      //background-color: lighten($themeSecondaryColor,70%);
    }
  }

}


.card-container {

  .card-header {
    border-radius: $borderRadius;
  //font-size: 20px;
    font-weight: bold;
    border:none;

  }

  .card-body{

  }

  .card-footer{
    background: none;
    // border:none;
    // border-top:none;
  }
}


// /** NAVBAR **/
 .navbar-container {
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
//   color: white;
//   background-color: $themeBGColor;
//   background-image:linear-gradient(to right, #FFFFFF, #FEFEFE, rgba(1, 114, 184, 0.8), rgba(0, 33, 76, 0.7));

  .navbar-logo-unit a{    
    font-weight: bold;    
  }
}
