$appTransprency :#601221;

$themePrimaryColor: #D33134;
$themeSecondaryColor : #8D021F;
$themeFontColor : #043963;;
$themeFontFamily: 'Shadows Into Light', cursive;

$appBackground :#ffe578;
$appBackgroundImage :  url('/assets/images/theme/bootstrap/red_bg.png');

$appHeaderBGColor :$themePrimaryColor;
$appHeaderFontColor : white;

$appHeaderHoverBGColor : none;
$appHeaderHoverFontColor : none;

/* Component Specific Variables */
$componentHoverBGColor : $themeSecondaryColor;
$componentHoverFontColor :white;
$componentActiveBGColor : $themeSecondaryColor;
$componentActiveFontColor : white;
$componentDisabledBGColor : rgb(160, 158, 158);
$componentDisabledFontColor : $themeSecondaryColor;

$componentBGColor : $appBackground;
$componentFontColor : $themeFontColor;

$componentHeaderBGColor : transparent;
$componentHeaderFontColor : $themeSecondaryColor;

$componentFooterBGColor :transparent;
$componentFooterFontColor : $themeSecondaryColor;

$componentDataBGColor : $themePrimaryColor;
$componentDataFontColor : $appHeaderFontColor;

/* Misc Variables */

$borderSize2 : 2px;
$borderSize3 : 3px;


$borderRadius2 : 3px;
$borderRadius3 : 5px;

$borderSize : $borderSize3;
$borderRadius : $borderRadius3;

$scrollBGColor : #f5f5f5;
$scrollThumbColor : $componentBGColor;

$borderColor : $themeSecondaryColor;

$primaryBGColor: $themeSecondaryColor;
$secondaryBGColor: #ffffff;
$successBGColor : #5cb85c;
$dangerBGColor : #d9534f;
$warningBGColor : #f0ad4e;

$primaryColor: white;
$secondaryColor:$componentFontColor;
$successColor : white;
$dangerColor : white;
$warningColor : white;

$success: $successBGColor;
$error : $dangerBGColor;
$focusColor : #5cb3fd;
$borderColorFocus: $focusColor;
