@import "../amexio/at-am-matrix-maya-init.scss";
@import "../def/common.scss";
@import "../amexio/at-am-matrix-maya-init.scss";
@import "../def/amexio.forminputs.scss"; 
@import "../def/amexio.enterprise.scss";
@import "../def/amexio.data.scss";
@import "../def/amexio.layouts.scss";
@import "../def/amexio.nav.scss";
@import "../def/amexio.panes.scss";
@import "../def/amexio.media.query.scss";

@import "../amexio/at-am-matrix-maya-structure.scss";
@import "../amexio/at-am-matrix-maya-visual.scss";
/*----------------------------------------------------------------------*/
/*        INPUT/LABEL/A/BUTTON/DROPDOWN COMPONENT         */
/*----------------------------------------------------------------------*/



// .input-control {
//   line-height: 2;
//   font-size: 14px;
//   border: 2px solid #666666;
//   background-color: rgba(115,194,251,0.4);
//   color: rgb(107, 172, 128);
//   border-radius: 4px !important;

// }

// .input-control-success {
//   border-color:$success;
// }

// .input-control-error {
//   border-color:$error;
// }


// .inputgroup label {
//   margin-bottom: 0rem;
// }

// .dropdown{
//   border: 2px solid #666666;
//   box-shadow: 0 1px 3px 0 #666666;
// }


// .datetimepicker {
//   border: $borderSize solid #666666;
//   box-shadow: 0 1px 3px 0 #666666;
// }

// label {
//   display: inline-block;
//   margin-top: 5px;
//   max-width: 100%;
//   //padding: 0 12px;
//   font-size: 14px;
//   font-weight: 500;

// }


// a {
//   color: rgb(153, 153, 153);
//   //text-transform: lowercase;
// }


// .navbar-logo-unit a{
//   text-transform: capitalize;
// }



// button.app-button {
//   border-radius: 8px;
// }

// .btn-group button{
//   //border-right: 1px solid #73C2FB;

// }

// .drodown-caret-down{
//   top: 35px;
//   color: $borderColor;
// }


// //
// // .datatable .datatable-row{
// //   height: 50px;
// //   border-top: none;
// //   border-bottom: 1px solid $themeColor;
// // }
// //
// // .datatable .datatable-header .datatable-col{
// //   //height: 50px;
// //   font-weight: 500;
// // }
// //
// // .datatable .datatable-header{
// //   background-color: $hoverBGColor!important;
// // }
// //
// //
// //
// //
// //
// // .datatable .datatable-row:hover{
// //   //background-color: $themeBGColor;
// //   background-color: $hoverBGColor;
// //   font-weight: bold;
// // }
// //
// // .datatable .datatable-row-active{
// //   background-color: lighten($themeBGColor,40%)!important;
// // }
// //
// //
// // .datatable-row:nth-child(odd){
// //   background-color: $themeBGColor;
// // }
// //
// //
// // .datatable .datatable-col{
// //   vertical-align: middle;
// // }
// //
// // .datatable .datatable-row{
// //   height: 50px;
// // }
// //
// //
// //
// // .datatable .datatable-header{
// //   background-color: $primaryBGColor;
// //   font-size: larger;
// //   color: $primaryColor;
// // }
// //
// // .datatable .datatable-col{
// //   vertical-align: middle;
// // }
// //
// //

// .datapoints{
//   .datapoints{
//     border: none;
//     box-shadow: none;
//   }
//   color: $themeColor;

// }
// .datapoints-issue{
//   padding: 10px;
// }
// .datapoints-north{
//   font-size: 36px;
//   font-weight: bold;
//   color: $themeColor;
// }

// .datapoint-south{

//   background-color: $primaryBGColor;
//   color: $themeColor;
//   font-size: 20px;
//   padding: 5px;
//   margin: 1px;
// }

// .datapoint-west{
//   padding: 5px;
//   font-size: 24px;
//   font-weight: bold;
// }




// .listbox .list{
//   background-color: $defaultBGColor;

//   .title {
//     float: left;
//     font-size: 18px;
//     color: rgb(107, 172, 128);
//     //padding-top: 8px;
//     a {
//       font-size: 16px;
//       color: rgb(153, 153, 153);
//       text-transform: lowercase;
//     }
//   }
// }

// .card-container {
//   .card-header{
//     background-color: rgba(115,194,251,0.4);
//   }
// }

// .listbox{

//   .listbox .list .title {
//     color: red !important;
//   }

//   .header{
//     border-bottom: $borderSize solid $borderColor;
//   }

//   .list .list-items{
//     border-bottom: 1px solid #1b1d22;
//   }
// }

// /** NAVBAR **/
// .navbar-container {
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
//   background-color: $themeBGColor;
//   border-bottom: $borderSize solid $themeColor;
// }

// .sidenav{
//   border-right: $borderSize solid $cardBorderColor;
//   box-shadow:none;
// }

// .sidenav .activenode{
//   color: $themeColor;
//   background-color: $backgroundcolor;
// }



// .image-responsive{
//   max-width: 100%;
//   width: 100%;
//   border-top: 1px solid #1b1d22;
//   border-bottom: 1px solid #1b1d22;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// .email {
//   border: $borderSize solid $cardBorderColor;

// }

// .borderlayout-container-N-E-C-S{
//   background-color: rgba(0, 0, 0, 0.6);
// }

// div.profile-image img {
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   vertical-align: middle;
// }

// div.profile-image a{
//   text-transform: capitalize;
//   color: $defaultColor;
// }


// .defaultcolor{
//   color: $themeColor;
// }
