$carouselHeaderBGColor: $componentHeaderBGColor;
$carouselHeaderFontColor: $componentHeaderFontColor;
$carouselFontColor: $componentFontColor;

$carouselHoverBG : $componentHoverBGColor;

$carouselNavHeaderBG:$appHeaderBGColor;


