
.ce-carousel-textdata{
    color: $carouselHeaderFontColor;
    background: transparent ;
}

.ce-carousel-textdata-right{
    background: transparent;
     color: $carouselHeaderFontColor;
}
.ce-carousel-textdata-left{
    background: transparent ;
     color: $carouselHeaderFontColor;
}
.ce-carousel-textdata-center{
    background: transparent ;
     color: $carouselHeaderFontColor;
}

.ce-caroueslbar{
    background: $carouselHoverBG repeat top left;
    color: $carouselNavHeaderBG;
}

.ce-caroueslnav-content div{
   
    color: $carouselNavHeaderBG;
}
.ce-caroueslnav-content span{
    color: $carouselNavHeaderBG;
}

.ce-caroueslnav-content-current span{
    color: $carouselNavHeaderBG;
}
.ce-caroueslnav-content div.ce-caroueslnav-content-prev{
 
    color: $carouselNavHeaderBG;
}
.ce-caroueslnav-content div.ce-caroueslnav-content-next{
   
    color: $carouselNavHeaderBG;
}

.ce-caroueslnav a.ce-caroueslnav-prev span{
    background: $primaryBGColor url('prev.png') no-repeat center center;
}
.ce-caroueslnav a.ce-caroueslnav-next span{
    background: $primaryBGColor url('next.png') no-repeat center center;
}


.ce-caroueslnav a:hover span{
  
    background-color: $carouselHeaderBGColor
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
