
  
  .input-control-class {
   
    border-bottom: 1px solid black;
  }   
 
  .color-slider{
    border: 5px solid $colorPickerBGColor;
  }

  .color-palette{
    border: 5px solid $colorPickerBGColor;
   
  }  
 