.viewportContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
    height: 100%;
    width: 100%
}

.viewportBody {
    position:absolute;
  top:0;
  width: 100%;
  height: 100%;
}

.viewportvideo { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
/*  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}