<!--  Normal Editor -->

<ng-container *ngIf="enableSourceCode">
        <div class="rich-first-div" [style.height.%]="areaHeight" [style.width.%]="areaWidth">

                <ng-container *ngIf="displayDiv">
                        <div id="rich-editor" class="rich-text-editor" contenteditable="true"
                                [style.height.%]="textAreaHeight">

                        </div>
                </ng-container>

                <div class="rich-editor-buttons">
                        <span *ngFor="let item of editableTextArray">
                                <amexio-button class="rich-button" [tooltip]="item.title" [icon]="item.icon"
                                        [size]="'small'" (onClick)="onIconClick(item.event)">
                                </amexio-button>
                        </span>
                        <amexio-button class="rich-button" [tooltip]="'HTML Code'" [icon]="'fa fa-code'"
                                [size]="'small'" (onClick)="onHtmlCodeClick()">
                        </amexio-button>
                        <amexio-button class="rich-button" [bg-color]="'black'" [color]="'burlywood'"
                                [tooltip]="'Fore Color'" [icon]="'fa fa-font'" [size]="'small'"
                                (onClick)="onColorBtnClick()">
                        </amexio-button>

                        <amexio-button class="rich-button" [bg-color]="'burlywood'" [color]="'black'"
                                [tooltip]="'Background Color'" [icon]="'fa fa-font'" [size]="'small'"
                                (onClick)="onBgColorClick()">
                        </amexio-button>

                        <input class="hidden-input" type="color" id="favColor" (change)="foreColorClick()">
                        <input class="hidden-input" type="color" id="backColor" (change)="backgroundColorClick()">

                        <span>
                                <select id="selectId" (change)="selectHeaderClick()" class="heading-dropdown" required>
                                        <option value="" disabled selected>Header</option>
                                        <option [(value)]="item.headerName" *ngFor="let item of headingData">
                                                {{item.headerName}}
                                        </option>
                                </select>
                        </span>
                        &nbsp;&nbsp;
                        <span>
                                <select id="fontFamilyId" (change)="fontFamilySelectionClick()" class="heading-dropdown"
                                        required>
                                        <option value="" disabled selected>Font Family</option>
                                        <option [(value)]="item.familyType" *ngFor="let item of fontFamilyData">
                                                {{item.familyType}}
                                        </option>
                                </select>
                        </span>
                </div>
                <ng-container *ngIf="!displayDiv">

                        <div id="rich-editor" class="rich-text-editor" contenteditable="true"
                                [style.height.%]="textAreaHeight">

                        </div>
                </ng-container>
        </div>
</ng-container>



<!-- With HTML Source Code -->
<ng-container *ngIf="!enableSourceCode">
        <amexio-tab-view [closable]="false" (onClick)="onHtmlCodeClick()">
                <amexio-tab title="Editable Area" [active]="true" [height]="richHeight">
                        <div class="rich-first-div" [style.height.%]="areaHeight" [style.width.%]="areaWidth">

                                <ng-container *ngIf="displayDiv">
                                        <div id="rich-editor" class="rich-text-editor" contenteditable="true"
                                                [style.height.%]="textAreaHeight">

                                        </div>
                                </ng-container>

                                <div class="rich-editor-buttons">
                                        <span *ngFor="let item of editableTextArray">
                                                <amexio-button class="rich-button" [tooltip]="item.title"
                                                        [icon]="item.icon" [size]="'small'"
                                                        (onClick)="onIconClick(item.event)">
                                                </amexio-button>
                                        </span>
                                        <amexio-button class="rich-button" [tooltip]="'HTML Code'" [icon]="'fa fa-code'"
                                                [size]="'small'" (onClick)="onHtmlCodeClick()">
                                        </amexio-button>
                                        <amexio-button class="rich-button" [bg-color]="'black'" [color]="'burlywood'"
                                                [tooltip]="'Fore Color'" [icon]="'fa fa-font'" [size]="'small'"
                                                (onClick)="onColorBtnClick()">
                                        </amexio-button>

                                        <amexio-button class="rich-button" [bg-color]="'burlywood'" [color]="'black'"
                                                [tooltip]="'Background Color'" [icon]="'fa fa-font'" [size]="'small'"
                                                (onClick)="onBgColorClick()">
                                        </amexio-button>

                                        <input class="hidden-input" type="color" id="favColor"
                                                (change)="foreColorClick()">
                                        <input class="hidden-input" type="color" id="backColor"
                                                (change)="backgroundColorClick()">

                                        <span>
                                                <select id="selectId" (change)="selectHeaderClick()"
                                                        class="heading-dropdown" required>
                                                        <option value="" disabled selected>Header</option>
                                                        <option [(value)]="item.headerName"
                                                                *ngFor="let item of headingData">
                                                                {{item.headerName}}
                                                        </option>
                                                </select>
                                        </span>
                                        &nbsp;&nbsp;
                                        <span>
                                                <select id="fontFamilyId" (change)="fontFamilySelectionClick()"
                                                        class="heading-dropdown" required>
                                                        <option value="" disabled selected>Font Family</option>
                                                        <option [(value)]="item.familyType"
                                                                *ngFor="let item of fontFamilyData">
                                                                {{item.familyType}}
                                                        </option>
                                                </select>
                                        </span>
                                </div>
                                <ng-container *ngIf="!displayDiv">

                                        <div id="rich-editor" class="rich-text-editor" contenteditable="true"
                                                [style.height.%]="textAreaHeight">

                                        </div>
                                </ng-container>
                        </div>

                </amexio-tab>
                <amexio-tab title="HTML Source Code " [height]="richHeight">
                        <amexio-card [header]="false" [show]="'true'">
                                <amexio-body>
                                        {{printContents }}
                                </amexio-body>
                        </amexio-card>
                </amexio-tab>
        </amexio-tab-view>
</ng-container>