<div class="RichFirstDiv" [style.height.px]="areaHeight" [style.width.px]="areaWidth">

    <div class="Richeditor" contenteditable="true" [style.height.px]="textAreaHeight">

    </div>

    <div class="Richbuttons">
        <button class="richButton" onclick="document.execCommand( 'bold',false,null);"><i class="fa fa-bold"></i>
        </button>
        <button class="richButton" onclick="document.execCommand( 'italic',false,null);"><i class="fa fa-italic"></i>
        </button>
        <button class="richButton" onclick="document.execCommand( 'strikethrough',false,null);"><i
                class="fa fa-strikethrough"></i> </button>
        <button class="richButton" onclick="document.execCommand( 'underline',false,null);"><i
                class="fa fa-underline"></i> </button>
        <button class="richButton" onclick="document.execCommand( 'insertUnorderedList',false,null);"><i
                class="fa fa-list-ul"></i> </button>
        <button class="richButton" onclick="document.execCommand( 'insertOrderedList',false,null);"><i
                class="fa fa-list-ol"></i> </button>
        <button class="richButton" onclick="document.execCommand( 'formatBlock',false,'<blockquote>');"> <i
                class="fa fa-quote-right"></i></button>
        <button class="richButton" (click)="onLinkClick()"><i class="fa fa-link"></i></button>
        <button class="richButton" (click)="onResetLinkClick()"><i class="fa fa-unlink"></i></button>

        <button disabled style="cursor: not-allowed" class="richButton" onclick="document.execCommand( 'insertText',false,null);"><i
                class="fa fa-smile-o"></i> </button>
        <button  disabled style="cursor: not-allowed" class="richButton" onclick="document.execCommand( 'question-circle-o',false,null);"><i
                class="fa fa-question-circle-o"></i></button>
        <button  disabled style="cursor: not-allowed" class="richButton">Preview </button>


    </div>
</div>