.wrap {
    width: 100%;
}

.wrap table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1px;
}

table tr td {
    border: 1px solid #eee;
    width: 90%;
    word-wrap: break-word;
}

table.head tr td {
    background: #eee;
}

.amexio-grid-full-width{
    width: 100%;
}
.amexio-grid-float-right{
    float: right;
}
.amexio-grid-filter-dropdown{
    max-height: 445.406px;
    overflow-y: auto;
    min-height: 0px;
}
.amexio-grid-checkbox{
    width: 10%;
}