.amexio-datatable-wrap {
    width: 100%;
}

.amexio-datatable-wrap table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1px;
}

table tr td {
    border: 1px solid #eee;
    width: 90%;
    word-wrap: break-word;
}

table.head tr td {
    background: #eee;
}
.amexio-datatable-width{
    width: 100%;
}
.amexio-datatable-title{
    float: left;
}
.amexio-datatable-opertions{
    float: right;
}
.amexio-datatable-dropdown-action{
    max-height: 445.406px;
    overflow-y: auto;
    min-height: 0px;
}
.amexio-datatable-small-word-wrap{
    word-wrap: break-word
}
.amexio-datatable-btngroup-span{
    float: right;
}
.amexio-datatable-list-group{
    border-bottom: 1px ridge lightgray;
}
.amexio-datatable-pagenumber{
    float: right;
}
.amexio-datatable-loadingmask{
    height: 100px;
}
.amexio-datatable-float-right{
    float: right;
}