
<div (click)="showDropDownContent($event)" class="dropdown-menu" 
     [style.padding]="padding"
     [ngStyle]="{'background-color':(transparent)?'unset':'null'}">

  <span >
    <i *ngIf="icon" [ngClass]="icon">&nbsp;</i>{{title}}&nbsp;</span>
  <ng-container *ngIf="downArrowIcon">
    <i *ngIf="!toggle"  class="fa fa-angle-down "></i>
    <i *ngIf="toggle"  class="fa fa-angle-up "></i>
  </ng-container>

</div>

<div   *ngIf="toggle" class="dropdown-menu-content"
     [style.height]="height"   [ngClass]="{'menu-right':xposition}">

  <ng-content></ng-content>
  <amexio-drop-down-menu-item (onClick)="onDropDownMenuClick($event)"  *ngFor="let node of data"
                                [icon-align]="node.iconalign"
                                [label-align]="node.labelalign"
                                [label]="node.label"
                                [separator]="node.separator"
                                [icon]="node.icon">
  </amexio-drop-down-menu-item>

</div>
