<div class="notification-content" [ngClass]="positionclass">

    <ng-container *ngIf="!notificationTemplate">
        <div id="{{componentID}}" role="alert" [attr.aria-label]="'notification is'+ messageData" class="notification" *ngFor="let msg of messageData" [style.color]="foregroundColor" [style.background-color]="backgroundColor">
            <span class="float-right" (click)="closeNotification(msg)">
        <ng-container *ngIf="closable">
          <amexio-c-icon style="cursor: pointer" key="notify_close"></amexio-c-icon>
        </ng-container>
      </span>

            <table>
                <ng-container *ngIf="icon">
                    <th>
                        <amexio-c-icon style=" padding-right: 18px;" [ngClass]="icon">
                        </amexio-c-icon>
                    </th>
                </ng-container>

                <th style=" text-align: left;">

                    <span>{{msg}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </th>

            </table>

        </div>
    </ng-container>

    <ng-container *ngIf="notificationTemplate">
        <div id="{{componentID}}" role="alert" [attr.aria-label]="'notification is'+ messageData" class="notification" *ngFor="let msg of messageData" [style.color]="foregroundColor" [style.background-color]="backgroundColor">

            <span class="float-right" (click)="closeNotification(msg)">
        <ng-container *ngIf="closable">
          <amexio-c-icon style="cursor: pointer" key="notify_close"></amexio-c-icon>
        </ng-container>
      </span>

            <table>
                <ng-container *ngIf="icon">
                    <th>
                        <amexio-c-icon style=" padding-right: 18px;" [ngClass]="icon">
                        </amexio-c-icon>
                    </th>
                </ng-container>
                <th style=" text-align: left;">
                    <ng-template [ngTemplateOutlet]="notificationTemplate" [ngTemplateOutletContext]="{data:msg}">
                    </ng-template>
                </th>
            </table>
        </div>
    </ng-container>
</div>