<ng-container *ngIf="type ==='google'">
    <amexio-google-auth-provider [client-id]="key" [label]="label" [style-type]="styleType" (onLogin)="onLoginClick($event)"></amexio-google-auth-provider>
</ng-container>
<ng-container *ngIf="type === 'linkedin'">
    <amexio-linkedin-auth-provider [client-id]="key" [label]="label" [style-type]="styleType" (onLogin)="onLoginClick($event)"></amexio-linkedin-auth-provider>
</ng-container>

<ng-container *ngIf="type === 'facebook'">
    <amexio-facebook-auth-provider [client-id]="key" [label]="label" [style-type]="styleType" (onLogin)="onLoginClick($event)"></amexio-facebook-auth-provider>
</ng-container>

<ng-container *ngIf="type === 'github'">
    <amexio-github-auth-provider (onLogin)="onLoginClick($event)" [client-id]="key" [style-type]="styleType" [label]="label"></amexio-github-auth-provider>
</ng-container>