 <div (mouseover)="onmouseover()" (mouseleave)="onmouseleave()" 
[ngStyle]="{'background': bgimage ? 'url(' + bgimage + ') center/cover no-repeat' : null,

            'height': height,'width': width,  'transform-origin': zoom ? zoomtransitionorigin: null}" [ngClass]="cclass"
        >
        <div  [class]="innerCardCss" [ngClass]="{'card-ce-overlay-slideeffect-hover': ishover }" [ngStyle]="{'justify-content': (align === 'start' || align === 'end') ? 'flex-'+align:align ,
                'color':color, 
                'background': background}">

                <div [ngClass]="{'ce-flip-card-front': flip,
                                 'ce-flip-card-zoom' : zoom}" 
                                 class="ce-flip-card-front" 
                                 *ngIf="flip || zoom"
                        [ngStyle]="{'height': height , 'width': width }">
                        <img [src]="coverimage" class="img-fluid" style="height: 100%; width: 100%" />
                </div>

                <div [ngClass]="{'ce-flip-card-back': flip , 'ce-zoom-card-back':zoom, 'card-container-ce ' : !(flip && !zoom)}"
                        [ngStyle]="{'height': height,'width': width, 'background': (coverimage && zoom && !zoomflipflag) ? 'url(' + coverimage + ') center/cover no-repeat' : null}">
                        <ng-content></ng-content>
                </div>
                <div>

                </div>

 