

<div >
  <div class="inputgroup">

    <label [style.font-style]="fontStyle" [style.font-family]="fontFamily" [style.font-size]="fontSize">
      {{fieldLabel}}
    </label>

    <ng-container *ngIf="datepicker && !timepicker">
      <input type="text"
             value="{{dateModel|date:dateFormat}}"
             [attr.disabled]="readonly ? true: null"
             (blur)="onBlur()"
             (focus)="onFocus()"
             class="input-control" placeholder="Choose Date"/>
    </ng-container>

    <ng-container *ngIf="timepicker">
      <input type="text"
             value="{{dateModel|date:dateFormat}} {{hrs + ' : ' + min}}"
             [attr.disabled]="readonly ? true: null"
             (blur)="onBlur()"
             (focus)="onFocus()"
             class="input-control" placeholder="Choose Time"/>
    </ng-container>


    <div class="drodown-caret-down">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>

    <div *ngIf="showToolTip" class="datetimepicker">

      <div class="datetimepickertopbar" *ngIf="datepicker">
        <ul>
          <li class="prev">
            <i (click)="prevYear($event)" class="fa fa fa-step-backward" aria-hidden="true"></i>
            <i (click)="prevMonth($event)" class="fa fa-chevron-left"></i>
          </li>
          <li class="next">
            <i (click)="nextMonth($event)" class="fa fa-chevron-right"></i>
            <i (click)="nextYear($event)" class="fa fa-step-forward" aria-hidden="true"></i>
          </li>
          <li>{{selectedDate | date:'MMMM'}}<br>
            <span class="title">{{selectedDate | date:'y'}}</span>
          </li>
        </ul>
      </div>

      <ul class="weekdays" *ngIf="datepicker">
        <li *ngFor="let dayTitle of daysTitle">{{dayTitle.text}}</li>
      </ul>

      <ul  class="days" *ngIf="datepicker">

        <ng-container *ngFor="let dayArray of daysArray">
          <li *ngFor="let day of dayArray" >
              <span (click)="onDateClick(day.date)" class="day" [ngClass]="{'active':day.selected, 'currentMonth':day.isCurrentMonth, 'notCurrentMonth':!day.isCurrentMonth}">
                  {{ day.date | date:'d' }}
              </span>
          </li>
        </ng-container>


        <li class="date-today">
          <amexio-button label="TODAY" (onClick)="setToday()" size="small"></amexio-button>
        </li>


      </ul>

      <table class="table" align="center" *ngIf="timepicker" style="cursor : pointer;text-align: center;padding: 5px;">
        <!--if picker is true-->
        <tr style="padding: 10px;">
          <td colspan="2"></td>
          <td (click)="plus('hrs', $event);">&#9650;</td>
          <td></td>
          <td (click)="plus('min', $event);">&#9650;</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>{{hrs}}</td>
          <td>:</td>
          <td>{{min}}</td>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td (click)="minus('hrs', $event);">&#9660;</td>
          <td></td>
          <td (click)="minus('min', $event);">&#9660;</td>
          <td colspan="2">
          </td>
        </tr>

      </table>




    </div>

  </div>
</div>

