<div #taskbarItemId>

  <div *ngIf="!iconClose">
    <amexio-button  *ngIf="close" 
      [label]="title"
      [type]="'theme-color'"
      [closable-icon]="true"
      (onIconClick)="iconClick(taskbarItemId)"
      (onClick)="taskbarItemClick()">
  </amexio-button>
  <amexio-button  *ngIf="!close"
      [label]="title"
      [type]="'theme-color'"
      (onClick)="taskbarItemClick()">
  </amexio-button>
  
  </div>
  
  <ng-container *ngIf="displayFlag">
    <div [ngStyle]="{'width.px': relativePosition ? widthOfItem: ''}" 
    (onClick)="taskbarItemClick()"
      [ngClass]="{'taskbar-item-display-relative': relativePosition , 'taskbar-item-display-fixed': !relativePosition }">
      <amexio-panel [ngStyle]="{'width.px': !relativePosition ? widthOfItem: ''}" 
      amexioColorPalette
        (onClick)="taskbarItemClick()" 
        [title]="title" [color-palette]="'vibrant'" 
        [gradient]="true" [border]="true"
        [height]="heightOfItem" [header]="true"
         [expanded]="false">
         <amexio-panel-header>
          <amexio-image 
          style="margin-top : auto;" 
          [icon-class]="taskbarIcon"
          [tooltip]="'Information'">
          </amexio-image>
      </amexio-panel-header>
        <ng-content></ng-content>
      </amexio-panel>
    </div>
  </ng-container>
  
  </div>