.mypanel {
    background-color: white;
    size:10px;
    color: #222;
  }
  
  .mypanel .title {
    /* background-color: #ccc; */
    width: 100%;
    padding: 3.5px;
    cursor: pointer;
    border-bottom:1.5px solid rgb(226, 213, 213);
    /* border-bottom: 0.4px solid #666; */
  }
  
  .mypanel .body {
    padding: 0px 10px 10px 10px;

  }
  
  .mypanel .body.hidden {
    display: none;
  }