<!-- <div class="recaptcha">
 <div class="recaptchatextbox">
   <div class="checkbox">
     <div class="textarea">
        <input type="checkbox" name="vehicle" value="Bike"> I Agree<br>
        <input type="submit" value="Submit">
     </div>

   </div>

 </div>

</div>
 -->


<!-- <form action="?" method="POST">
    <div class="g-recaptcha" data-sitekey="your_site_key"></div>
    <br/>
    <input type="submit" value="Submit">
</form> -->

<div class="g-recaptcha" [attr.id]="componentId">
  </div>