<div [ngClass]="cclass" class="creative-header-div" [ngStyle]="{'background': ' url(' + bgimage + ') center/cover no-repeat' }">
    <div *ngIf="ribbonType"> &nbsp;</div>
    <header class="creative-header {{themeCss}}" [style.flex-direction]="direction" [ngStyle]="{'justify-content': (align === 'start' || align === 'end') ? 'flex-'+align:align ,
     'color': color,'background':background,'height': height}"
        [ngClass]="{'card-container-ce-theme-color': applyThemeColor}">
        <ng-content></ng-content>
        <span *ngIf="windowFlag" class="creative-header-icon-div" [ngStyle]="iconPosition">
            <amexio-c-icon class="cursor-style" *ngIf="(isFullWindow && maximize )" [key]="'window_maximize'" (onClick)="sizeChange()"></amexio-c-icon>
            <amexio-c-icon class="cursor-style" *ngIf="(!isFullWindow && maximize )" [key]="'window_restore'" (click)="sizeChange()"></amexio-c-icon>
            <amexio-c-icon class="cursor-style" style="padding-left:5px;" *ngIf="closeable" [key]="'window_close'"
                (onClick)="onCloseClick()"></amexio-c-icon>
        </span>
    </header>
</div>