<!-- <div class="card-container" style="margin-left:15px; margin-top: 15px;align-items: center;z-index:70">
    <amexio-label size="small-bold" [enable-click]="false" [word-wrap]="true"> {{value}}</amexio-label>

    <span class="btnspan">
        <span *ngFor="let item of btnArray1" class="btn">
            <button type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
        </span>
        <span class="btn">
            <button type="button" class="fa fa-arrow-left pointer btncolor" (click)="eraseData()">
            </button>
        </span>
        <br>
        <span *ngFor="let item of btnArray2" class="btn">
            <button style="margin-top:8px" type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
        </span>
    </span>

</div> -->

<!-- <div>
    <amexio-label size="small" [enable-click]="false" [word-wrap]="true"> {{label}}</amexio-label>
    <br>
    <input class="input-control" style=" margin-bottom: 6px" type="{{textType}}" value="{{value}}" readonly>

    <span *ngIf="type == '2-rows'" class="btnspan">
        <span *ngFor="let item of btnArray1" class="btn">
            <button type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
        </span>
        <span class="btn">
            <button type="button" class="fa fa-arrow-left pointer btncolor" (click)="eraseData()">
            </button>
        </span>
        <br>
        <span *ngFor="let item of btnArray2" class="btn">
            <button style="margin-top:8px" type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
        </span>
        <span class="btn">
            <button type="button" style="margin-top:8px" class="fa fa-eraser pointer btncolor" (click)="clearData()">
            </button>
        </span>
    </span>

</div> -->

<!-- <label> {{label}}</label>
<br>
<input class="input-control" style=" margin-bottom: 6px" type="{{textType}}" value="{{value}}" readonly>

<span *ngIf="type == '2-rows'" class="btnspan">
  <span *ngFor="let item of btnArray1" class="btn">
    <button type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
  </span>
  <span class="btn">
    <button type="button" class="fa fa-arrow-left pointer btncolor" (click)="eraseData()">
    </button>
  </span>
</span>
<span class="btnspan">

  <span *ngFor="let item of btnArray2" class="btn ">
    <button style="margin-top:8px" type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
  </span>
  <span class="btn">
       style="margin-top:8px" -->
    <!--  <button type="button" style="margin-top:8px"  class="fa fa-eraser pointer btncolor" (click)="clearData()">
      </button>
    </span>
</span> -->
<!-- 
<label> {{label}}</label>
<br>
<span style="display: flex;background-color: white;">
  <input class="input-control" [ngStyle]="{'border-color':isValid && iconfeedback ? 'green': 'red'}" [(ngModel)]="value" style=" margin-bottom: 6px" type="{{textType}}" maxlength="maxlen" minlength="minlen" value="{{value}}"
    readonly>
  <ng-container *ngIf="iconfeedback">
    <span style="border: none; border-bottom: 1px solid;margin-bottom: 6px; padding: .375rem 0" [ngStyle]="{'border-color':isValid ? 'green': 'red'}">
      <span *ngIf="!isValid">
        <em class="fa fa-times" style="margin-top: 13px"></em>
      </span>
      <span *ngIf="isValid">
        <em class="fa fa-check" style="margin-top: 13px"></em>
      </span>
    </span>
  </ng-container>
</span> -->

<!-- <span *ngIf="type == '2-rows'" class="btnspan">
  <span *ngFor="let item of btnArray1" class="btn">
    <button type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
  </span>
  <span class="btn">
    <button type="button" class="fa fa-arrow-left pointer btncolor" (click)="eraseData()">
    </button>
  </span>
</span>
<span class="btnspan">

  <span *ngFor="let item of btnArray2" class="btn ">
    <button style="margin-top:8px" type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
  </span>
  <span class="btn">
    <! style="margin-top:8px" -->
 <!--   <button type="button" style="margin-top:8px" class="fa fa-eraser pointer btncolor" (click)="clearData()">
    </button>
  </span>
</span>

 -->

 <input class="input-control" 
  [ngClass]="cls"
  [(ngModel)]="value" style=" margin-bottom: 6px" type="{{textType}}" 
  maxlength="maxlen" minlength="minlen" value="{{value}}"
    readonly>
  <ng-container *ngIf="iconfeedback">
      <!-- [ngStyle]="{'border-color':isValid ? 'green': 'red'}" -->
    <span style=" border-bottom: 1px solid;margin-bottom: 6px; padding: .375rem 0" 
    [ngClass]="cls"
    >
      <span *ngIf="!isValid && cls == 'redcls'" >
        <em class="fa fa-times" style="margin-top: 13px"></em>
      </span>
      <span *ngIf="isValid && cls == 'greencls'">
        <em class="fa fa-check" style="margin-top: 13px"></em>
      </span>
    </span>
  </ng-container>
</span>

<span *ngIf="type == '2-rows'" class="btnspan">
  <span *ngFor="let item of btnArray1" class="btn">
    <button type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
  </span>
  <span class="btn">
    <button type="button" class="fa fa-arrow-left pointer btncolor" (click)="eraseData()">
    </button>
  </span>
</span>
<span class="btnspan">

  <span *ngFor="let item of btnArray2" class="btn ">
    <button style="margin-top:8px" type="button" class="pointer btncolor" (click)="getBtnData(item)">{{item}}</button>
  </span>
  <span class="btn">
    <!-- style="margin-top:8px" -->
    <button type="button" style="margin-top:8px" class="fa fa-eraser pointer btncolor" (click)="clearData()">
    </button>
  </span>
</span>

