


  <div *ngIf="showPanel" [ngStyle]="style"  [ngClass]="{floatarrow:arrow}">
      <div class='floatingpanel-header'   [ngClass]="themeCss" >        
            <div class="flex-spacebetween">
                <amexio-label [word-wrap]="false" style="width:90%" [size]="'medium-bold'">
                   {{title}}
                </amexio-label>
                  <span *ngIf="closeable" [ngStyle]="{'color': gradientFlag ? 'black':'white'}" class="creative-header-icon-div" style="padding-top: 1px">
                      <span  class="fa fa-times ng-star-inserted" style="cursor: pointer;" (click)="togglePanel()"></span>                   
                </span>
              </div>
              <br/>                      
        </div>
      <div class= "card-container-body card-container-ce-color" style="overflow: auto;display: block;" [ngStyle]="{'height':height + 'px'}">
          <ng-content></ng-content>                       
      </div>
    </div>

