<div  id="{{componentId}}" class="inputgroup">
  {{fieldlabel}}

  <label  role="switch" attr.aria-labelledby="{{componentId}}" [attr.aria-checked]="checked" tabindex="1" for="{{toggleId}}" 
  class="toggle" 
  (keyup.space)="onEventFilter($event)">

    <input id="{{toggleId}}" type="checkbox"
     style="top:0; left:0" 
     [attr.checked]="checked"
     data-check-switch = ""
      [attr.aria-required]="required"
      #rangeHndl 
      [(ngModel)]="value"
      (blur)="onBlur()"
      [attr.aria-checked]="checked" 
      (change)="onToggle()">
    <span class="toggle-slider {{shape}}">
    </span>
  </label>
</div>