<div 

tabindex="0"
attr.aria-label="{{alignment}}"

class="timeline-badge "  
[ngClass]="{'timeline-badge-center': (alignment === 'center')
  , 'timeline-badge-left': (alignment === 'right')
  , 'timeline-badge-right': (alignment === 'left')}"
  >
<amexio-c-icon [customclass]="icon"></amexio-c-icon>
</div>
<div 
tabindex="1"
attr.aria-label="{{contentalignment}}"
class="timeline-panel" [ngClass]="{'timeline-panel-border':contentborder,
 'timeline-panel-float-right': (contentalignment == 'right'),
 'timeline-panel-float-left': (contentalignment == 'left'),
 'timeline-panel-center': (alignment === 'center'),
 'timeline-panel-right': (alignment === 'right'),
 'timeline-panel-left': (alignment === 'left')}">
<div 
tabindex="1"
*ngIf="label"><b>{{label}}</b></div>

<ng-content></ng-content>
</div>