<span id="{{componentId}}" tabindex="0" role="listbox" (keyup.end)="focusToLastChip($event)" (keyup.home)="focusToFirstChip($event)"
    (keyup)="onchipsKeyup($event)" (keydown.control.x)="closeFocusedChip($event, data)">
    <span role="option" tabindex="0" *ngFor="let item of data" id="{{item.index}}" attr.aria-label="{{item.label}}">
        <amexio-chip [item]="item" [index]="item.index" [selected]="item.selected" [display-field]="displayfield"
            [icon]="item.icon" [label]="item.label" [badge]="item.badge" [closable]="item.closable" [font-color]="item.fontcolor"
            [color]="item.color" (closeClick)="onCloseChipsClick(item)" (labelClick)="emitSelectedLabel(item)">
        </amexio-chip>
    </span>
</span>