<div class="inputgroup">

    <label *ngIf="haslabel" [style.font-style]="fontstyle" [style.font-family]="fontfamily" [style.font-size]="fontsize">
      {{fieldlabel}}
  </label>
    <input type="text" #inp="ngModel"  class="input-control" [ngClass]="inp.touched ? (isValid && inp.touched) ? 'input-control-success' : 'input-control-error' :''" [(ngModel)]="value" (blur)="onBlurEvent()" (focus)="onFocusEvent()" (input)="onInput()" (change)="onChangeEv()"
        [name]="name" [pattern]="regEx" [attr.placeholder]="placeholder" [maxlength]="maxlength" [minlength]="minlength" [attr.disabled]="disabled ? true: null" [required]="!allowblank" />


    <ng-container *ngIf="iconfeedback">
        <span class="input-control-feedback">
          <span *ngIf="!isValid && inp.touched"><em class="fa fa-times"></em></span>
        <span *ngIf="isValid && inp.touched"><em class="fa fa-check"></em></span>
        </span>
    </ng-container>


    <span *ngIf="showToolTip && enablepopover" class="dropdown tooltiptext">
      <div [innerHTML]="helpInfoMsg"></div>
  </span>
    <span class="inputfieldbar"></span>
</div>