
<div class="inputgroup ">

  <label [style.font-style]="fontStyle" [style.font-family]="fontFamily" [style.font-size]="fontSize">
    {{fieldLabel}}
  </label>

  <input type="text" class="input-control"
         [(ngModel)]="value"
         #inp="ngModel"
         [ngClass]="getValidationClasses(inp)"
         (blur)="onBlur()"
         (focus)="onFocus()"
         name="name"
         [pattern]="regEx"
         #ref
         [attr.placeholder]="placeholder"
         [attr.maxLength]="maxLength"
         [attr.minLength]="minLength"
         [attr.disabled] = "disabled ? true: null"
         [attr.required]="!allowBlank"/>

  <span *ngIf="iconFeedBack && (inp.invalid && (inp.dirty || inp.touched) || inp.valid)" class="input-control-feedback">
        <span *ngIf="!isValid && inp.touched">&#9888;</span>
        <span *ngIf="isValid && inp.touched"> &#10004;</span>

  </span>

  <span *ngIf="showToolTip && enablePopOver" class="tooltiptext">
        <div  [innerHTML]="helpInfoMsg"></div>
  </span>

</div>

