<div class="table">
  <div class="tablerow">
    <div class="tablecol verticalalign-tableft">
      <div class="verticalnavtab verticalnavtab-left ">
        <ul>
          <li *ngFor="let tabnode of tabCollection">
            <div class="defaultnode" [ngClass]="{'leftactivetab':tabnode.active}"    (click)="onTabClick(tabnode)">
              <span *ngIf="tabnode.icon" [ngClass]="tabnode.icon"  aria-hidden="true"></span>
              <span>{{tabnode.title}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="tablecol verticalalign-tabcontent">
      <div class="tabcontent">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
