<ng-container *ngIf="data && data.length > 0">
  <table [ngClass]="{'borderStyle': hasBorder}" style="width: 100%">
    <tr *ngFor="let item of data">
      <td class="field-name-align" [ngClass]="{'borderStyle': hasBorder}">
        <span *ngIf="item.fieldIcon" style="padding-right: 5px">
          <amexio-c-icon class="fa + {{item.fieldIcon}}"></amexio-c-icon>
        </span>
        <span *ngIf="!item.onlyIcon"
          [ngStyle]="{'font-weight': enableKeyBold ? 'bold': 'normal'}">{{item.fieldName}}</span>
        <span *ngIf="hasColon"> :</span>
      </td>
      <td class="field-name-align"
        [ngClass]="{'borderStyle': hasBorder, 'isclickenabled':(item.link && item.link.length>0)}"
        (click)="onClick(item)">
        {{item.fieldValue}}
      </td>
    </tr>
  </table>
</ng-container>