<div #id class="card-container {{roundedgeclass}} {{tempPolaride}}" *ngIf="show" (window:resize)="onResize()" 
[ngStyle]="{'height' : 'height!=null'? '100%':'', 
'min-height': fit ? minheight+'px' : 'none'}"
(contextmenu)="loadContextMenu({event:$event,ref:id})" [ngClass]="{'full-screen-card': maximizeflagchanged}">
    <header #cardHeader [ngClass]="themeCss" [style.padding]="headerPadding" class="card-header" *ngIf="header"
     [ngClass]="{'flex-start':(headeralign=='left'),'flex-end':(headeralign=='right'),'flex-center':(headeralign=='center')}">
        <ng-content select="amexio-header"></ng-content>
    </header>
    <div class="card-body cardbody" [style.padding]="bodyPadding"
     [ngStyle]="{'height' : fit ? '100%' : height+'px',
     'overflow-y' : height!=null || fit ? 'auto' : 'none',
     'max-height' : fit ? scrollHeight+'px': 'none',
     'min-height.px' : minHeight}">
        <ng-content select="amexio-body"></ng-content>
    </div>
    <footer #cardFooter [style.padding]="footerPadding" class="card-footer {{roundedgeclass}}" *ngIf="footer"
     [ngClass]="{'flex-start':(footeralign=='left'),'flex-end':(footeralign=='right'),'flex-center':(footeralign=='center')}">
        <ng-content select="amexio-action"></ng-content>
    </footer>
</div>

<ng-container *ngIf="flag">
    <base-contextmenu 
    [base-context-menu]="contextmenu" 
    [mouse-location-top]="mouseLocation.top"
    [mouse-location-left]="mouseLocation.left" 
    [is-FlagShow]="flag" 
    [right-click-data]="nodeRightClick"
    (onRightClick) ="rightClickDataEmit($event)"
    [position-up]="posixUp">
    </base-contextmenu>
</ng-container>