<div id='player'>
  <video id='video-element' #videoRef (timeupdate)="onTimeUpdate()" (volumechange)="updateMuteUI()">
    <source [attr.src]="path">
  </video>
  <div id='controls'>
    <progress id='progress-bar' min='0' max='100' value='0' #progressbar>0% played</progress>
    <button id='btnReplay' style="vertical-align: middle" class='replay' title='replay' accesskey="R" (click)='replayVideo();'>Replay</button>
    <button id='btnPlayPause' [ngClass]="{'play' : !isPlaying, 'pause' : isPlaying}" style="vertical-align: middle" (click)="onPlay()">Play</button>
    <button id='btnStop' class='stop' style="vertical-align: middle" (click)="resetPlayer()">Stop</button>
    <input type="range" id="volume-bar"  min="0" max="1" step="0.1" value="1" (input)="onVolumeChange($event)" #volumebar>
    <button id='btnMute' (click)="onMute()" [ngClass]="{'mute' : !isMuted,'unmute' : isMuted}" title='mute' style="vertical-align: middle">Mute</button>
    <button id='btnFullScreen' class='fullscreen' title='toggle full screen' accesskey="T" style="vertical-align: top" (click)="onFullScreen()">[&nbsp;&nbsp;]</button>
  </div>
</div>
<div style="clear:both"></div>
