
video {
  width: 100%;
  height: 100%;
  background: black;
}

progress {
  color: steelblue;
  font-size: 12px;
  width: 220px;
  height: 16px;
  border: none;
  margin-right: 10px;
  background: #434343;
  border-radius: 9px;
  vertical-align: middle;
}

progress::-moz-progress-bar {
  color: steelblue;
  background: #434343;
}

progress[value]::-webkit-progress-bar {
  background-color: #434343;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: steelblue;
}


@media screen and (max-width: 600px) {
  
  video {
    border:1px solid steelblue;
    width:98%;
    height:231px;
    background:black;
  }
}
