<label [attr.aria-checked]="checked"
       for="{{componentId}}"
       class="input-box-container" 
       [ngClass]="{'disable-component' : disabled || disabled}">
{{label}}
<input type="checkbox"  
       style="top:0; left:0"
       class="form-control" 
       [attr.tabindex]="disabled ? -1 : 0"
       id="{{componentId}}"
       (focus)="onFocus()"
       (blur)="onBlur()"
       [ngClass]="{'checkbox-disable' : disabled}" 
       [checked]="checked" 
       [attr.aria-disabled]="disabled"
       (click)="toggleCheck()">
<span class="input-box-checkbox-label"  [ngClass]="{'focusOnCheckbox':tabFocus}"></span>
</label>