@media screen and (max-width: 600px) {
    .card-header{
        display: flex;
        padding: 10px 24px;
        background: $cardHeaderBGColor;
        border-bottom: $borderSize solid $cardBorderColor;
        font-size: 18px;
        color: $cardHeaderColor;
        font-weight: 300;
        text-transform: capitalize;
        overflow: auto;
      }
  }
  
  @media screen and (max-width: 768px) {
    .card-header{
        display: flex;
        padding: 10px 24px;
        background: $cardHeaderBGColor;
        border-bottom: $borderSize solid $cardBorderColor;
        font-size: 18px;
        color: $cardHeaderColor;
        font-weight: 300;
        text-transform: capitalize;
        overflow: auto;
      }
  }