/*----------------------------------------------------------------------*/
/*        DATAPOINTS COMPONENT - Visual         */
/*----------------------------------------------------------------------*/

.datapoints{
  background: $datapointBGColor;
  color: $datapointColor; 
  
  .datapoints-north{
   color: $datapointColor;
  }

  .datapoint-south{
    // @if(isMatrix)
    // {
    //   background-color: $datapointsColorS;
    //   color: $datapointsBGColorS;   
    // }@else {
      background-color: $datapointsBGColorS;
      color: $datapointsColorS;   
   // }
  }

  .datapoint-west{
    padding: 5px;
  }

  .datapoint-east{
    padding: 5px;
  }


}
