

@media screen and (min-width: 1400px) {
  .maincontent > div {
    height: 32vw;
    padding-bottom: 20px;
  }
}

@media (max-width: 799px) {
  .maincontent div {
    font-size: 11px;
  }

  .maincontent > div {
    top: 10px;
    width: 33vw;
    min-width: 330px;
    color: #999;
    line-height: 1.3;
  }

  .maincontent > div > table {
    height: 50px;
  }
}

@media (max-width: 480px) {


  .content-title {
    width: 100%;
    font-size: 180%;
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
  /*

  h3 {
    font-size: 9pt;
  }

  span {
    font-size: 6pt;
  }

  li b {
    font-size: 6pt;
  }

  li {
    font-size: 6pt;
  }
  */

  .maincontent {
    position: relative;
    width: 100%; /* for IE 6 */
    height: 35vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
