
/*----------------------------------------------------------------------*/
/*        INPUT CONTROL COMPONENT -Visual      */
/*----------------------------------------------------------------------*/

.input-control {
  font-size: $inputFontSize;  
  background-color: $inputControlBGColor;
  color: $inputControlColor;
}

::placeholder {
  color: $placeholderColor;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholderColor;
}
::-ms-input-placeholder { /* Microsoft Edge */
 // padding-left: 15px;
  color: $placeholderColor;
}
.input-control:focus {
  border-color: $borderColor-focus;
}
.input-control-success {
  border-color:$success;
}
.input-control-error {
  border-color:$error!important;
}
.input-control-feedback .success {
  color: $success;;
}
.input-control-feedback .error {
  color: $error;
}
.inputgroup .tooltiptext {
  background-color: $inputTooltipBGColor;
}

/****************************************************/
/**COLLAPSIBLE SEARCH  **/
/****************************************************/

.search:focus {
  background-color: $searchBGColor;
}
/****************************************************/
/**File upload  **/
/****************************************************/

.upload-drop-zone {
  color: $uploadDropZoneColor;
  //border-style: dashed;
  border-color: $uploadDropZoneColor;
  //line-height: 200px;
  //text-align: center
}
.upload-drop-zone.drop {
  color:$uploadDropZoneColorDrop;
  border-color:$uploadDropZoneColorDrop;
}
// .input-control {
//   border-radius: 0px;
//   line-height: 2;
//   font-size: 14px;
//   border: none;
//   border-bottom: 2px solid $borderColor;
//   background-color: #FFFFFF;
//   color: $color;
// }

// .input-control-success {
//   border-bottom-color:$success;
// }

// .input-control-error {
//   border-bottom-color:$error;
// }

// .inputgroup label {
//   margin-bottom: 0rem;
// }
