
/*----------------------------------------------------------------------*/
/*        ITEM SELECTOR COMPONENT -Visual        */
/*----------------------------------------------------------------------*/

.flex-col-45pt{
//  max-width: 45%;
}

.flex-col-10pt{
//  max-width: 10%;
}


.item-selector-action-panel{

  .actionbar{
  //  display: flex; flex-direction: column;

    .actionbarinner{
    //  align-self: center;
    //  display: flex; flex-direction: column;
    //  justify-content: space-between;

      .action{
        background-color: $itemselectorActionBGColor;
        color: $itemselectorActionColor;
        // width: 50px;
        // height: 30px;
        // text-align: center;
        // cursor: pointer;
      }

      .actiondisable{
        background-color: $itemselectorActionDisableBGColor;
      }

      // .movetop{  display: block; }
      // .moveup{  display: block;}
      // .moveleft{  display: block;}
      // .moveright{  display: block;}
      // .movedown{  display: block;}
      // .movebottom{  display: block;}

    }
  }
}

.list-item-active{
  background-color: $itemselectorListActiveBGColor;
}
