
$accordionBGColor: $componentHeaderBGColor;
$accordionColor: $componentHeaderFontColor;
$accordionActiveBGColor:$componentActiveBGColor;
$accordionActiveColor:$componentHeaderFontColor;
$accordionPanelBGColor:$componentBGColor;
$accordionPanelColor: $componentFontColor;

$accordionBorderSize : $borderSize;
$accordionBorderColor : $borderColor;
$accordionBorder : $borderColor;
$accordionFontSize : 15px;
$accordionTransparentBG:$componentBGColor;
$accordionTransparentBorder:$componentBGColor;
$accordionTransparentFontWeight:bold;
$accordionTransparentColor : $componentFontColor;
