.accordion {
  background-color: $accordionBGColor;
  color: $accordionColor;
}
.accordion .active-accordion, .accordion:hover {
  background-color: $accordionActiveBGColor;
  color: $accordionActiveColor;
}

.accordion:after {
  color: red;
}
.accordion amexio-accordion-header > *{
  padding: 5px;
}

.active:after {
}
.panel {
  background-color: $accordionPanelBGColor;
  color: $accordionPanelColor;
}

/** Transparent Styling **/
.accordion-transparent{
  background:$accordionTransparentBG;
}
.accordion amexio-accordion-header{
  color:$componentHeaderFontColor;
}
.accordion-transparent amexio-accordion-header > *{
  padding: 5px;
}


.accordion-transparent .active-accordion, .accordion-transparent:hover {

}

.accordion-transparent:after {
  color: red;
}

