
$accordionBGColor: $componentHeaderBGColor;
$accordionColor: $componentHeaderFontColor;
$accordionActiveBGColor:$componentActiveBGColor;
$accordionActiveColor:$componentActiveFontColor;
$accordionPanelBGColor:$componentBGColor;
$accordionPanelColor: $componentFontColor;

$accordionBorderSize : $borderSize;
$accordionBorderColor : $borderColor;

$accordionFontSize : 15px;
$accordionTransparentBG:$componentBGColor;
$accordionTransparentBorder:$componentBGColor;
$accordionTransparentFontWeight:bold;
$accordionTransparentColor : $componentFontColor;

$amexioColorRedDark: $amexioColorRedDark;

$transparentHoverBGColor: $componentHoverBGColor;