.amexio-badge {
    display: flex;
    text-align: center;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    text-transform: uppercase;
}