.borderlayout-N {
    grid-area: north;
}

.borderlayout-S {
    grid-area: south;
}

.borderlayout-E {
    grid-area: east;
}

.borderlayout-W {
    grid-area: west;
}

.borderlayout-C {
    grid-area: center;
}