
$boxBorderSize : 6px;
$boxBackgroundColor : $componentBGColor;
$boxFontColor :$themeFontColor;


$boxBGRed : $boxBGRedColor;
$boxBorderRed :$amexioColorRedDark;
$boxBGGreen : $boxBGGreenColor;
$boxBorderGreen:$amexioColorGreenDark;
$boxBGPurple : $boxBGPurpleColor;
$boxBorderPurple: $amexioColorPurpleDark;
$boxBGBlue: $boxBGBlueColor;
$boxBorderBlue : $amexioColorBlueDark;
$boxBGBrown : $boxBGBrownColor;
$boxBorderBrown : $amexioColorBrownDark;
$boxBGYellow : $boxBGYellowColor;
$boxBorderYellow : $amexioColorYellowDark;

$boxBorderColor : $borderColor;

$boxBorderThemeColor : $componentHeaderBGColor;
$boxThemeBGColor : $componentHoverBGColor;
$boxThemeColor : $componentHoverFontColor;