
$boxBorderSize : 6px;
$boxBackgroundColor : $componentBGColor;
$boxFontColor :$themeFontColor;


$boxBGRed : $redColorLighten;
$boxBorderRed :$amexioColorRedDark;
$boxBGGreen : $greenColorLighten;
$boxBorderGreen:$amexioColorGreenDark;
$boxBGPurple : $purpleColorLighten;
$boxBorderPurple: $amexioColorPurpleDark;
$boxBGBlue: $blueColorLighten;
$boxBorderBlue : $amexioColorBlueDark;
$boxBGBrown : $brownColorLighten;
$boxBorderBrown : $amexioColorBrownDark;
$boxBGYellow : $yellowColorLighten;
$boxBorderYellow : $amexioColorYellowDark;

$boxBorderColor : $borderColor;

$boxBorderThemeColor : $componentHeaderBGColor;
$boxThemeBGColor : $componentHoverBGColor;
$boxThemeColor : $componentHoverFontColor;