
.box-content{
}

.border-topbar{
  border-top:$boxBorderSize solid $boxBorderColor ;
}
.border-bottombar{
  border-bottom:$boxBorderSize solid $boxBorderColor;
}
.border-leftbar{
  border-left: $boxBorderSize solid $boxBorderColor;
}
.border-rightbar{
  border-right: $boxBorderSize solid $boxBorderColor;
}

.border-all{
  border:$boxBorderSize solid $boxBorderColor ;
}
.border-top-bottom{
  border-top:$boxBorderSize solid $boxBorderColor ;
  border-bottom:$boxBorderSize solid $boxBorderColor;
}
.border-right-left{
  border-right:$boxBorderSize solid $boxBorderColor ;
  border-left: $boxBorderSize solid $boxBorderColor;
}

.box-default{
  border-color : $boxBorderColor
}

.padding{
  padding:8px 8px 8px 8px;
}

.border-red{
  border-color: $boxBorderRed;
}

.border-blue{
  border-color: $boxBorderBlue;
}

.border-green{
  border-color: $boxBorderGreen;
}

.border-brown{
  border-color: $boxBorderBrown;
}

.border-purple{
  border-color: $boxBorderPurple;
}

.border-yellow{
  border-color: $boxBorderYellow;
}