
.bg-yellow{
  color : $boxFontColor;
  background-color:#ffeb3b;
}

.bg-light-grey{
color : $boxFontColor;
  background-color:#f1f1f1;
}

.bg-pale-red{
color : $boxFontColor;
  background-color:#ffdddd;
}

.bg-pale-green{
color : $boxFontColor;
  background-color:#ddffdd;
}

.bg-pale-yellow{
  color : $boxFontColor;
  background-color:#ffffcc;
}

.bg-pale-blue{
  color : $themeFontColor;
  background-color:#ddffff;
}

.background-default{
  background-color : $boxBackgroundColor;
}
