.breadcrum-rightshift-css {
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    flex-direction: row;
    position: relative;
   
}

.context-menu-list1 {
        display: block;
        position: absolute;
        flex-direction: column;
        min-width: 180px;
        cursor: pointer;
        max-height: auto;
        z-index: 1;
        padding: 10px 0px;
        overflow-y: auto;
}
      
.context-menu-list1 .context-menu-list-items1 {
        text-decoration: none;
        display: inline-block;
        padding: 5px;
        display: block; }

.context-menu-list1 :hover {
            color: #8D021F; 
        }

.btn-group {
                display: table !important;
            }




         