.breadcrum-rightshift-css {
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    flex-direction: row;
    position: relative;
   
}

.context-menu-list1 {
        display: block;
        position: absolute;
        flex-direction: column;
        min-width: 180px;
        cursor: pointer;
        max-height: auto;
        z-index: 1;
        margin-top: 8px;
        padding: 10px 0px;
       
}
      
.context-menu-list1 .context-menu-list-items1 {
        text-decoration: none;
        display: inline-block;
        padding: 5px;
        display: block; 
        width: 94%; 
        overflow: hidden;
}
.arrow-icon-css {
        cursor: pointer;
}

.data-click-css {
        cursor: pointer;
        font-size: 16px;
}



.breadcrumb-group {
        padding: 7px;
}

 .breadcrumb-group:hover {
        padding: 6px;    
 }

 .label {
        display:  none !important;
        margin: 0px !important;
  }
     
    .arrow-group-css:hover {
        content: '';
        display: initial !important;
        margin-top: 0px !important;
        height: 120%;
        padding-left: 8px;
        padding-top: 12px;
        padding-bottom: 8px;
        border-left: 1px solid #797575;
    }

    .arrow-group-css {
        content: '';
        display: initial;
        margin-top: 0px;
        padding-left: 8px;
        height: 120%;
        padding-top: 12px;
        padding-bottom: 8px;
        // color: $breadcrumbFontColor;
        border-left: 1px solid #f7f3f3;
        
    }
    .label-icon-css {
            cursor: pointer;
    }
     
    .dropdown-icon-css {
        width: 20%; 
        text-align:left;  
        display:inline

    }
    .dropdown-label-css {

        width:80%;
        float: right; 
         display:inline;
    }
    .context-menu-list-items1:focus{
        background-color: $breadcrumbBGColor;
        outline:none;
     }
     .breadcrumb-group:focus{
        background:$breadcrumbBGColor;
        outline: none;
     }
     .arrow-group-css:focus{
        background:$breadcrumbBGColor;
        outline: none;
     }
     .label-icon-css:focus{
        background:$breadcrumbBGColor;
        outline: none;
     }
  




         