:host{
  width: 100%;
  height: 100%;
  margin: 10px;
  display: block;
}

.browserpanel-iframe{
  height: 100vh;
  width: 100%;
  border: 1px solid lightgray;
}

.browserpanel-header{
  padding: 10px;
  display: inline-flex;
}

.browserpanel-url{
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding-bottom: 4px;
  padding-left: 6px;
}
.card-ce-window{
  width: 90%;
  top: 0px;
  left: 0px;
  justify-content: center;
  transform: none;
  opacity: 1;
}

.browserpanel-header-url{
  flex-grow: 1;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 5px;
    line-height: 15px;
    padding-left: 7px;
}
.browserpanel-url-window {
  background: rgba(128, 127, 127, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 700;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  padding-bottom: 4px;
  padding-left: 6px;

}

.browser-close {
  font-size: 12pt;
  cursor: pointer;
  text-align: center;
  width: 15px;
   line-height: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}



.browser-minimize {
 
  font-size: 12pt;
  cursor: pointer;
  line-height: 15px;
  margin: 5px 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}



.browser-zoom {
  
  font-size: 12pt;
  width: 15px;
  cursor: pointer;
  height: 15px;
  line-height: 15px;
  margin-right: 9px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}


.url-with-dots {
  display: inline-block;
  width: 87%;
  background: lightgrey;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  height: 12px;
  padding: 7px 7px 7px 0px;
}

.span-with-button {
  vertical-align: super;
}
.reload-button {
  vertical-align: super;
  padding: 0px 8px 0px 0px;    
}

.lock-button {
  vertical-align: super;
  background: lightgray;
  padding: 10px;
  padding-bottom: 3px;
  padding-top: 6px;
}