
.browser-iframe{
  border: 1px solid $browserPanelBorderColor;
}

.browser-close {
  background: $browerCloseBGColor;
  border: 1px solid $browerCloseBorder;
}



.browser-minimize {
  background: $browerMinimizeBGColor;
  border: 1px solid $browerMinimizeBorder;
  
}

.browser-zoom {
  background: $browerZoomBGColor;
  border: 1px solid $browerZoomBorder;
}


