
button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    user-select: none;
    border: 1px solid $buttonBorderColor;
    padding: .5rem 1rem;
    border-radius: $buttonBorderRadius;
    transition: all .2s ease-in-out;
}

.button-text {
    display: inline-block;
}

.disabled
{
  pointer-events: none;
}

.button-small{
    padding: .25rem .5rem;
}

.button-default{
    padding: .5rem 1rem;
    font-size: 1rem;
}

.button-large{
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
}

.button-block {
    display: block;
    width: 100%;
}

.button-transparent {
    border : none !important;
    box-shadow: none !important;
  }