
$btnDropdownBorderSize: $borderSize;
$btnDropdownBorderColor : $borderColor;
$buttonDropdownHoverBG:$componentHoverBGColor;
$buttonDropdownBG:$componentBGColor;
$buttonDropdownFontSize : 1rem;
$btnBadgeColor:$componentHeaderBGColor;
$btnBadgeColorBG:$componentActiveBGColor;