
.card-container {
  background-color: $cardBGColor;
  color: $cardColor;

}

.card-header{
  background: $cardHeaderBGColor;
  color: $cardHeaderColor;
}

.card-header .toolbar{
  background-color: unset;
  box-shadow : unset;
  padding: 0px;
}

.cardbody::-webkit-scrollbar-track
{
  background-color:$cardBodyScrollBGColor;
}

.cardbody::-webkit-scrollbar
{
  background-color: $cardBodyScrollBGColor;
}

.cardbody::-webkit-scrollbar-thumb
{
  background-color: $cardBodyScrollThumbColor;
}

.card-footer{
  background-color: $cardFooterBGColor;
  color: $cardFooterColor;
}
