.cehovereffect:hover {
}

.card-container-ce-main {
    position: relative;
    /* opacity: 1; */
     }
 
     .card-ce-overflowhidden {
      height:100%; 
      overflow: hidden;
      }


    .card-ce-overlay-fadeeffect:hover {
        opacity: 1;
        transition: all 2s ease-in-out;
     }

    /* fading effect */
    .card-ce-overlay-fadeeffect {        
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
         transition-duration: 3s;
      }
      
    /* sliding effect  */
    .card-ce-overlay-slideeffect {
      transform:   translateX(-300%);
      transition: all 0.3s ease-in-out;
    }

    .card-ce-overlay-slideeffect-hover {
        transform: translateX(0%);
        transition-delay: 500ms;
        background-color: $cecardBGHoverColor;
        color: $cecardFontHoverColor;
      }

  