.input-box .default {
    background: $checkboxBGColor;
}

.input-box .active {
    background: $checkboxActiveBGColor;
    color: $checkboxActiveColor;
}


/* When the checkbox is checked, add a blue background */

.input-box-container input:checked~.input-box-checkbox-label {
    background-color: $checkboxActiveBGColor;
}

.checkbox-disable {
    opacity: 0.55;
    cursor: not-allowed;
    pointer-events: none;
}
.focusOnCheckbox {
    border: solid $checkboxBorderColor !important;
}