
$checkboxBGColor : $appBackground;
$checkboxActiveBGColor : $componentHeaderBGColor;
$checkboxActiveColor : $componentActiveFontColor;


$checkboxDisableBGColor : $componentDisabledBGColor;

$checkboxBorderColor : $borderColor;
$checkboxBorderSize : $borderSize;
$checkboxBorderRadius : $borderRadius;