.chips {
    display: inline-block;
    padding: 0 15px;
    height: 35px;
    font-size: 16px;
    // line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin:3px;
    color: black;
}
.chips:hover{
    background:$chipsHoverBG;
   }
.badge{
    padding: .0em .4em;
    font-size: small;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    /* white-space: nowrap; */
    vertical-align: baseline;
    border-radius: 30rem;
    margin-left: 10px;
    background-color:black;
    margin-right: 3px;
    color: whitesmoke;
}

.chiplabelicon{
    cursor: pointer;
    padding-left:10px;
}

.chiplabel{
    cursor: pointer;
}