
$datapointsColor : $componentFontColor;
$datapointsBGColorS : $componentDataBGColor;
$datapointsColorS : $componentDataFontColor;

$datapointBGColor : $componentBGColor;
$datapointColor : $componentDataBGColor;
$datapointBorderColor : $borderColor;
$datapointBorderSize : $borderSize;