
.datapoints{
  
  .datapoints-north{
   color: $datapointColor;
  }

  .datapoint-south{
      background-color: $datapointsBGColorS;
      color: $datapointsColorS;   
  }

  .datapoint-west{
    padding: 5px;
  }

  .datapoint-east{
    padding: 5px;
  }
}
.datapoint{
  background: $datapointBGColor;
  color: $datapointColor; 
}