
.datatable-height::-webkit-scrollbar-track
{
  background-color:$datatableScrollBG;
}

.datagrid amexio-datagrid-header > *{
  padding: 3px
}

.datatable-height::-webkit-scrollbar
{
  background-color: $datatableScrollBG;
}

.datatable-height::-webkit-scrollbar-thumb
{
  background-color: $datatableScrollThumbBG;
}

.datatable .datatable-header{
  background-color: $datatableHeaderBGColor;
  color : $datatableHeaderColor;
}

.datatable .datatable-row:hover{
  background-color: $datatableRowHoverBG;
  color: $datatableRowHoverFont;
  cursor: pointer;
  @mixin for_row_hover() {
    $datatableRowHover: false !default;

    @if $datatableRowHover {
      color: $datatableRowHover;
    }
  }
  @mixin for_row_bold() {
    $datatableFontBold: false !default;

    @if $datatableFontBold {
      font-weight :$datatableFontBold;
    }
  }
}

.datatable .datatable-row-active {
  background-color: $datatableRowActiveBG !important;
  @mixin for_row_active() {
    $datatableRowActive: false !default;

    @if $datatableRowActive {
      color: $datatableRowActive;

    }
  }
}
 

.datatable-row:nth-child(odd){
  background-color: $datatableOddRowColor;
}

.datatable-col:focus {
background-color: $datatableRowHoverBG;
color : $componentHoverFontColor;
outline: none;
}

.float-right .enablecolumnfilter:focus{
background-color: $datatableRowHoverBG;
color : $componentHoverFontColor;
outline: none;
}

.dropdown-list .list-items:focus{
background-color: $datatableRowHoverBG;
color : $componentHoverFontColor;
outline: none;
}

.datatable-filter-icon:focus{
  background-color: $datatableRowHoverBG;
color : $componentHoverFontColor;
outline: none;
}


.float-right-datagridlist{
  float: right;
}

.float-right-datagridlist:focus{
  background-color: $datatableRowHoverBG;
  color : $componentHoverFontColor;
  outline: none;
}
