.datetimepicker{
 display: block;
 border: $datetimepickerBorderSize solid $datetimepickerBorderColor;
 position: absolute;
 box-shadow: 0 1px 3px 0 $datetimepickerBorderColor;
 z-index: 3;
 width:290px;
 .datetimepickertopbar {
   padding: 10px 25px;
   text-align: center;

   .title{
     font-size:18px;
     cursor:pointer;
   }

   ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }

   ul li {
     font-size: 18px;
     text-transform: uppercase;
     letter-spacing: 3px;
   }


   .prev {
     float: left;
     padding-top: 10px;
     cursor:pointer;
   }

   .next {
     float: right;
     padding-top: 10px;
     cursor : pointer;
   }
 }

 .weekdays {
   margin: 0;
   padding: 10px 0;

   list-style: none;
   li {
     display: inline-block;
     width: 13.6%;
     text-align: center;
   }
 }

 .days {
   padding: 10px 0;
   margin: 0;
   cursor : pointer;
   list-style: none;

   li {
     list-style-type: none;
     display: inline-block;
     width: 13.6%;
     height: 20px;
     text-align: center;
     margin-bottom: 5px;
     font-size:12px;
     cursor: pointer;
   }

   .active {
     border-radius: 135px;
     padding: 5px;
   }


   .date-today{
     padding-top: 1%;
     padding-left: 42%;
   }
 }
}

.datetimepicker-up{
 bottom: 100%;
}

.datetimepicker:disabled{
 cursor: not-allowed;
}
.invaliddays{
  opacity:.40;
  pointer-events:none;   
}
.disabled{
 opacity:.40;
  pointer-events:none;  
}