

.datetimepicker{
  background: $datetimepickerBGColor;

  .datetimepickertopbar {
    background: $datetimepickertopbarBGColor;

    ul {
    }

    ul li {
      color:$datetimepickerTopBarColor;
    }
  }

  .days {
    background: $datetimepickerDaysBGColor;

    li {
      color:$datetimepickerDaysColor;
    }

    li:hover {
      color: $datetimepickertopbarBGColor;
    }
    .active {
      background: $datetimepickertopbarBGColor;
      color: $datetimepickerActiveColor;
    }

    .currentMonth{
      font-weight:bold;
    }
  }
}

.datetimepicker1{
  background: $datetimepickerBGColor;

  .datetimepickertopbar {
    background: $datetimepickertopbarBGColor;

    ul {
    }

    ul li {
      color:$datetimepickerTopBarColor;
    }
  }

  .days {
    background: $datetimepickerDaysBGColor;

    li {
      color:$datetimepickerDaysColor;
    }

    li:hover {
      color: $datetimepickertopbarBGColor;
    }
    .active {
      background: $datetimepickertopbarBGColor;
      color: $datetimepickerActiveColor;
    }

    .currentMonth{
      font-weight:bold;
    }
  }
}

.datetimepicker-up{
  bottom: 100%;
}


.datetimepicker:disabled{

  background-color: $componentDisabledBGColor;
  color: $componentDisabledFontColor;
}


@media screen and (max-width: 600px) {
  .datetimepicker .days .date-today{
    padding-top: 1%;
    padding-left: 36%;
  }
}
