.btncolor {
    background-color: $componentActiveBGColor;
    color: $componentActiveFontColor;
}

.btncolor:hover {
    background-color: $componentHoverBGColor;
    color: $componentHoverFontColor;
}

.nonecls {
    border-color: black !important;
}

.redcls {
    border-color: red !important;
}

.greencls {
    border-color:green !important;
}