
.root-window{
  background:$dialogueBG;
}
.dialogue-content{
  background-color: $dialogueContentBG;
}

.dialogue-material-design{
  background-color: white;
  color: black;
}
.dialogue-header{
  background: $dialogueHeaderBG;
  color: $dialogueHeaderColor;
}

.dialogue-footer{
  background-color: $cardFooterBGColor;
  color: $cardFooterColor;
}


.dialogue-success {
  color: $dialogueSuccessColor;
}
.dialogue-danger {
  color: $dialogueDangerColor;
}
.dialogue-warning {
  color: $dialogueWarningColor;
}
