
.dockbar {
  float: left;
  width: 70px;
  //border: $borderSize solid $borderColor;
  position: relative;
  border-top: $dockBarSize solid $dockBarColor;
  border-bottom: 5px solid $dockBarBGColor;
}

/* Style the buttons inside the tab */
.dockbar button {
  display: block;
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: $dockBarSize solid $dockBarColor;
  border-left: $dockBarSize solid $dockBarColor;
  height: 50px;
}

/* Create an active/current "tab button" class */
.dockbar button.active {
  border-left: $dockBarActiveBorderSize solid $dockBarActiveBorderColor;
}

.dockbar-label-highlight {
  font-weight: bold;
}

.dockbar-item-close-bar{
  font-size: 24px;
  float: right;
  font-weight: 500;
  cursor: pointer;
}
.dockbar-title{
 font-size: 17px;
 font-weight: 500;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid $dockBarActiveBorderColor;
}


.dockbar-active-content{
  border-top: $dockBarActiveBorderSize solid $dockBarActiveBorderColor;
  border-right: $dockBarActiveBorderSize solid $dockBarActiveBorderColor;
  border-bottom: $dockBarActiveBorderSize solid $dockBarActiveBorderColor;
  height: 100%;
}


.dockbar-height {
  overflow-y: auto;
  overflow-x: hidden;
}
.dockbar-height::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.dockbar-height::-webkit-scrollbar
{
  width: 6px;
}

