
$dropdownMenuFontSize : 100%;
$dropdownMenuFontWeight : 400;

$dropdownMenuBorderColor : $borderColor;
$dropdownMenuBGColor : $componentBGColor;

$dropdownMenuHoverColor : $componentHoverFontColor;
$dropdownMenuHoverBGColor : $componentHoverBGColor;

$dropdownMenuActiveColor : $componentActiveFontColor;
$dropdownMenuActiveBGColor : $componentActiveBGColor;

$dropdownMenuHeaderBGColor : $componentHeaderBGColor;
$dropdownMenuHeaderFontBGColor: $componentHeaderFontColor;







