
.dropdown-menu {
  position: relative;
  display: inline-block;
  font-size: 16px !important;
  padding: 16px;
  cursor: pointer;
}
.dropdown-menu-content {
  display: block;
  position: absolute;
  flex-direction: column;
  min-width: 180px;
  cursor: pointer;
  z-index: 1;
  padding: 10px 0px;
  overflow-y: auto;
}

.dropdown-menu-content a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px !important;
  padding: 10px;
  display: block;
}
.menu-right{
  right:10px;
}

.dropdown-list::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //background-color: $sidenavScrollColor;
  }
  
  .dropdown-list::-webkit-scrollbar {
  width: 6px;
  //background-color: $sidenavScrollColor;
  }
  
  .dropdown-list::-webkit-scrollbar-thumb {
  //background-color: $sidenavScrollThumbColor;
  }
  