
.dropdown{
  background-color: $componentBGColor;
}

.dropdown-list .list-items:hover{
  color: $dropdownHoverColor;
  background-color: $dropdownHoverBGColor;
}

.dropdown-list .list-items-active{
  color: $dropdownActiveColor;
  background-color: $dropdownActiveBGColor;
}

.drodown-caret-down{
  color: $dropdownIconColor;
}

.list-items-selected{
  background-color:$dropdownHoverBGColor;
  color:$dropdownHoverColor;
}

.dropdown-list::-webkit-scrollbar-track
{
background-color: $dropdownScrollColor;
}

.dropdown-list::-webkit-scrollbar
{
//width: 6px;
background-color: $dropdownScrollColor;
}

.dropdown-list::-webkit-scrollbar-thumb
{
background-color: $dropdownScrollThumbColor;
}