
$dropdownListFontSize : 100%;
$dropdownListFontWeight : 400;
$dropdownBG: $componentBGColor;
$dropdownBorderColor : $borderColor;
$dropdownActiveColor : $componentActiveFontColor;
$dropdownActiveBGColor : $componentActiveBGColor;

$dropdownHoverColor : $componentHoverFontColor;
$dropdownHoverBGColor : $componentHoverBGColor;

$dropdownIconColor: $componentFontColor;