.weekdaycomponent {
    display: block;
    border: 1px solid #ced4da;
    box-shadow: 0 1px 3px 0 #ced4da;
}

.availableweekday{
    color: $primaryColor;
    background-color: $primaryBGColor;
    cursor: pointer;
}
 
.notavailableweekday {
    text-decoration: line-through;
    cursor: not-allowed;
    color: lightgray;
}
