.calendar-header {
    background-color: $calendarHeaderBGColor;
    color: $calendarHeaderColor;
}

.calendar-header-items {   
    border: 1px solid $calendarBorderColor;
}

.calendar-box-items {
    border: 1px solid $calendarBorderColor;
}

.calendar-inactive {    
    opacity: 0.5;
}

.calendar-active-box {
    background-color: $calendarActiveBGColor;
    color: $calendarActiveColor;
    border: 1px solid $calendarBorderColor;
}


.calendar-week-active-timeslot{
    background-color: $calendarActiveBGColor;
    color: $calendarActiveColor;
}

.calendar-year-month-hasevent{
    color: $calendarActiveColor1;
    cursor: pointer;
}

.calendar-active-custom-color{
    height: 100%;
    margin: 0px -5px;
}
.calendar-active-1{
    background-color: rgb(244, 164, 96);
    color: rgb(33, 17, 2);
}
.calendar-active-2{
    background-color: rgb(139, 0, 139);
    color: rgb(255, 250, 255);
}

.calendar-active-3{
    background-color: rgb(0, 191, 255);
    color: rgb(0, 5, 7);
}

.calendar-active-4{
    background-color: rgb(29, 0, 139);
    color: rgb(255, 250, 255);
}

.calendar-active-5{
    background-color: rgb(46, 139, 87);
    color: rgb(240, 250, 244);
}

.calendar-active-6{
    background-color: rgb(255, 127, 80);
    color: rgb(36, 10, 0);
}

.calendar-active-7{
    background-color: rgb(255, 215, 0);
    color: rgb(36, 30, 0);
}

.calendar-active-8{
    background-color: rgb(255, 153, 0);
    color: rgb(36, 21, 0);
}

.calendar-active-9{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.calendar-box-items:focus{
    background-color: $calendarActiveBGColor;
    color: $calendarActiveColor;
    outline: none;
}

.calendar-user-active:focus{
    background-color: $calendarActiveBGColor !important;
    outline: none;
}

.focuscls:focus{
    background-color: $calendarActiveBGColor;
    outline: none;
}

// .calendar-year-month-today:focus{
//     background-color: $calendarActiveBGColor;
//     outline: none;
// }