
.calendar-header{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 24px;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
}

.calendar-header-items {   
    padding: 0.571em 1em;
    text-align: center;
}

.calendar-mainbox  {
    vertical-align: top;
}

.calendar-scroller{
    height: 100%;
    overflow: auto;
}

.calendar-box-items {
    padding: 0.571em 1em;
    vertical-align: top;
    text-align: right;
}


.calendar-bg {
    position: absolute; 
    top:0; 
    left: 0;
    bottom: 0;
}

.calendar-user-content{
    position: relative; 
    padding-top: 20px;
}

.calendar-user-active{
    font-size : 15px;
}

.calendar-user-active-timeslot{
    font-size : 10px;
}

.calendar-week-timeslot{
    font-size : 10px;
    border-top: 0px;
    border-bottom: 0px;
}

.calendar-week-timeslot  .calendar-week-timeslotseries-div{
    margin-top : -15px;
    min-height: 60px;
}


.calendar-week-day-timeslot{
    min-height: 60px; 
}


.calendar-week-active-timeslot{
    position: absolute; 
    padding: 0px 5px;
    text-align: left;
    cursor: pointer;
}

.calendar-ul{
    list-style: none;
    list-style-position: inside;
    padding: 10px 2px;
}    
 
.calendar-li{
     padding-left: 5px;
     padding-bottom: 5px;
     cursor: pointer;
}

.calendar-navigation{
    padding-left:20px; 
    margin-top:2px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}


.calendar-year {
    flex-direction: row; 
    box-sizing: border-box; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.calendar-year-box
{
    text-align: center; 
    padding:10px; 
    flex: 0 0 25%; 
    max-width: 50%;
    box-sizing: border-box; 
    padding: 5px; 
    flex-wrap: wrap;
}

.calendar-year-month{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px; 
    line-height: 24px;
}

.calendar-year-month-today{
    height:100%; 
    width: 100%;
}