.calendar-header {
    background-color: $calendarHeaderBGColor;
    color: $calendarHeaderColor;
}

.calendar-header-items {   
    border: 1px solid $calendarBorderColor;
}

.calendar-box-items {
    border: 1px solid $calendarBorderColor;
}

.calendar-inactive {    
    opacity: 0.5;
}

.calendar-active-box {
    background-color: $calendarActiveBGColor;
    color: $calendarActiveColor;
    border: 1px solid $calendarBorderColor;
}


.calendar-week-active-timeslot{
    background-color: $calendarActiveBGColor;
    color: $calendarActiveColor;
}