/*----------------------------------------------------------------------*/
/*        Enterprise - Visual COMPONENT         */
/*----------------------------------------------------------------------*/

.content-title {
  //width: 100%;
  font-size: $eeContentTitleFontSize; 
  color: $eeContentColor;    //theme color?
}

.content-area{
  color: $eeContentColor;
}

/* Button Related CSS */
.content-button {
//  font-size: 70%;
  color: $eeContentColor;    //theme color?
}

header .billboard .content-button {
  font-size: 70%;
  color: $eeContentColor;    //theme color?
}

.content-button i {
  font-size: 10px;
  color: $eeContentColor;
}

.content-button-small i {  
  font-size: 12px;
  color: $eeContentColor;      //theme color?
  
}
.close-button {
  color: gray;    //theme color?

}
