
$eeTitleColor1 : rgba(0,0,0,0.9);
$eeTitleColor2 : rgba(0,0,0,0);
$eeTitleColor1 : rgba(0,0,0,0.9);
$eeTitleColor2 : rgba(0,0,0,0);
$eeTitleDisplay : #000;
$eeTitleColor : white;

$tileFontSize : 20px;
$tileDetFontSize : 10px;
$controlColor : dimgrey;
$controlFontSize  : 1em;
$subtitleFontSize : 6pt;
$textColor:$componentActiveFontColor;
$textBGColor : transparent;
$matchColor : lightgreen;
$actionColor : red;
$actionBGColor : transparent;
