
.close-button {
  color:$youtubeColor;
  background: radial-gradient(ellipse at top right, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

.close-button i:hover {
  color:$youtubeHoverColor;
}
