.fpClass amexio-floating-panel div {
    bottom: 0px;
    z-index: 300 !important;
    }
    
    .fpRightClass amexio-floating-panel div {
      bottom: 0px;
      right: 0px;
      z-index: 300 !important;
      }