
$fieldsetFontSize : 13px;
$fieldsetFontWeight : bold;

$fieldSetBorderSize : $borderSize;
$fieldSetBorderColor : $borderColor;

$collapsibleLegendColor : $componentFontColor;
$collapsibleHovColor : $componentHoverBGColor;
$collapsibleHovFontColor : $componentHoverFontColor;
