
fieldset {
  border: $fieldSetBorderSize solid $fieldSetBorderColor;
  border-radius: 2px;
}

.collapsible-legend {
  padding: 5px 10px;
  font-size: 13px;
  margin-left: 20px;
  box-shadow: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
.collapsible-legend:focus{
  outline: none;
  background-color: $collapsibleHovColor;
  color: $collapsibleHovFontColor;
}

.collapsible-fieldset {
  overflow: inherit;
}

.collapsible-fieldset.active {
  height: auto;
}
