.upload-drop-zone {
  border-style: dashed;
  line-height: 200px;
  text-align: center
}
/**SPECIAL SETTING REQUIRED FOR FIREFOX***/

input:required {
  box-shadow:none;
}

textarea:required{
  box-shadow:none;
}

.image-title{
  display: none;
}

.file-upload-box{ 
  //position: fixed; 
  list-style-type: none;
  float:left;
  z-index: 1;
}

.file-upload-name{
  padding : 20;
  margin: 5px;
}

.file-upload-size{
  padding-left : 70px;
  margin: 5px;
}