
.floatingbutton{
    
    z-index: 3;
    text-align:center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-color: $borderColor;
    cursor: pointer;
  }

  .floatingbutton-relative{
    position: relative;
  }
  .floatingbutton-fixed{
    position: fixed;
  }
  
  .floatingbutton-left{
    left:5%;
  }
  
  .floatingbutton-right{
    right:5%;
  }
  
  .floatingbutton-top{
    top:10%;
  }
  

  .floatingbutton-bottom{
    bottom:10%;
  }

  .floatingbutton-center{
    top:50%;
    left: 50%;
  }
   

  .floatingbutton-circle{
      border-radius: 50px;
      width:60px;
      height:60px;
      line-height: 60px;
  }


  .floatingbutton-circle-large{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  .floatingbutton-circle-small{
      border-radius: 50px;
      width: 30px;
      height: 30px;
      line-height: 30px;
  }  
  .floatingbutton-square{
      padding: .5rem 1rem;
  }
  .floatingbtntooltip {
    position: relative;
    display: inline-block;
  }
  
  .floatingbtntooltip .floatingbtntooltiptext {
    visibility: hidden;
    line-height: 20px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 209%;
    margin-left: -60px;
  }
  
  .floatingbtntooltip:hover .floatingbtntooltiptext {
    visibility: visible;
  }