.creative-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
}

.creative-header .creative-header-div {
    height: auto;
}

.creative-header>* {
    padding-right: 10px;
    margin-top: 0px;
    
}

.creative-header-icon-div{
    position:absolute; 
    right:0%;
     padding:5px 10px;
}


.header-ce{
    padding:10px;
    position:relative;
    display:flex;
}


.header-div-ce{
    display:flex;
    flex-grow:50;
    flex-direction:row;
}
.header-content-ce{
    display:flex;
    flex-direction:column;
}

.header-inner-div-ce{
    flex-grow: 1;
    flex-direction:row
}


