.header-ce{
    padding:10px;
    position:relative;
    display:flex;
}


.header-div-ce{
    display:flex;
    flex-grow:50;
    flex-direction:row;
}
.header-content-ce{
    display:flex;
    flex-direction:column;
}

.header-inner-div-ce{
    flex-grow: 1;
    flex-direction:row
}