$homepageTopnavLHS: $componentHeaderBGColor;
$homepageTopnavLHSColor: $componentHeaderFontColor;
$homepageTopnavRHS: $componentBGColor;
$homepageSideNavBG: $componentBGColor;
$homepageSideNavColor : $componentHoverFontColor;
