$homepageTopnavBGColorLHS: $componentHeaderBGColor;
$homepageTopnavLHSColor: $componentHeaderFontColor;
$homepageTopnavBGColorRHS: $componentBGColor;
$homepageTopnavColorRHS: $componentFontColor;
$homepageSideNavBG: $appHeaderBGColor;
$homepageSideNavColor: $appHeaderFontColor;