amexio-homepage-northpanel .topnav {
    padding: 0px;
}

amexio-homepage-northpanel .topnav-lhs {
    flex: 0 0 19%;
    max-width: 19%;
}

amexio-homepage-northpanel .topnav-lhs-mobile {
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
}

amexio-homepage-northpanel .topnav-lhs-mobile>div {
    flex-grow: 1;
}

amexio-homepage-northpanel .topnav-lhs-mobile .mobilebar {
    flex-grow: 1;
}

amexio-homepage-northpanel .topnav-lhs-mobile>div>span {
    padding: 0px !important;
}

amexio-homepage-northpanel .topnav-rhs {
    flex-grow: 1;
}

amexio-homepage-northpanel .topnavbarunit1-mobile {
    padding-left: 45px;
}

amexio-homepage-westpanel .homepage-westpanel {
    padding-top: 50px;
}

amexio-homepage-centerpanel .homepage-centerpanel {
    padding: 10px;
    padding-top: 15px;
}

amexio-homepage-northpanel .top-nav-button {
    padding-left: 0px;
}

.homepage-1 .sidenav::-webkit-scrollbar,
.homepage-2 .sidenav::-webkit-scrollbar {
    width: 3px;
}

.homepage-centerpanel-flex {
    flex-grow: 1;
    padding-top: 50px;
}