
.profile-image img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.profile-image a {
  text-transform: capitalize;
  
}

.image-small{
  width: 50px;
  height: 50px;
}

.image-round{
  border-radius: 50%;
  vertical-align: middle;
}

.profile-image-round img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
.image-responsive{
  max-width: 100%;
  width: 100%;
  border-top: 1px solid $imageBorder;
  border-bottom: 1px solid $imageBorder;
  margin-top: 10px;
  margin-bottom: 10px;
}


