.profile-image img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.profile-image a {
    text-transform: capitalize;
}

.image-small {
    width: 50px;
    height: 50px;
}

.image-round {
    border-radius: 50%;
    vertical-align: middle;
}

.profile-image-round img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.image-responsive {
    max-width: 100%;
    width: 100%;
    border-top: 1px solid $imageBorder;
    border-bottom: 1px solid $imageBorder;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create two equal columns that sits next to each other */

.image-column {
    flex: 50%;
    padding: 0 4px;
}

.image-column img {
    margin-top: 8px;
    vertical-align: middle;
}

.image-grayscale {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.image-invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.image-sepia {
    filter: sepia(50);
    -webkit-filter: sepia(50);
}

.image-saturate {
    filter: saturate(5);
    -webkit-filter: saturate(5);
}

.image-blur {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.image-brightness {
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
}

.image-contrast {
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
}

.image-hue {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.image-opacity {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

.image-shadow {
    -webkit-filter: drop-shadow(8px 8px 10px $imageShadow);
    filter: drop-shadow(8px 8px 10px $imageShadow);
}

//Image Component Responsive
.img-fluid {
    //position: relative;
    max-width: 100%;
    height: auto;
    //display: block;
}

.img-container:hover .overlay-fade {
    opacity: 1;
}

.img-container {
    position: relative;
    //width: 50%;
    width: fit-content;
    height: auto;
    //color: white;
}

.overlay {
    //position: absolute;
    background-color: $imageOverlayFadeBG;
    text-align: center;
}

.overlay-text {
    color: $imageOverlayFadeText;
    font-size: $imageOverlayFadeTextSize;
    // position: absolute;
    // text-align: center;
}

.overlay-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    // background-color: $imageOverlayFadeBG;
}

.overlay-fade-text {
    // color: $imageOverlayFadeText;
    // font-size: $imageOverlayFadeTextSize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-box {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container:hover .image-fluid {
    opacity: 0.3;
}

.img-container:hover .overlay-box {
    opacity: 1;
}

.overlay-box-text {
    background-color: $imageOverlayFadeBG;
    position: initial !important;
    padding: 16px 32px;
}

.overlay-title-text {
    position: absolute;
    bottom: 0;
    background: $imageTitleBG;
    /* Black see-through */
    color: $imageTitleFontColor;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    // padding: 20px;
    text-align: center;
}

.overlay-text p {
    text-align: center;
    font-size: $imageParaSize;
}

.overlay-title {}

.img-container:hover .overlay-title-text {
    opacity: 1;
}

.overlay-slide-top {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.img-container:hover .overlay-slide-top {
    bottom: 0;
    height: 100%;
}

.overlay-slide-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-slide-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.img-container:hover .overlay-slide-bottom {
    height: 100%;
}

.overlay-slide-bottom-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-slide-right {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.img-container:hover .overlay-slide-right {
    width: 100%;
    left: 0;
}

.overlay-slide-right-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-slide-left {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.img-container:hover .overlay-slide-left {
    width: 100%;
}

.overlay-slide-left-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.image-title {
    display: block;
    color: $imageTitleFontColor;
    position: absolute;
    font-size: $imageTitleSize;
    padding: 5px;
    background: $imageTitleBG;
}


/* Bottom left text */

.image-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


/* Top left text */

.image-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* Top right text */

.image-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


/* Bottom right text */

.image-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* Centered text */

.image-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  .img-relative {
    position: relative;
  }
  
  .img-absolute {
    position: absolute;
  }