
/*----------------------------------------------------------------------*/
/*        INPUT CONTROL COMPONENT -Visual      */
/*----------------------------------------------------------------------*/
$inputFontSize:1rem;
$inputTooltipBGColor : $componentHoverBGColor ;
$inputTooltipFontColor : $componentHoverFontColor ;

$inputControlColor : $componentFontColor;
$inputControlBGColor : $componentBGColor;
$inputFontSize : 14px;

$inputBorderColor : $borderColor;
$inputBorderSize : $borderSize;

$searchBGColor : $componentBGColor;

$inputDisabledBG  : $componentDisabledBGColor;