
.inputgroup {
  position: relative;
}

.inputgroup > label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input-control-disabled{
  
  opacity: 0.55;
  cursor: not-allowed;
  //background-color:$inputDisabledBG;

}
.input-control {
  width: 100%;
  padding: .375rem 0;
  line-height: 2;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid $inputBorderColor;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
}

.input-control:focus {
  outline: none;
}

.input-control-feedback{
  position: absolute;
  top: 30px;
  right: 0;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}
.inputgroup .tooltiptext {
  border: $inputBorderSize solid $inputBorderColor;
  position: absolute;
  z-index: 1;
  padding-left:5px;

}