
/*----------------------------------------------------------------------*/
/*        INPUT CONTROL COMPONENT -Visual      */
/*----------------------------------------------------------------------*/

.input-control {
  font-size: $inputFontSize;  
  background-color: $inputControlBGColor;
  color: $inputControlColor;
}

::placeholder {
  color: $placeholderColor;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholderColor;
}
::-ms-input-placeholder { /* Microsoft Edge */
 // padding-left: 15px;
  color: $placeholderColor;
}
.input-control:focus {
  border-color: $borderColor-focus;
}
.input-control-success {
  border-color:$success;
}
.input-control-error {
  border-color:$error!important;
}
.input-control-feedback .success {
  color: $success;;
}
.input-control-feedback .error {
  color: $error;
}
.inputgroup .tooltiptext {
  background-color: $inputTooltipBGColor;
}
