
/*----------------------------------------------------------------------*/
/*        ITEM SELECTOR COMPONENT -Visual        */
/*----------------------------------------------------------------------*/

$itemselectorActionBGColor : $componentHeaderBGColor ;
$itemselectorActionColor : $componentHeaderFontColor;
$itemselectorActionDisableBGColor : $componentDisabledBGColor;
$itemselectorListActiveBGColor : $componentActiveBGColor;
$itemselectorListHoverBGColor : $componentHoverBGColor;
$itemselectorListActiveColor : $componentActiveFontColor;
$itemselectorListHoverColor : $componentHoverFontColor;

$itemselectorFontWeight : 400 ;

.item-selector-action-panel{

  .actionbar{

    .actionbarinner{
    .action{
        background-color: $itemselectorActionBGColor;
        color: $itemselectorActionColor;
      }

      .actiondisable{
        background-color: $itemselectorActionDisableBGColor;
      }
    }
  }
}

.itemselector-list-active{
  background-color: $itemselectorListActiveBGColor;
  //color : $itemselectorListActiveColor;
}  
  
.itemselector-list:hover{
    background-color: $itemselectorListHoverBGColor;
    //color : $itemselectorListHoverColor;
}
  

