
/*----------------------------------------------------------------------*/
/*        Label COMPONENT -Visual        */
/*----------------------------------------------------------------------*/

.bg-yellow{
  color : $themeFontColor;
  background-color:#ffeb3b;
}

.bg-light-grey{
color : $themeFontColor;
  background-color:#f1f1f1;
}
.bg-pale-red{
color : $themeFontColor;
  background-color:#ffdddd;
}
.bg-pale-green{
color : $themeFontColor;
  background-color:#ddffdd;
}
.bg-pale-yellow{
color : $themeFontColor;
  background-color:#ffffcc;
}
.bg-pale-blue{
  color : $themeFontColor;
  background-color:#ddffff;
}
