$largeFontSize : 36px;
$mediumFontSize : 20px;
$smallFontSize : 18px;
$large44FontSize: 44px;
$large50FontSize: 50px;
$large56FontSize: 56px;
$large78FontSize: 78px;

$labelBadgeBGColor: $componentHeaderBGColor;
$labelHeaderColor: $componentHeaderFontColor;