
.label-content{
  
}
.label-badge{
  margin-left: 10px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  
}

.large{
  font-size: $largeFontSize;
  line-height: 34px;
  
}
.medium{
  font-size: $mediumFontSize;
  
}

.small{
  font-size: $smallFontSize;

}

.large-bold{
  font-size: $largeFontSize;
  font-weight: bold;
  line-height: 40px;
}

.medium-bold{
  font-size: $mediumFontSize;
  font-weight: bold;
 
}

.small-bold{
  font-size: $smallFontSize;
  font-weight: bold;
 
}

.large-44{
  font-size: $large44FontSize;
}

.large-44-bold{
  font-size: $large44FontSize;
  font-weight: bold;
  line-height: 45px;
}

.large-50{
  font-size: $large50FontSize;
}

.large-50-bold{
  font-size: $large50FontSize;
  font-weight: bold;
  line-height: 55px;
}

.large-56{
  font-size: $large56FontSize;
}

.large-56-bold{
  font-size: $large56FontSize;
  font-weight: bold;
  line-height: 60px;

}

.large-78{
  font-size: $large78FontSize;
}

.large-78-bold{
  font-size: $large78FontSize;
  font-weight: bold;
  line-height: 70px;
}