
/*----------------------------------------------------------------------*/
/*        Label COMPONENT -Visual        */
/*----------------------------------------------------------------------*/

.highlight{
  color:$themeFontColor;;
  background-color:#ffeb3b;
}

.default{
  color:$themeFontColor;
}