
.label-content{
}

.large{
  font-size: $largeFontSize;
}

.medium{
  font-size: $mediumFontSize;
}

.small{
  font-size: $smallFontSize;
}

.large-bold{
  font-size: $largeFontSize;
  font-weight: bold;
}

.medium-bold{
  font-size: $mediumFontSize;
  font-weight: bold;
}

.small-bold{
  font-size: $smallFontSize;
  font-weight: bold;
}
