
/*----------------------------------------------------------------------*/
/*        LISTBOX COMPONENT - Structure     */
/*----------------------------------------------------------------------*/
$listScrollBGColor : $componentHeaderBGColor;
$listScrollThumbBGColor : $scrollThumbColor;
$listBoxFontSize:100%;
$listBoxFontWeight : 400;
$listBoxListHoverBGColor : $componentHoverBGColor;
$listBoxBGColorOdd : none;

$listBoxBGColor : $componentBGColor;
$listBoxColor : rgba(0,0,0,0.87);
$listTitleFontSize : 18px;
$listTitleAFontSize : 16px;


.listbox{
  margin-bottom: 1rem;
  border: $borderSize solid $borderColor;
}

.listbox-height {
  overflow-y: auto;
  overflow-x: hidden;
}

.listbox-height::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //background-color: #F5F5F5;
}

.listbox-height::-webkit-scrollbar
{
  width: 6px;
  //background-color: #F5F5F5;
}

.listbox-height::-webkit-scrollbar-thumb
{
  //background-color: $themeBGColor;
}


.listbox .list{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  //font-size: 100%;
  list-style: none;
}

.listbox .list .list-items{
  list-style: none;
  border-bottom: $borderSize solid $borderColor;
  cursor: pointer;
  //font-weight: 400;
  margin: 1px 0;
  padding: 10px;
  text-align: left;

  /*to remove and chk --imp*/
  .datatable{
    border: none;
    border-collapse:inherit;
  }


  .datatable-row:nth-child(odd){
  //  background: none;
  }


}

.listbox .list .list-items:hover{
//  background-color: darken($backgroundcolor, 5%);
}


.listbox .list{
  //background-color: white;

  .title {
    float: left;
    //font-size: 18px;
    //color: rgba(0,0,0,0.87);
    //padding-top: 8px;
    a {
      // font-size: 16px;
      // color: rgba(0,0,0,0.54) !important;
      text-transform: lowercase;
    }
  }
}