
.menu-right{
  //right:10px;
}

.menu-container {
 // margin: 0 auto;

}

.menubar .menuheader {
  // margin: 0 auto;
  // width: 100%;
  // list-style: none;
  // padding: 0;
  // position: relative;
  // box-sizing: border-box;
  // display: table;
}

.menubar  .menuheader .menulink {
  // //width: 100%;
  // float: left;
  // padding: 0;
  // margin: 0;
  // cursor: pointer;
}
.menubar  .menuheader .menulink a {
  // text-decoration: none;
  // padding: 1.5em 1.5em;
  // display: block;
  color: $menubarColor;
}


.menubar .menuheader .menulink:hover {
  //background: white;
 // display: block;

  .menu-content{
  //  display: block;
  }

  a{
    color: $menuHoverFontColor;
    background-color: $menuHoverBGColor;
  }

}
.menulink:hover{
  background-color: $menuHoverBGColor;;
  color: $menuHoverColor;
}

.menu-content {
  //display: none;
  background: $subMenuCotentBGColor;
  //padding: 10px;
  // position: fixed;
  // z-index: 99;
  // box-shadow: 0 0 5px 0 $borderColor;
}


.menu-content-display{
  //display: block!important;
}

.menu-content-left{
  // left:0;
  // right:0;
}


.menu-content .menu-content-cols{
  // list-style: none; float: left; padding: 0px;
  // width: 100%;
}

.menu-content .menu-content-cols .col-menu-nodes{
  // list-style: none;
  background: $menuBGColor;
  // float: left; display: block;
  // height: 100%;
  // padding-bottom: 10px;
}

.menu-content .menu-content-cols .col-menu-nodes-fixed{
//  width: 250px;
}

.menu-content .menu-content-cols .col-menu-nodes-percentage{
//  width: 25%;
}



.menu-content .menu-content-cols .content{
//  padding-right: 10px;

}


.menu-content .menu-content-cols .content .menu-links-header{
  // border-bottom: $borderSize solid $borderColor;
  font-weight: $menuHeaderFontWeight;
  // padding: 10px;
  // cursor: pointer;
  color: $subMenuCotentColor;
}

.menu-content .menu-content-cols .content .menu-links-header:hover{
  color: $menuHoverFontColor;
  background-color: $menuHoverBGColor;;
}

.menu-content .menu-content-cols .content .menu-links-header .menutitle{
  //padding-left: 5px;
}
.menu-content .menu-content-cols .content .menulinks{
  // width: 100%;
  // padding: 5px 10px 0px 10px;
  // cursor: pointer;
  color: $subMenuCotentColor;
}

.menu-content .menu-content-cols .content .menulinks:hover{
  color: $menuHoverFontColor;
  background-color: $menuHoverBGColor;
}

.menubar .menuheader .menulink a{
  color: $menuHoverFontColor;
  // background-color: $menuHoverBGColor;
}

