// .content{
//     position: relative;
//     width: 580px;
//     margin: 0 auto;
// }
.textLeftPosition {
    width:max-content;
    padding-left: 3%;
    float: left;
    position: relative;
    }
    
    .textRightPosition {
    width:max-content;
    padding-right: 4%;
    float: right;
    position: relative;
    }
    
    .textCenterPosition {
    text-align: center;
    position: relative;
    padding-left: 30%;
    width: max-content;
    }

.bmenu {
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}

.bmenu1 a {
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px black;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}


.bmenu1 a:hover {
    /* color: black; */
    text-shadow: 0px 0px 1px $menuCeBGColor;
    padding-left: 10px;
}

// .bmenu1 a {
//     display: block;
//     text-transform: uppercase;
//     text-shadow: 1px 1px 2px $menuCeBGColor;
//     // color: #581514;
//     color: $menuCeFontColor;
//     padding: 5px 20px;
//     margin: 2px;
//     // background: rgba(255,255,255,0.2);
//     background: $menuCeBGColor;
//     letter-spacing: 1px;
//     -webkit-transform: skew(-12deg);
//     -moz-transform: skew(-12deg);
//     -o-transform: skew(-12deg);
//     -ms-transform: skew(-12deg);
//     transform: skew(-12deg);
//     -webkit-transition: all 0.4s ease-in-out;
//     -moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -ms-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
// }

// .bmenu1 a:hover {
//     background: transparent;
//     text-shadow: 1px 1px 10px rgba(89,22,20,0.6);
//     color: $menuCeHoverFontColor;
// }

.bmenu2 a{
    white-space: nowrap;
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px black;
    letter-spacing: 1px;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

.bmenu2 a:hover{
    text-shadow: 0px 0px 1px $menuCeBGColor;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

// .bmenu3 a{
//     display: block;
//     text-transform: uppercase;
//     text-shadow: 0px 0px 2px #eeb213;
//     color: $menuCeFontColor;
//     padding: 5px 20px;
//     margin: 2px;
//     background: $menuCeBGColor;
//     letter-spacing: 1px;
//     -webkit-transition: all 0.2s linear;
//     -moz-transition: all 0.2s linear;
//     -o-transition: all 0.2s linear;
//     -ms-transition: all 0.2s linear;
//     transition: all 0.2s linear;
// }

// .bmenu3 a:hover{
//     background: $menuCeHoverBGColor;
//     text-shadow: 0px 0px 1px #eeb213;
// }

.bmenu3 a{
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bmenu3 a:hover{
    color: $menuCeHoverFontColor;
    text-shadow: 0px 0px 1px black;
    padding-left: 10px;
}

// .bmenu5 a{
//     white-space: nowrap;
//     display: block;
//     text-transform: uppercase;
//     text-shadow: 1px 1px 2px rgba(71,80,23,0.3);
//     color: $menuCeFontColor;
//     padding: 5px 20px;
//     margin: 2px;
//     background: $menuCeBGColor;
//     letter-spacing: 1px;
//     -webkit-transition: all 0.4s ease-in-out;
//     -moz-transition: all 0.4s ease-in-out;
//     -o-transition: all 0.4s ease-in-out;
//     -ms-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
// }

// .bmenu5 a:hover{
//     background: transparent;
//     text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
//     color: $menuCeHoverFontColor;
// }

.bmenu4 a{
    white-space: nowrap;
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px black;
    letter-spacing: 1px;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;

} 

.bmenu4 a:hover{
    text-shadow: none;
    color: $menuCeHoverFontColor;
    background: $menuCeHoverBGColor;

    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
