

// $menuCeBGColor: $componentBGColor;
// $menuCeFontColor: $componentFontColor;

$menuCeBGColor: $componentHeaderBGColor;
$menuCeFontColor: $componentHeaderFontColor;


$menuCeHoverFontColor : $componentHoverFontColor;
$menuCeHoverBGColor : $componentHoverBGColor;
