.lbl_input{
    text-transform: uppercase;
}

.appendButton10 {
    margin-bottom: 10px;
}

.latoBold {
    font-weight: 700;
}

.fromdiv {
    padding: 5px;
    background-color: $datetimepickerDaysBGColor;
    border: $datetimepickerDaysBGColor 0px;
    color: $datetimepickerDaysFontColor;
    cursor: pointer;
    width: max-content;
    border-style: outset;
}

.fromdiv:hover {
    // background-color: aqua;
    color: $datetimeHoverColor;
    background: $datetimeHoverBG;
}

.dropicon {
    color: $datetimepickerActiveColor;
    font-weight: bolder
}
.font30 {
    font-size: 30px;
    line-height: 30px;
}

.lactoBlack {
    font-weight: 800
}


.blackText {
    color: #000;
    // color:$datetimepickerDaysColor;
}

.font20 {
    font-size: 20px;
    line-height: 20px;
}

#parentdate {
    display: block;
    /* margin:1em; */
}

.mainspan {
    display: flex;
    margin-bottom: 1px;
    // border: 1px solid black;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.datePickerContaier {
    width: 625px;
    border-radius: 4px;
    background-color: #fff;
    // box-shadow: 0 1px 6px 0 rgba(0,0,0,.2);
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 999999;
}

.dayPickerFlightWrap .RangeExample {
    display: block;
}

.fsw .dayPickerFlightWrap .RangeExample .dayPickerHeader {
    padding: 13px 10px;
    background-color: #fff;
    // box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    border-radius: 4px 4px 0 0;
}

.makeFlex {
    display: flex;
}

.dashed {
padding-top:15px;
}

.font16 {
    font-size: 16px;
    line-height: 16px;
}

.appendRight30 {
    margin-right: 30px;
}

.appendRight10{
    margin-right: 10px;
}

fsw .widgetSprite.icCalendar {
    width: 10px;
    height: 10px;
    background-position: -5px -5px;
}

.fsw .dateFiled.active .selectedDateField {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eaf5ff;
    position: relative;
}

.pointer {
    cursor: pointer;
}

.haltcursor {
opacity: 0.2;
cursor: not-allowed;
}

.fsw .dateFiled.active .selectedDateField:after {
    width: 100%;
    height: 3px;
    // background: #008cff;
    background: $datetimeHoverBG;
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
}

.datetimepicker .datetimepickertopbar {
    padding: 1px 25px;
    text-align: center;
}
/* every individual month header font color  */
.datetimepicker .datetimepickertopbar ul li {
    color: black;
}
/* every individual month header background color  */

 .datetimepicker .datetimepickertopbar {
    background: white;
}

.arrowiconshadow {
    // color:blue;
    color: $datetimepickerActiveColor;
}

.arrowiconshadow:hover {
    text-shadow: 2px 2px 5px $datetimeHoverColor    ;
}

/* .activecolortab class replica from tab */
.activecolordatetab {
    // padding-left: 8px;
    border-bottom: 2px solid $componentActiveBGColor !important ;
 }

.datesrange {
 
     background: $datetimeHoverBG;
     color: $datetimepickerDaysColor; 
     padding: 5px; 
     border-radius: 50%
}

.ab {
    display: absolute;
    overflow-y: scroll;
}

.datetabs{
    padding: 0px!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .datetabs .datetimepicker{
    box-shadow: unset;
  }