

.customRangePanel {
    cursor: pointer;
    padding: 15px;
    background-color: white; 
 }

 .customRangePanel:hover {
    color: $multiRangedatetimeHoverColor;
    background: $multiRangedatetimeHoverBG;
 }
 .customRange {
     padding-bottom: 20px;
     padding-top: 20px;
border-bottom: 3px solid $multirangedatetimepickertopbarBGColor;
 }
