 
$datetimepickerBGColor : $componentBGColor;
$datetimepickertopbarBGColor : $componentActiveBGColor;
$datetimepickerActiveColor : $themePrimaryColor;

$datetimepickerBorderSize : $borderSize;
$datetimepickerBorderColor : $borderColor;
$datetimepickerFontSize : 18px;
$datetimepickerTopBarColor :$componentHeaderFontColor;
$datetimepickerDaysColor : $componentDisabledFontColor;
$datetimepickerDaysBGColor : $componentBGColor;
$datetimepickerDaysFontColor : $componentFontColor;

$datetimepickerDaysFontSize : 14px;

$datetimeHoverBG : $appHeaderHoverBGColor;
$datetimeHoverColor : $appHeaderHoverFontColor;

$datetimeFocusBG : $componentHoverBGColor;
$datetimeFocusColor: $componentHoverFontColor;