.topnav {
    position: fixed;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px $navbarBGBoxShadow;
    z-index: 500;
}

.transparentNav {
    box-shadow: 0px 0px 0px $navbarBGBoxShadow !important;
    background-color: transparent !important;
}

.topnav-mobile {
    flex-direction: column;
    padding: 0px;
}

.topnav * {
    vertical-align: middle;
}

.top-nav-input-control {
    border-radius: 0px;
    padding: 0px 8px;
    border: none;
    border-bottom: 2px solid $navbarBorder;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
}

.top-nav-button {
    //background-color: #fff;
    border: none;
    box-shadow: none;
    //color: $navbarColor;
    cursor: pointer;
    //padding: .5rem 1rem;
    font-size: 1rem;
}

.topnav a {
    cursor: pointer;
    padding: 0px 8px;
    //color : $navbarColor
}

.topnav a label {
    //color: $navbarColor;
}

.topnavbarunit1 {
    // line-height: 50px;
    // display: flex;
}

.topnav-lhs-mobile {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.topnavbarunit2 {
    //background-color: grey;
    //width: 80%;
    // line-height: 50px;
}

.topnavbarunit2-mobile {
    width: 100%;
    //padding: 5px;
    box-shadow: 0px 0px 2px 0px $navbarBorder;
    //background-color: $navbarActiveBG;
}

.topnavmainbar {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.topnavmainbar-mobile {
    flex-direction: column;
    max-height: 500px ;
    overflow-y: auto;
    overflow-x: hidden;
}

.topnavmainbaritems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: inherit;
    align-items: center;
}

.topnavmainbaritems-mobile {
    flex-direction: column;
    align-items: unset;
}

.topnavmainbarinneritems {
    display: contents;
    padding: 0px 8px;
}

.topnavmainbarinneritems-mobile {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $navbarBorder;
}

.topnavmainbarinneritems .nav-dropdown {
    float: left;
    overflow: hidden;
}

.topnavmainbarinneritems-mobile .nav-dropdown {
    width: 100%;
    line-height: 50px;
    flex-direction: column;
    display: flex;
}

.top-nav-link {
    padding: 0px 8px;
}

.top-nav-link i {
    padding: 0px 5px;
}

.topnavmainbarinneritems-mobile .nav-dropdown .nav-dropbtn .dropdownicon {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.nav-dropdown .nav-dropbtn i {
    padding: 0px 5px;
    margin-bottom: 2px;
}

.nav-dropdown .nav-dropbtn {
    padding: 0px 8px;
}

.topnavmainbarinneritems .nav-dropdown-content {
    display: none;
    position: absolute;
    //background-color: $navbarActiveBG;
    min-width: 160px;
    z-index: 3;
    padding: 10px 0px;
    box-shadow: 0px 5px 5px $navbarBGBoxShadow;
    transition: all 0.3s ease;
    //transform: scale(0);
    transform-origin: 0 0;
}



.topnavmainbarinneritems .nav-dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    text-align: left;
    //color: $navbarColor!important;
}


// NEW CSS STARTS

.topnavmainbarinneritems .nav-dropdown-content-mobile {
    
    position: absolute;
    //background-color: $navbarActiveBG;
    min-width: 160px;
    z-index: 3;
    padding: 10px 0px;
    box-shadow: 0px 5px 5px $navbarBGBoxShadow;
    transition: all 0.3s ease;
    //transform: scale(0);
    transform-origin: 0 0;
}



.topnavmainbarinneritems .nav-dropdown-content-mobile a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    text-align: left;
    //color: $navbarColor!important;
}


// NEW CSS STARTS

.topnavmainbarinneritems-mobile .nav-dropdown-content {
    display: none;
    margin: 0px 5px;
    padding: 0px 5px;
    position: relative;
    //background-color: $navbarActiveBG;
    box-shadow: 0px 0px 0px $navbarBGBoxShadow;
}


.nodehover {
    display: none;
}

.nodehover:hover {
    background-color: $navbarComponentBGColor;
}

.nav-dropdown:hover {
    //background-color: $navbarActiveBG;
    .nav-dropbtn .dropdownicon {
        transform: rotate(180deg);
    }
    .nav-dropdown-content {
        display: block;
        //transform: scale(1);
    }

}

.nav-dropdown-content-subnode{
    display: inline-flex; 
    justify-content: space-between;
    text-decoration: none;
    //padding: 10px 10px;
    width: 100%;
    //border: 1px solid;
    background-color: $navbarBGColor;
    color: $navbarColor;
}

.nav-dropdown-content-subnode > .innersubmenunodes{
    display: none;
    //border: 1px solid;
    position: absolute;
    left: 100%;
    text-decoration: none;
    width: 100%;
    background-color: $navbarActiveBG;
   // margin-top: -10px;
}

.nav-dropdown-content-subnode > .innersubmenunodesright{
    display: none;
    //border: 1px solid;
    position: absolute;
    right: 100%;
    text-decoration: none;
    width: 100%;
    background-color: $navbarActiveBG;
   // margin-top: -10px;
}

.nav-dropdown-content-subnode:hover
{
    background-color: $navbarHoverBG;
    color: $navbarHoverColor;
}
.nav-dropdown-content-subnode:hover > .innersubmenunodes{
        display: block;
       
}
 
.nav-dropdown-content-subnode:hover > .innersubmenunodesright{
    display: block;
   
}

.submenunodes{
    display: none;
    background-color: $navbarActiveBG;
    position: absolute;
    left: 100%;
    width: 100%;
    //border: 1px solid;
    margin-top:-10px;
}

.submenunodesright{
    display: none;
    background-color: $navbarActiveBG;
    position: absolute;
    right: 100%;
    width: 100%;
    //border: 1px solid;
    margin-top:-10px;
}

.nav-dropdown-content-node{
    // display: inline-flex;
}
.nav-dropdown-content a:hover {

    .submenunodes{
        display: inline-table;
    }

    .submenunodesright{
        display: inline-table;
    }
}

.topnavmainbarinneritems-mobile .top-nav-input-control {
    width: 100%;
}

.mobilebar {
    display: inline-block;
    float: right;
    //color: $navbarColor;
    padding-right: 10px;
    padding-top: 8px;
    cursor: pointer;
}

// .topnavmainbaritems amexio-nav-item1:last-child {
//     .topnavmainbarinneritems .nav-dropdown-content {
//         right: 10px;
//     }
// }

.nav-dropdown-content-right .nav-dropdown-content {
    right: 10px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
}

.sidenav-padding {
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.sidenav-mobile-bar {
    height: 50px;
}

.sidenav-mobile-bar-left {
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    left: 0;
}

// .topnav-lhs {
//     height: 100%;
//     height: 50px;
// }
// .topnav-rhs {
//     height: 100%;
//     height: 50px;
//     flex-grow: 1;
// }
// .topnav-lhs,
// .topnav-rhs>* {
//     height: 50px;
//     align-items: center;
// }
.homepage-collapse {
    align-items: center;
}

.transparentNav1 {
    box-shadow: 0px 0px 0px $navbarBGBoxShadow !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
}

.testClass {

}

.testClass .nav-dropdown-content {
  max-height: 500px;
  right: 0px;
}

.topnavmainbarinneritems .nav-dropdown-content {
  width: 250px;
  max-width: 1000px;
  display: none;
  position: absolute;
  z-index: 3;
  padding: 10px 0px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;;
}

.topnavmainbarinneritems .nav-dropdown-content-mobile {
  width: 94%;
  display: none;
  position: absolute;
  z-index: 3;
  padding: 10px 0px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;;
}

.mobileModeNav {
  position: relative !important;
  width: 100% !important ;
  box-shadow: none !important;
  height: 250px!important;
  overflow-y:auto !important;
}


.separator-header{
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    color: $navbarColor;
    font-weight: 600;
    }
  