$navbarBGColor : $appHeaderBGColor;
$navbarBGBoxShadow : rgba(0, 0, 0, 0.6);
$navbarBorder : $borderColor;
$navbarColor : $appHeaderFontColor;
//$navbarActiveBG : $componentActiveBGColor;

$navbarActiveBG : $appHeaderMenuBGColor;
$navbarActiveColor : $appHeaderMenuFontColor;

$navbarHoverBG : $appHeaderHoverBGColor;
$navbarHoverColor : $appHeaderHoverFontColor;

$navbarComponentBGColor : $componentBGColor;
$navbarHoverFontColor : $componentHoverFontColor;

$navbarComponentColor: $componentFontColor;