/*----------------------------------------------------------------------*/
/*        NAVBAR COMPONENT    -Visual     */
/*----------------------------------------------------------------------*/
$navbarBGColor : $appHeaderBGColor;
$navbarBoxShadow: $borderColor;
$navbarColor : $appHeaderFontColor;
$navbarFontSize : 24px;

.navbar-container
{
  background-color: $navbarBGColor;
  color: $navbarColor;

  .navbar-logo{ vertical-align:middle}
  .navbar-logo-unit a{
    color:$navbarColor;
  }

  .navbar-logo-unit{
    font-size: $navbarFontSize;
    .navbar-mobile-bars{
      display: none;
    }
  }
}
