
.notification-content{
  position: fixed;
  z-index: 3;
}


.notification-vertical-top{
  top:10%;
}
.notification-vertical-center{
  left: 40%;
  top: 50%;
}
.notification-vertical-bottom{
  bottom: 10px;
}




.notification-horizontal-left{
left:10px;
}
.notification-horizontal-center{
  left: 40%;
}
.notification-horizontal-right{
  right:0px;
}


.notification {
  margin:10px;
  padding: 12px;
  bottom: 10px;
  min-width: 250px;
  //background-color: $toastBGColor;
  //color: $toastColor;s
  text-align: start;
  border-radius: 2px;

  z-index: 1;
  display: block;

  i{
    cursor: pointer;
  }
}
