
.notification-content{
  position: fixed;
  z-index: 3;
}

.notification-left{
left:10px;
}

.notification-right{
  right:0px;
}

.notification-top{
  top:10px;
}

.notification-center{
  top:50%;
  left: 50%;
}

.notification-bottom{
  bottom:10px;
}

.notification {
  margin:10px;
  padding: 10px;
  min-width: 250px;
  //background-color: $toastBGColor;
  //color: $toastColor;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  z-index: 1;
  display: block;

  i{
    cursor: pointer;
  }
}
