
$paginatorHoverBGColor : $componentHoverBGColor;
$paginatorHoverColor : $componentHoverFontColor;
$paginatorColor : inherit;
$paginatorActiveBGColor : $componentActiveBGColor;
$paginatorActiveColor : $componentActiveFontColor;

