
$paginatorHoverBGColor : $componentHoverBGColor;
$paginatorHoverColor : $componentHoverFontColor;
$paginatorColor : inherit;
$paginatorActiveBGColor : $componentActiveBGColor;
$paginatorActiveColor : $componentActiveFontColor;
$paginatorBorderColor : $borderColor;
$paginatorBorderSize : $borderSize;