
$panelBoxBorder : $themeSecondaryColor;
$panelBorder : $borderColor;

$panelAccBGColor : $componentHeaderBGColor;
$panelAccColor : $componentHeaderFontColor;
$panelBGColor : $componentBGColor;
$panelColor : $componentFontColor;
$panelFontSize : 15px;
$panelAfterColor : red;
$panelFontWeight : bold;
$panelScrollBG : $scrollBGColor;
$panelScrollThumbBG : $scrollThumbColor;

$panelHoverBGColor: $componentHoverBGColor;
$panelHoverFontColor: $componentHoverFontColor;
