


.circularProgress {
    border: 2px solid #f2f2f2;
    background-color:$progressCeBGColor ;
  }

  /* FOR RADIAL */
  
  .radial {
    background-color: $progressCeBGColor;
  }
  
  /*  FOR RING */
  .ring {
    background-color: $progressCeBGColor;
  }
  
  
  