
.progress {
  height: 20px; /* Can be anything */
  position: relative;
  /*background: #555;*/
  
}

.progress > span {
  text-align: center;
  display: block;
  height: 100%;

  position: relative;
  overflow: hidden;
}

.progress > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  z-index: 1;
  
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.nostripes > span > span, .nostripes > span:after {
  -webkit-animation: none;
}
