
$rangeSliderFontSize : .7em;
$sliderWidgetBGColor : $componentBGColor;
$sliderWidgetColor: $themeFontColor;
$sliderWidgetFontSize :1em;
$rangeSliderBGColor :$componentHeaderBGColor;

$rangeWidgetBG1:$componentBGColor;
$rangeWidgetBG2:$componentBGColor;
$rangeHeaderColor : $componentHeaderFontColor;
$rangeHeaderFontWeight : normal;
$sliderBGColor : $componentDisabledBGColor;
$sliderHoverColor : $componentHoverBGColor;