

/*----------------------------------------------------------------------*/
/*        RATING COMPONENT -Visual   */
/*----------------------------------------------------------------------*/
$ratingStarColor : $borderColor;
$ratingStarFontSize : 2em;
$ratingIconColor : $componentHeaderBGColor;
$ratingDisabledColor : $componentDisabledBGColor;
$ratingIconFontSize : 50px;

$ratingBorderColor : $borderColor;
$ratingActiveColor : $componentHeaderBGColor;

.rating i{
  font-style: normal;
}

.star-icon {
  color: $ratingStarColor;
  font-size: $ratingStarFontSize;
}
.star-icon:before {
  color: $ratingActiveColor;
}
.rating.disabled .star-icon:before {
  color: #ECECEC;
}
@-moz-document url-prefix() { /* Firefox Hack */
  .star-icon {
    font-size: 50px;
  }
}