
  .rich-text-editor {
    border-radius: 5px;
    margin: 2px;
    overflow-x: hidden;
    padding: 1px;
   }

 
  .rich-first-div { 
    resize: both;
    border-radius: 5px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
   
  }
  .rich-editor-buttons {
    border: 0;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    width: 100%;
    margin: 9px 0px;
    text-align: start;
    padding: 5px 0px;
  }
  .rich-button {
    width: auto;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
    padding: 0px !important;
    box-shadow: none;
  }
 
  .rich-button .button-small {
    padding: 3px !important;
  }
  
  .rich-button .button-small span {
    padding: 0px !important;
  }

  .hidden-input {
    position: absolute;
    width: 1px;
    left: -10000px;
    top: auto;
    height: 1px;
    overflow: hidden;
  }
  .heading-dropdown {
    width: auto;
    padding: .375rem 0;
    background: white;
    line-height: 2;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--componentFontColor);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .heading-dropdown:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    cursor: pointer;
    color: black;
  }


.rich-text-editor::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //background-color: #F5F5F5;
}

.rich-text-editor::-webkit-scrollbar
{
  width: 6px;
  //background-color: #F5F5F5;
}

.rich-text-editor::-webkit-scrollbar-thumb
{
  //background-color: $themeBGColor;
}

.rich-seperator {
 
  margin-right: 16px;
}
.rich-right-space {
  margin-right: 5px;
}
.rich-editor-buttons amexio-layout-columns amexio-layout-item {
  padding: 0px 5px !important;
}