
$richEditorHoverFontColor: $componentHoverFontColor;
$richEditorHoverBGColor: $componentHeaderBGColor;

$richEditorScrollBG : $scrollBGColor;
$richEditorScrollThumbBG : $scrollThumbColor;

// $richEditorHoverBGColor: $componentHoverBGColor;
$richEditorHoverFontColor: $componentHoverFontColor;

$richEditorBGColor: $componentBGColor;

$richEditorBorderColor : $borderColor;