
$richEditorHoverFontColor: $componentHoverFontColor;
$richEditorHoverBGColor: $componentHoverBGColor;

$richEditorScrollBG : $scrollBGColor;
$richEditorScrollThumbBG : $scrollThumbColor;


$richEditorHoverBGColor: $componentHoverBGColor;
$richEditorHoverFontColor: $componentHoverFontColor;