/* You can add global styles to this file, and also import other style files */

.roundEdgeCommonCss {
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce{
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce amexio-header-ce .creative-header-div{
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container-ce button{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-header-ce {
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-header-ce button{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-header-ce div .creative-header {
    border-radius: 10px 10px 0px 0px
}

.roundEdgeCommonCss amexio-action-ce div .creative-footer {
    border-radius: 0px 0px 10px 10px;
}

.roundEdgeCommonCss amexio-action-ce div .creative-footer button{
    border-radius: 10px;
}

.roundEdgeCommonCss .box-content{
    border-radius: 10px;  
}

.roundEdgeCommonCss .box-content button{
    border-radius: 10px;  
}

.roundEdgeCommonCss .panel-panel{
    border-radius: 0px 0px 10px 10px
}

.roundEdgeCommonCss .panel-accordion{
    border-radius: 10px 10px 0px 0px
}

.roundEdgeCommonCss .panel-without-header {
    border-radius: 10px;   
}

.roundEdgeCommonCss .card-header{
    border-radius: 10px 10px 0px 0px;
}

.cardBorderClass {
    border-radius: 10px;
}

.roundEdgeCommonCss .card-container {
    border-radius: 10px;
}

.roundEdgeCommonCss .card-footer button{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-accordion-tab button {
    border-radius: 10px;
}

.roundEdgeCommonCss .activebgcolortab{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .dialogue-content {
    border-radius: 10px;
}

.roundEdgeCommonCss .dialogue-content header{
    border-radius: 10px;
}

.roundEdgeCommonCss .floatingpanel-header{
    border-radius: 10px 10px 0px 0px
}

.roundEdgeCommonCss .card-container-body{
    border-radius: 10px;

}

.roundEdgeCommonCss .modal-window-header{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .modal-window-footer{
    border-radius: 0px 0px 10px 10px;
}
.roundEdgeCommonCss .modal-window-footer button{
    border-radius: 10px;
}

.roundEdgeCommonCss .amexio-badge{
    border-radius: 10px;
}

.roundEdgeCommonCss .datetimepickertopbar{
    border-radius: 10px 10px 0px 0px; 
}

.roundEdgeCommonCss .datetimepickertopbar div .days{
    border-radius: 10px; 
}

.roundEdgeCommonCss .datetimepicker1{
    border-radius: 10px;
}

.roundEdgeCommonCss .notification{
    border-radius: 10px;
}


/* Class: progress */
.roundEdgeCommonCss .progress .success{   
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss .progress{   
    border-radius: 10px;
}

.roundEdgeCommonCss .progress .warning{   
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss .progress .danger{   
    border-radius: 10px 0px 0px 10px;
}

.roundEdgeCommonCss .progress .stripped {
    border-radius: 10px;
}

/* class: pageginator-pages */
.roundEdgeCommonCss .paginator-pages .paginator-page{
    border-radius: 10px;
}


.roundEdgeCommonCss .timeline-item .timeline-panel-float-right{
    border-radius: 10px;
}

.roundEdgeCommonCss .timeline-item .timeline-panel-float-left{
    border-radius: 10px;
}


.roundEdgeCommonCss .listbox{
    border-radius: 10px;
}

.roundEdgeCommonCss .header{
    border-radius: 10px;
}
/* listbox */
.roundEdgeCommonCss .listbox .header{
    border-radius: 10px 10ox 0px 0px;
}

/* breadcrum-rightshift-css */
.roundEdgeCommonCss .breadcrumb-group:hover{
    border-radius: 10px;
}

.roundEdgeCommonCss amexio-dockbar-item .dockbar-active-content{
    border-radius: 0px 10px 10px 0px;
}

.roundEdgeCommonCss .dropdown-menu {
    border-radius: 10px;
}

.roundEdgeCommonCss .menu-content{
    border-radius: 10px;
}

.roundEdgeCommonCss .datapoints{
    border-radius: 10px;
}

.roundEdgeCommonCss .datePickerContainer{
    border-radius: 10px 10px 0px 0px;
}

.roundEdgeCommonCss .weekdaycomponent{
    border-radius: 10px;
}

.roundEdgeCommonCss .weekdaycomponent .datetimepicker1{
    border-radius: 10px;
}

.activebgcolortab .amexio-root-window-content-ce div{
    border-radius: 10px;
}

.activebgcolortab .color-palette{
    border-radius: 10px 0px 0px 10px;
}

.activebgcolortab .color-slider{
    border-radius: 0px 10px 10px 0px;
}

.activebgcolortab .main-content{
    border-radius: 10px;
}