//btn icon color also and for search form background and search box bg
$dropdownBG: $componentBGColor;
$searchFontColor: $componentFontColor;
$dropdownIconColor: $componentHeaderFontColor;

//use for hr color also
$dropdownBorderColor : $borderColor;
$dropdownActiveColor : $componentActiveFontColor;
$dropdownActiveBGColor : $componentActiveBGColor;
$dropdownHoverColor : $componentHoverFontColor;
$dropdownHoverBGColor : $componentHoverBGColor;
$dropdownlistFontColor:$componentActiveFontColor;

 $searchButton: $primaryBGColor;
//btniconcolor
$searchButtonColor: $primaryColor;
 $formHeaderColor:$componentHeaderFontColor ;

  