.sidenav-mobile-bar {
    top: 10px;
    position: relative;
    //color: $sidenavColor;
    z-index: 3;
}
.sideInnerNodeCss {
    display: inline-flex;
    width:100%;
}

.sideInnerNodeFlex {
    flex-grow:1;
}
.sidenav-mobile-bar-left {
    top: 10px;
    // padding: 10px;
    position: fixed;
    //color: white;
    z-index: 9900;
    left: 0;
}

.sidenav-submenu-details .tablink {
    padding: 0px;
}

.sidenav-mobile-bar-right {
    top: 10px;
    // padding: 10px;
    position: fixed;
    //color: white;
    z-index: 3;
    right: 0;
}

.sidenav {
    //height: 100%;
    overflow: auto;
    // background-color: $sidenavBGColor;
    // color: $sidenavColor;
    z-index: 1;
}

.sidenav::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //background-color: $sidenavScrollColor;
}

.sidenav::-webkit-scrollbar {
    width: 6px;
    //background-color: $sidenavScrollColor;
}

.sidenav::-webkit-scrollbar-thumb {
    //background-color: $sidenavScrollThumbColor;
}

.left {
    left: 0;
    position: fixed;
    overflow: auto;
    //background-color: $sidenavBGColor;
    z-index: 1;
    box-shadow: 0 0 5px 0 $sidenavBorderColor;
}

.right {
    right: 0;
    position: fixed;
    overflow: auto;
    //background-color: $sidenavBGColor;
    z-index: 1;
    box-shadow: 0 0 5px 0 $sidenavBorderColor;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav ul li {
    padding-left: 20px;
}

.sidenav .title {
    cursor: pointer;
    // background-color: $sidenavTitleBGColor;
    // color: $sidenavTitleColor;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100%;
    margin-left: -100%;
}

.sidenav .headernode {
    cursor: pointer;
    // background-color: $sidenavHeaderBGColor;
    // color: $sidenavHeaderColor;
    padding: 13px 0px 13px 17px;
    padding-left: 100%;
    margin-left: -100%;
    display: inline-flex;
    width: 100%;
    }
    
    .sidenav .headernodeSeparator {
    cursor: pointer;
    padding: 13px 0px 13px 17px;
    padding-left: 100%;
    margin-left: -100%;
    border-top: 1px solid #ced4da !important;
    }

.sidenav .headernodeSeparator .node-icon {
    padding-right: 20px;
}

.sidenav .defaultnode {
    cursor: pointer;
    padding: 13px 0px 13px 17px;
    padding-left: 100%;
    margin-left: -100%;
}

.sidenav .defaultnode:hover {
    //background-color: $sidenavactive;
}

.sidenav .activenode {
    //background-color: $sidenavactive;
}

.sidenav .border {
    padding-left: 100%;
    margin-left: -100%;
    border-bottom: $sidenavBorderSize solid $sidenavBorderColor;
}

.sidenav .headernode .node-icon {
    padding-right: 20px;
}

.sidenav .defaultnode .node-icon {
    padding-right: 20px;
}

.sidenav-submenu-details {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.submenu-details {
    overflow: hidden;
    height: auto;
    max-height: 0;
    // transition: max-height 0.5s ease-in-out;
}

.sidenav-submenu-expanded {
    max-height: 10000px;
    overflow: auto;
}

.nav-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
