
$sidenavHeaderBGColor:$componentBGColor;
$sidenavHeaderColor:$componentFontColor;
$sidenavBGColor : $componentBGColor;
$sidenavColor: $componentFontColor;
$sidenavactive:$componentActiveBGColor;
$sidenavactiveColor: $themePrimaryColor;
$sidenavBorderColor: $borderColor;
$sidenavBGHoverColor:$componentHoverBGColor;
$sidenavHoverColor: $componentFontColor;

$sidenavColorMob : $componentFontColor;
$sidenavMobileColor : $componentActiveFontColor;
$sidenavScrollColor : $scrollBGColor;
$sidenavScrollThumbColor : $scrollThumbColor;
$sidenavTitleColor:$componentFontColor;
$sidenavTitleBGColor : $componentBGColor;
