
$sidenavHeaderBGColor:$componentBGColor;
$sidenavHeaderColor:$componentFontColor;
$sidenavBGColor : $componentBGColor;
$sidenavColor: $componentFontColor;
$sidenavactive:$componentActiveBGColor;
$sidenavActiveColor: $componentActiveFontColor;
$sidenavactiveColor: $themePrimaryColor;
$sidenavBorderColor: $borderColor;
$sidenavBorderSize: $borderSize;
$sidenavBGHoverColor:$componentHoverBGColor;
$sidenavHoverColor: $componentHoverFontColor;

$sidenavColorMob : $componentFontColor;
$sidenavMobileColor : $appHeaderFontColor;
$sidenavScrollColor : $scrollBGColor;
$sidenavScrollThumbColor : $scrollThumbColor;
$sidenavTitleColor:$componentFontColor;
$sidenavTitleBGColor : $componentBGColor;
