.bubble{
    background: $bubbleItemBGColor;
}
.speecharrowleft:after{
    border-color: transparent $bubbleItemBGColor;
}

.speecharrowright:after {
    border-color: transparent $bubbleItemBGColor;
}

.speecharrowbottomleft:after{
    border-color: transparent $bubbleItemBGColor;
}

.speecharrowbottomright:after{
    border-color: transparent $bubbleItemBGColor;
}
.speecharrowtopleft:after{
    border-color: transparent $bubbleItemBGColor;
}
.speecharrowtopright:after{
    border-color: transparent $bubbleItemBGColor;
}
