
.step-label-highlight {
  // color: $stepsLabelHighlight;
  // font-weight: bold;
}
.stepwizard-step p {
  margin-top: 0px;
  //color: #666;
}
// .stepwizard-row {
//   display: table-row;

// }

.stepwizard-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
 
}
.step-block-icon-disable{
  cursor :not-allowed;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  //background-color: $stepsBGColor;
  z-index: 0;
}
// .stepwizard-step {
//   display: table-cell;
//   text-align: center;
//   position: relative;
//   //cursor : not-allowed;
// }

.stepwizard-step {
  width: 100%;
  display: table-cell;
  text-align: center;
  position: relative;
  
}

.btn-circle {
  text-align: center;
  vertical-align: middle;
  //font-size: 12px;
  border-radius: 50%;

  display: inline-block;
  //font-weight: 400;
  line-height: 1.25;

  white-space: nowrap;
  outline: none;
  user-select: none;
  border: 1px solid $stepsBorderColor;
  transition: all .2s ease-in-out;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.step-box-sqaure{
  width: 100%;
  display: table;
  table-layout: fixed;
}
.step-box-table{
  display: table-row;
}

.step-box-table-item{
  width: 2px;
  display: table-cell;
  //background-color: $stepsBGColor;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  border: 1px solid $stepsBorderColor;
  //font-weight: bolder;
  padding-top: 5px;
  cursor: pointer;
}

.step-box-table-item.active{
  //background-color: $stepsInActiveBGColor!important;
  cursor : default;
}

.step-box-table-item.disbaled{
  //background-color: $stepsDisabled;
  cursor : not-allowed;
}
//STEP INDEX INACTIVE
.index-step-inactive{
  //background-color: lighten($stepsInActiveBGColor,30%);
  cursor: not-allowed;
}

//Step Box inactive hover effect
.step-box-table-item-hover:hover{
  //background-color: lighten($stepsInActiveBGColor,30%);
  cursor: pointer;
}
