$stepWizardColor: $appBackground;
$stepWizardFontColor: $componentFontColor;
$stepWizardBorderColor:$borderColor;
$stepWizardActiveBGColor: $themePrimaryColor;
$stepWizardCompletedColor: $themeSecondaryColor;
$stepWizardDefaultColor:$componentDisabledBGColor;

$stepWizardHoverFontColor: $componentHoverFontColor;
$stepWizardHoverBGColor: $componentHoverBGColor;