
$steppColor : $componentDisabledBGColor;
$stepsFontSize  : 12px;

$stepsActiveBGColor : $componentActiveBGColor;
$stepsHoverBGColor : $componentHoverBGColor;
$stepHoverFontColor : $componentHoverFontColor;
$stepsColor : $componentFontColor;
$stepsBGColor : $appBackground;
$stepsLabelHighlight : $componentHeaderFontColor;
$stepsBorderColor:$borderColor;
$stepsDisabled : $componentDisabledBGColor;
$stepsDisabledColor : $componentDisabledFontColor;
$stepsInActiveBGColor:$componentDisabledBGColor;
