.verticalnavtab .defaultnode {
    //cursor: pointer;
    background-color: $tabBGColor;
    color: $tabActiveColor;
    //padding: 10px;
}

.verticalnavtab .leftactivetab {
    background-color: $tabActiveBGColor;
    font-weight: bold;
    color: $tabActiveColor;
    //border-right: $tabActiveBorderSize solid $tabActiveBorder;
}

.verticalnavtab .leftactiverotatetab {
    background-color: $tabActiveBGColor;
    font-weight: bold;
    color: $tabActiveColor;
    //border-right: $tabActiveBorderSize solid $tabActiveBorder;
}

.rightactivetabrotate{
 background-color: $tabActiveBGColor;
    font-weight: bold;
    color: $tabActiveColor;
    //border-left: $tabActiveBorderSize solid $tabActiveBorder;
}

.disabled-tab {
    //color : $tabDisabledColor;
    // background-color: $tabDisabledBG !important;
}

.verticalnavtab .rightactivetab {
    background-color: $tabActiveBGColor;
    //font-weight: bold;
    color: $tabActiveColor;
    //border-left: $tabActiveBorderSize solid $tabActiveBorder;
}
.tabcontent::-webkit-scrollbar-track
{
  background-color:$tabScrollBGColor;
}
.tabcontent::-webkit-scrollbar
{
  background-color: $tabScrollBGColor;
}

.tabcontent::-webkit-scrollbar-thumb
{
  background-color: $tabScrollThumbColor;
}


/** Theme Colors for Tab*/

$amexioColorRed: #dc143c;
$amexioColorGreen: #208d4f;
$amexioColorPurple: #8b008b;
$amexioColorBlue: #00008b;
$amexioColorBrown: #800000;
$amexioColorYellow: #FFFF00;
$amexioColorBlack: #000000;
$amexioColorOrange: #FFA500;
$amexioColorPink: #FF69B4;

/** CSS Class definitions for the Amexio Colors --- */


/** Amexio Colors --- 
   Crimson: #dc143c rgb(220,20,60,0.0);
   fffafb: #fffafb rgb(255,250,251,0.0);
*/

.amexio-bottom-tab-red {
    color: $amexioColorRed;
    border-top: 1px solid $amexioColorRed !important;
}


/** Amexio Colors --- 
   SeaGreen: #2e8b57 rgb(46,139,87,0.0);
   f0faf4: #f0faf4 rgb(240,250,244,0.0);
*/

.amexio-bottom-tab-green {
    border-top: 1px solid $amexioColorGreen !important;
    color: $amexioColorGreen;
}


/** Amexio Colors --- 
   DarkMagenta: #8b008b rgb(139,0,139,0.0);
   fffaff: #fffaff rgb(255,250,255,0.0);
*/

.amexio-bottom-tab-purple {
    border-top: 1px solid $amexioColorPurple !important;
    color: $amexioColorPurple;
}


/** Amexio Colors --- 
   DarkBlue: #00008b rgb(0,0,139,0.0);
   f5f5ff: #f5f5ff rgb(245,245,255,0.0);
*/

.amexio-bottom-tab-blue {
    border-top: 1px solid $amexioColorBlue !important;
    color: $amexioColorBlue;
}


/** Amexio Colors --- 
   SandyBrown: #f4a460 rgb(244,164,96,0.0);
   211102: #211102 rgb(33,17,2,0.0);
*/

.amexio-bottom-tab-brown {
    border-top: 1px solid $amexioColorBrown !important;
    color: $amexioColorBrown;
}


/** Amexio Colors --- 
   Gold: #ffd700 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-bottom-tab-yellow {
    border-top: 1px solid $amexioColorYellow !important;
    color: $amexioColorYellow;
}


/** Amexio Colors --- 
   Pink: #FF69B4 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-bottom-tab-pink {
    border-top: 1px solid $amexioColorPink !important;
    color: $amexioColorPink;
}


/** Amexio Colors --- 
   Orange: #FFA500 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-bottom-tab-orange {
    border-top: 1px solid $amexioColorOrange !important;
    color: $amexioColorOrange;
}

/** Amexio Colors --- 
   Black: #FFA500 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-bottom-tab-black {
    border-top: 1px solid $amexioColorBlack !important;
    color: $amexioColorBlack;
}

/** CSS Class definitions for the Amexio Colors --- */


/** Amexio Colors --- 
   Crimson: #dc143c rgb(220,20,60,0.0);
   fffafb: #fffafb rgb(255,250,251,0.0);
*/

.amexio-top-tab-red {
    color: $amexioColorRed;
    border-bottom: 1px solid $amexioColorRed !important;
}


/** Amexio Colors --- 
   SeaGreen: #2e8b57 rgb(46,139,87,0.0);
   f0faf4: #f0faf4 rgb(240,250,244,0.0);
*/

.amexio-top-tab-green {
    border-bottom: 1px solid $amexioColorGreen !important;
    color: $amexioColorGreen;
}


/** Amexio Colors --- 
   DarkMagenta: #8b008b rgb(139,0,139,0.0);
   fffaff: #fffaff rgb(255,250,255,0.0);
*/

.amexio-top-tab-purple {
    border-bottom: 1px solid $amexioColorPurple !important;
    color: $amexioColorPurple;
}


/** Amexio Colors --- 
   DarkBlue: #00008b rgb(0,0,139,0.0);
   f5f5ff: #f5f5ff rgb(245,245,255,0.0);
*/

.amexio-top-tab-blue {
    border-bottom: 1px solid $amexioColorBlue !important;
    color: $amexioColorBlue;
}


/** Amexio Colors --- 
   SandyBrown: #f4a460 rgb(244,164,96,0.0);
   211102: #211102 rgb(33,17,2,0.0);
*/

.amexio-top-tab-brown {
    border-bottom: 1px solid $amexioColorBrown !important;
    color: $amexioColorBrown;
}


/** Amexio Colors --- 
   Gold: #ffd700 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-top-tab-yellow {
    border-bottom: 1px solid $amexioColorYellow !important;
    color: $amexioColorYellow;
}


/** Amexio Colors --- 
   Pink: #FF69B4 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-top-tab-pink {
    border-bottom: 1px solid $amexioColorPink !important;
    color: $amexioColorPink;
}


/** Amexio Colors --- 
   Orange: #FFA500 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-top-tab-orange {
    border-bottom: 1px solid $amexioColorOrange !important;
    color: $amexioColorOrange;
}

/** Amexio Colors --- 
   Black: #FFA500 rgb(255,215,0,0.0);
   241e00: #241e00 rgb(36,30,0,0.0);
*/

.amexio-top-tab-black {
    border-bottom: 1px solid $amexioColorBlack !important;
    color: $amexioColorBlack;
}

.table1 {
    display: table;
    padding: 5px;
}

.table1 .tablerow {
    display: table-row;
}

.table1 .tablerow .tablecol {
    display: table-cell;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.table1:focus{
    background-color: $tabFocusBGColor;
    color: $tabFocusColor;
    outline: none !important;
}