
.verticalnavtab .defaultnode{
  //cursor: pointer;
  background-color: $tabBGColor;
  color: $tabColor;
  //padding: 10px;
}

.verticalnavtab .leftactivetab {
  background-color: $tabActiveBGColor;
  font-weight: bold;
  color : $tabActiveColor;
  //border-right: $tabActiveBorderSize solid $tabActiveBorder;
}

.disabled-tab{
  //color : $tabDisabledColor;
  background-color: $tabDisabledBG !important;
}
.verticalnavtab .rightactivetab {
  background-color: $tabActiveBGColor;
  //font-weight: bold;
  color : $tabActiveColor;
  //border-left: $tabActiveBorderSize solid $tabActiveBorder;
}
