$timeinputBGColor : $themePrimaryColor;
$timeinputColor : $componentHeaderBGColor;
$timelineLineColor: $componentActiveBGColor;
$timeinputFontSize : 11px;
$timeBorderColor : $borderColor;
$timeBorderSize : $borderSize;
$timeIconColor : $componentHoverBGColor;
$timeBadgeColor : $themePrimaryColor;

$timeBorderColor: $appHeaderMenuBGColor;