$timeinputBGColor : $themePrimaryColor;
$timeinputColor : $componentFontColor;
$timeinputFontSize : 11px;
$timeBorderColor : $borderColor;
$timeBorderSize : $borderSize;
$timeIconColor : $componentHoverBGColor