

.timeline{
  overflow: hidden;
}
.timeline-event{
  position: relative;
  width: 100%;
  padding : 5px;
}
.timeline-event-container{
  position: relative;
}
.timeline-event-container::before{
  content: '';
  position: absolute;
  margin-left:17px;
  height: 100%;
  width: 3px;
  background:$timeBorderColor;
}

.timeline-event-icon{
  position: relative;
  margin-top: .5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $timeinputColor,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05);
}
.timeline-event-contents{
    display: flex;
}
.timeline-event-content{
position: relative;
//background: grey;
padding: 1em;
//-webkit-box-shadow: 0 3px 0 grey;
//box-shadow: 0 3px 0 grey;
width: 100%;
margin: 0px 0px 10px 10px;
}
.timeline-event-content::before{
content: '';
position: absolute;
top: 16px;
right: 100%;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid $timeIconColor;
}
.timeline-event-content2{
position: relative;
padding: 1em;
width: 100%;
margin: 0px 0px 10px 10px;
}
.timeline-event-icon .fa{
  display: -webkit-box ;
  font: normal normal normal 14px/1 FontAwesome ;
  font-size: inherit;
  display: block ;
  width: 24px t;
  left: 60% !important;
  margin-left: 11px ;
  margin-top: -12px ;
  margin-top: 30% ;
  padding-top: 3%;
}
