/* You can add global styles to this file, and also import other style files */

amexio-layout amexio-layout-item {
  padding: 5px;
}

.timeline * {
  box-sizing: border-box;
}

.card-container{
  height: unset!important;
}

/* Timeline */
.timeline {
  padding: 20px;
  position: relative;
  display: block;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
}

.timelineleft:before{
  right: 2%;
  margin-left: -1.5px;
}

.timelineright:before{
  left: 2%;
  margin-left: 0%;
}

.timelinecenter:before{
  left: 50%;
  margin-left: -1.5px;
}

.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display:  block;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  background-color: #333;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-badge-center {
  left: 50%;
  margin-left: -25px;
}

.timeline-badge-left {
  left: 0%;
  margin-left: -11px;
}

.timeline-badge-right {
  right: -0.75%;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  padding: 10px;
}

.timeline .timeline-item .timeline-panel-center{
  width: 45%;
}

.timeline .timeline-item .timeline-panel-left{
  width: 96%;
}

.timeline .timeline-item .timeline-panel-right{
  width: 96%;
}

.timeline .timeline-item .timeline-panel-border{
  border: 1px solid #777;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline .timeline-item  .timeline-panel-float-left{
  float: left;

}
.timeline-panel-float-left:before {
  position: absolute;
  right: -16px; 
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #777;
  border-right: 0 solid #777;
  border-bottom: 16px solid transparent;
  content: " ";
} 

.timeline .timeline-item  .timeline-panel-float-right{
  float: right;
  
}
.timeline-panel-float-right:before {
  left: -16px;
  transform: rotate(180deg);
  position: absolute;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #777;
  border-right: 0 solid #777;
  border-bottom: 16px solid transparent;
  content: " ";
} 
 




