
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;  
  height: 34px;
  vertical-align: middle
}

.toggle input {display:none;}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  border :$toggleBorderSize solid $toggleBorderColor;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  //background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  //background-color: $primaryBGColor;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px $toggleBorderColor;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.round {
  border-radius: 34px;
  border :$toggleBorderSize solid $toggleBorderColor;
}

.round:before {
  border-radius: 50%;
}
