

.toggle-slider {
  background-color: $toggleBGColor;
}

.toggle-slider:before {
  background-color: $toggleBGBeforeColor;
}

input:checked + .toggle-slider {
  background-color: $toggleBGChecked;
}
