
$toggleBGColor : $componentBGColor;
$toggleBGBeforeColor : $componentActiveBGColor;
$toggleBGChecked :$componentHoverBGColor;
$toggleFGChecked :$componentHoverFontColor;
$toggleBorderSize :$borderSize ;
$toggleBorderColor: $borderColor;