.toolbar{
    background-color: $toolbarBackgroundColor;
}
.toolbaritemseperatorleft{
    border-left: 1px solid $toolbarSeperatorColor;
}
.toolbaritemseperatorright{
    border-right: 1px solid $toolbarSeperatorColor;
}