
.treeview{
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: .25em;
  white-space: nowrap;
}

.treenode{
  //width: 100%;
  padding-left: 10px;
  transition: .5s;
  background-attachment: scroll;
  //background-color: transparent;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat-y;
  list-style: none outside none;
  margin: 0;
  // padding: .125em 0 0 0;
}

.treenode-content{

}

.treenode-toggler{
  cursor: pointer;
  position: relative;
  padding-top: 10px;

}

.treenode-empty-space {
  padding-left: 15px;
}

.treenode-label {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.treenode-children {
  margin: 0;
  padding: 0 0 0 1em;
  -moz-transition: expand .5s;
  -ms-transition: expand .5s;
  -o-transition: expand .5s;
  -webkit-transition: expand .5s;
  transition: expand .5s;
}
.tree-node-label {
  white-space:nowrap;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.tree-node-label-hover {
  width: 95%
}

.tree-badge{
margin-left: 10px;
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border-radius: 10px;
}


.context-menu-list{
  display: block;
  position: absolute;
  flex-direction: column;
  min-width: 180px;
  cursor: pointer;
  max-height: 150px;
  z-index: 1;
  padding: 10px 0px;
  overflow-y: auto;
  background-color: $contextMenuBGColor !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
 }

 .context-menu-list .context-menu-list-items{
  text-decoration: none;
  display: inline-block;
  font-size: 14px !important;
  padding: 5px;
  display: block;
}

