
.treenode{
  background-color: $treenodeBGColor;  
}

.treenode-content:hover{
  background-color: $treeNodeHoverBGColor;
  color: $treeNodeHoverColor
}

.treenode-label-active{
  background-color: $treeNodeActiveBGColor;
  color:$treeNodeActiveColor;
}
