
$modalBGColor : $componentBGColor;
$modalFontColor : $componentFontColor;
$modalHeaderBGColor : $componentHeaderBGColor;
$modalHeaderFontSize : 20px;
$modalHeaderColor : $componentHeaderFontColor;
$modalWindowFontSize : 14px;
$modalWindowScrollColor : $scrollBGColor;
$modalWindowScrollThumbColor : $scrollThumbColor;
$modalFooterBGColor : $componentFooterBGColor;
$modalFooterColor : $componentFooterFontColor;

$modalBorderColor : $borderColor;
$modalBorderSize : $borderSize;
