

.root-window{
  background-color: $modalBGColor; /* Black w/ opacity */
}
.modal-window-content{
  background-color: $modalBGColor;
}

.modal-window-material{
  background-color: white;
  font-size: 20px;
  color: black;
}
.modal-window-header{
  background: $modalHeaderBGColor;
  font-size: $modalHeaderFontSize;
  color: $modalHeaderColor;
}
.modal-window-header .toolbar {
  background: #290500;
  font-size: 20px;
  color: #ffedeb;
}

.modal-window-middle{
  font-size: $modalWindowFontSize;
}
.modal-window-middle::-webkit-scrollbar-track
{
  background-color: $modalWindowScrollColor;
}
.modal-window-middle::-webkit-scrollbar
{
  background-color: $modalWindowScrollColor;
}
.modal-window-middle::-webkit-scrollbar-thumb
{
  background-color: $modalWindowScrollThumbColor;
}
.modal-window-footer{
  background-color: white;
  color: $modalFooterColor;
}
