.amexio-root-window-ce {
    background: rgba(128, 127, 127, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    left: 0;
}
.amexio-root-window-content-ce{
    position: relative;
}
.amexio-root-window-content-ce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96%;
    padding: 5px;
}

.amexio-root-window-content-ce>* {
     padding: 0px;
}








/* .amexio-root-window-content-ce .window-middle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.amexio-root-window-content-ce .window-middle::-webkit-scrollbar {
    width: 6px;
    height: 6px;
} */


