/* WINDOW */

.amexio-root-window {
    background: rgba(128, 127, 127, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    left: 0;
}

.amexio-root-window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96%;
    margin-top: 5%;
}
.amexio-root-window-content{
    position: relative;
}

.amexio-root-window-content>* {
    padding: 10px 16px;
}

.amexio-layout-columns-height {
    height: unset;
}

@media only screen and (max-width: 600px) {
    .amexio-root-window-content {
        width: 100%;
    }
}

.window-middle {
    line-height: 24px;
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $componentBGColor;
    color: $componentFontColor;
    max-height: 100%;
    outline: none;
}

.modal-window-header {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
}

.modal-window-footer {
    display: flex;
}

.modal-window-material-footer {
  background-color: white;
  color: black;
}

.model-maximize {
    width: 100%;
    height: 100%;
    top: 0;
}

.content-max-height .window-middle {
    height: 100%;
}

.amexio-root-window-content .window-middle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.amexio-root-window-content .window-middle::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

  amexio-window-header {
  width: 100%;
  display: inline-flex;
  }
  amexio-window-header > amexio-toolbar {
  flex-grow: 1;
  }
  
  amexio-window-header > amexio-toolbar > .toolbar{
  padding: 0px;
  }