.amexio-root-window {
    background-color: $modalBGColor;
    /* Black w/ opacity */
}

.modal-window-header {
    background: $modalHeaderBGColor;
    font-size: $modalHeaderFontSize;
    color: $modalHeaderColor;
}

.modal-card-header {
    // background: $modalHeaderBGColor;
    font-size: $modalHeaderFontSize;
    color: $modalHeaderColor;
}

.modal-window-header .toolbar {
    background: $modalHeaderBGColor;
    font-size: 20px;
    color: #ffedeb;
}

.amexio-root-window-content {
    font-size: $modalWindowFontSize;
}

.amexio-root-window-content .window-middle::-webkit-scrollbar-track {
    background-color: $modalWindowScrollColor;
}

.amexio-root-window-content .window-middle::-webkit-scrollbar {
    background-color: $modalWindowScrollColor;
}

.amexio-root-window-content .window-middle::-webkit-scrollbar-thumb {
    background-color: $modalWindowScrollThumbColor;
}

.modal-window-footer {
    background: $modalBGColor;
    color: $modalFontColor;
}